

<script id="XXX_page_template" type="text/x-handlebars-template">
	
	{{#if node_render}}

{{#each data.data.components}}
	{{album_element_create @key this ../name ../editor ../use_cropped ../page_template_images ../ready_cb @root.data.data.components null}}
{{/each}}

	{{else}}

	<div class="page {{spine_class}} horizontal-vertical-center-absolute" data-index="{{index}}" data-page-id="{{page-id}}" data-name="{{name}}" style="width:{{data.context.width}}px; height:{{data.context.height}}px; /*box-shadow: -7px 6px 20px 1px rgba(55,55,55,.2); -webkit-appearance: none; -webkit-box-shadow: -7px 6px 20px 1px rgba(55,55,55,.2); -moz-box-shadow: -7px 6px 20px 1px rgba(55,55,55,.2); */ /*overflow:hidden;*/ /*z-index:1000;*/" data-width="{{data.context.width}}" data-height="{{data.context.height}}">
		
		<div class="page-middle"></div>

	{{#each data.data.components}}
		{{album_element_create @key this ../name ../editor ../use_cropped ../page_template_images ../ready_cb @root.data.data.components null}}
	{{/each}}

	{{#unless editor}}
		<div class="page-none-editor-cover hide" style=""></div>
	{{/unless}}

	{{!-- DO BLEEDS --}}
	{{#if editor}}
		{{> bleeds_template}}
	{{/if}}

	</div>

	{{/if}}

</script>

<script id="page_template" type="text/x-handlebars-template">
	
{{#if node_render}}

	<div class="page_inner image-container-actions horizontal-vertical-center-absolute" style="z-index:1; {{page_inner_size this.sizes}}">
	
	{{#each data.data.components}}
		{{album_element_create @key this ../name ../editor ../use_cropped ../page_template_images ../ready_cb @root.data.data.components null}}
	{{/each}}

	</div> {{!--  /* END div of class page_inner */  --}}

	{{background_if_exists "" "" name editor use_cropped page_template_images ready_cb this.data.data.components null}}

{{else}}

	<div class="page  {{template_if_template}} {{spine_class}} {{ifCond_val_or_empty editor "==" true "editor-"}}horizontal-vertical-center-absolute" data-index="{{index}}" data-page-id="{{page-id}}" data-name="{{name}}" style="width:{{data.context.use_page_width_with_units}}; height:{{data.context.use_page_height_with_units}}; /*box-shadow: -7px 6px 20px 1px rgba(55,55,55,.2); -webkit-appearance: none; -webkit-box-shadow: -7px 6px 20px 1px rgba(55,55,55,.2); -moz-box-shadow: -7px 6px 20px 1px rgba(55,55,55,.2); */     /*overflow:hidden;*/ clip-path: inset(-2px -2px -2px -2px); /*z-index:1000;*/" {{!-- data-width="{{data.context.width}}" data-height="{{data.context.height}} --}} ">
	
	<!-- 	
	<div class="page_inner image-container-actions horizontal-vertical-center-absolute" style="z-index:1; {{page_inner_size this.sizes}}">
 	-->
 	<div class="page_inner horizontal-vertical-center-absolute" style="z-index:1; {{page_inner_size this.sizes}}">

		{{#if editor}}
			{{page_middle}}
		{{/if}}
		
		{{#each @root.ordered_components}}
			{{album_element_create this.[0] this.[1] ../name ../editor ../use_cropped ../page_template_images ../ready_cb @root.data.data.components null ../previewer ../options}}
		{{/each}}

	</div> {{!--  /* END div of class page_inner */	 --}}

	{{#if_cover_background_simulation this}}
		{{cover_background_simulation}}
	{{else}}
		{{background_if_exists "" "" name editor use_cropped page_template_images ready_cb this.data.data.components null}}
	{{/if_cover_background_simulation}}

	{{#unless editor}}
		<div class="page-none-editor-cover hide" style=""></div>
	{{/unless}}

	{{!-- DO BLEEDS --}}
	{{#if editor}}
		{{> bleeds_template}}
	{{/if}}

	</div>

{{/if}}

</script>

<script id="page-header" type="text/x-handlebars-template">

	<div class="page-container-header horizontal-center-absolute" style="top:{{this.top}}px; width:{{this.width}}px;"> 
	              
	  <div class="left-side" style="flex:1; position:relative;">
	    

      <div class="toggler right vertical-center-absolute" style="z-index:9999; left:0px; color:#333; /*top:0px;*/">
        <div style="font-size:1em; letter-spacing:0px; width:auto; text-align:center;">
          <i class="material-icons" style="display:block; font-size:30px; margin-top:1px;">menu_book</i>
          <div style="white-space:nowrap; margin-top:-4px; font-weight:lighter;"><%=t('btns.top-bar.all-pages').titleize%></div>
        </div>
      </div>

	  </div>
	  
	  <div class="center" style="width:260px; /*flex:3*/; position:relative; text-align:center; display:flex; background:#f0f2f2;">
	    
	    <div class="left-side" style="width:20px;">
	    	<div class="left-side toggler left-scroll vertical-center-absolute" style="left:0;  width:25px; height:25px; font-size:1.2em; outline:0px solid #aaa; color:#777;">
	    		<i class="material-icons" style="">arrow_left</i>
	    	</div>
	    </div>
	    <div class="header-center-text" style="flex:1;">
	      <div class="txt horizontal-vertical-center-absolute txt"></div>
	    </div>
	    <div class="right-side" style="width:20px;">
	    	<div class="right-side toggler right-scroll vertical-center-absolute" style="right:0; width:25px; height:25px; font-size:1.2em; outline:0px solid #aaa; color:#777;">
	    		<i class="material-icons" style="">arrow_right</i>
	    	</div>
	    </div>


	  </div>
	  
	  <div class="right-side" style="flex:1; position:relative; text-align:center;">
	    
	  </div>

	</div>
</script>	

<script id="page-actions" type="text/x-handlebars-template">
<!-- <div class="page-actions image-container-actions horizontal-center-absolute" style="top:{{this.top}}px; width:{{this.width}}px; height:35px; margin:0 auto; z-index:1003;"> -->
<div class="page-actions horizontal-center-absolute" style="top:{{this.top}}px; width:{{this.width}}px; height:35px; margin:0 auto; z-index:1003;">	

  <div class="btn-toolbar" role="toolbar" style="height:100%; display:flex;">
    
    <div class="btn-group align-middle" role="group" style="white-space:nowrap; flex:1; display:block; text-align:right; /*margin-right:50px;*/ height:100%;">
      
      <a href="#" class="image-btn action-undo btn btn-secondary" style="">
        <span>
          <i class="material-icons">undo</i>
        </span>  
      </a>
      
      <a href="#" class="image-btn action-redo btn btn-secondary" style="">
        <span>
          <i class="material-icons">redo</i>
        </span>
      </a>

      <%-if customer_templates_setting_button || @product.template?%>
      <a href="#" class="image-btn action-template-settings btn btn-secondary" style="float:left;">
        <span>
          <i class="material-icons">settings</i>
        </span>  
      </a>
      <%end%>

      <div class="image-btn btn" style="margin:0px 22px; padding:0; border-radius:0px; border-right:2px solid #ddd; padding:0;"></div>

    </div>

    <div class="btn-group align-middle" role="group" style="white-space:nowrap; display:block; text-align:center; height:100%;">
      <!-- <a href="#" class="image-btn auto-layout-properties btn btn-secondary" style="">
        <span>
          <i class="material-icons">settings_applications</i>
        </span>  
      </a> -->

      <a href="#" class="image-btn auto-layout-layout btn btn-secondary" style="margin:0px 5px 0px 0px;">
      
        <span>
          <i class="material-icons">view_quilt</i>
        </span>  
      </a>

      <a href="#" class="image-btn auto-layout-flip btn btn-secondary" style="margin:0px 0px 0px 5px;">
        <span>
          <i class="material-icons">flip</i>
        </span>  
      </a>
    </div>
       
    <div class="btn-group align-middle" role="group" style="white-space:nowrap; flex:1; display:block; text-align:left; /*margin-left:50px;*/ height:100%;">        
      
    	<div class="image-btn btn" style="margin:0px 22px; padding:0; border-radius:0px; border-right:2px solid #ddd;"></div>

      <a href="#" class="image-btn add-image btn btn-secondary" style="">
        <span>
          <i class="material-icons">photo</i>
        </span>
      </a>
      
      <a href="#" class="image-btn add-text btn btn-secondary" style="">
        <span>
          <i class="material-icons">title</i>
        </span>
      </a>
      
    	<a href="#" class="image-btn add-other btn btn-secondary dropdown" style="" data-toggle="dropdown">
      	<span>
        	<!-- <span class="oi oi-heart" style="margin-top:6px;"></span> -->
        	<i class="material-icons">favorite</i>
      	</span>
    	</a>
      <ul class="dropdown-menu" style="margin-top:20px; min-width:320px; border:none; text-align:center; padding:0px;">
        <li style="display:inline-block; margin:0px 5px 0px 0px;">
          <a class="add-shape" href="#" data-clip="clip-none"">
            <div class="clip-none" style="width:35px; height:35px; background:#ff9100;"></div>  
          </a>
        </li>
        <li style="display:inline-block; margin:0px 5px;">
          <a class="add-shape" href="#" data-clip="clip-heart">
            <div class="clip-heart" style="width:35px; height:35px; background:#ff9100;"></div>
          </a>
        </li>
        <li style="display:inline-block; margin:0px 5px;">
          <a class="add-shape" href="#" data-clip="clip-ellipse">
            <div class="clip-ellipse" style="width:35px; height:35px; background:#ff9100;"></div>
          </a>
        </li>
        <li style="display:inline-block; margin:0px 5px;">
          <a class="add-shape" href="#" data-clip="clip-triangle">
            <div class="clip-triangle" style="width:35px; height:35px; background:#ff9100;"></div>
          </a>
        </li>
        <li style="display:inline-block; margin:0px 0px 0px 5px;">
          <a class="add-shape" href="#" data-clip="polygon-clip-star">
            <div class="polygon-clip-star" style="width:35px; height:35px; background:#ff9100;"></div>
          </a>
        </li>
      </ul>

      {{#allow_calendar}}
	      <a href="#" class="image-btn add-calendar btn btn-secondary" style="">
	        <span>
	          <i class="material-icons">calendar_today</i>
	        </span>
	      </a>
    	{{/allow_calendar}}

    </div>
    
  </div>
</div>
</script>

<script id="XXX-page-header" type="text/x-handlebars-template">

	<div class="page-container-header horizontal-center-absolute" style="display:flex; position:absolute; top:{{this.top}}px; width:{{this.width}}px; height:35px; margin:0 auto;"> 
	              
	  <div class="left-side" style="flex:1; position:relative;">
	    
			<div class="header-center-buttons" style="text-align:center;">
	      <div class="auto-layout-layout" title="<%=t('btns.top-bar.layout-auto').titleize%>" style="position:absolute; top:0; left:0px; width:35px; height:30px;">
	        <i class="material-icons" style="font-size:35px;">view_quilt</i>
	      </div>
	      <div class="auto-layout-flip" title="<%=t('btns.top-bar.layout-flip').titleize%>" style="position:absolute; top:0; left:40px; width:35px; height:30px;">
	        <i class="material-icons" style="font-size:30px; padding-top:2px;">flip</i>
	      </div>
	      <div class="auto-layout-properties" title="<%=t('btns.top-bar.layout-properties').titleize%>" style="position:absolute; top:0; left:80px; width:35px; height:30px;">
	        <i class="material-icons r90" style="font-size:35px;">height</i>
	      </div>
	    </div>	    

	  </div>
	  
	  <div class="center" style="width:260px; /*flex:3*/; position:relative; text-align:center; display:flex; background:#f6f8f8;">
	    
	    <div class="left-side" style="width:20px;">
	    	<div class="left-side toggler left-scroll vertical-center-absolute" style="left:0;  width:25px; height:25px; font-size:1.2em; outline:0px solid #aaa; color:#777;">
	    		<i class="material-icons" style="">arrow_left</i>
	    	</div>
	    </div>
	    <div class="header-center-text" style="flex:1;">
	      <div class="txt horizontal-vertical-center-absolute txt"></div>
	    </div>
	    <div class="right-side" style="width:20px;">
	    	<div class="right-side toggler right-scroll vertical-center-absolute" style="right:0; width:25px; height:25px; font-size:1.2em; outline:0px solid #aaa; color:#777;">
	    		<i class="material-icons" style="">arrow_right</i>
	    	</div>
	    </div>


	  </div>
	  
	  <div class="right-side" style="flex:1; position:relative; text-align:center;">
	    
	  </div>

	</div>
</script>	

<script id="bleeds_template" type="text/x-handlebars-template">
	{{set_bleeds @root}}
</script>

<script id="rotator_template" type="text/x-handlebars-template">
		<a class="horizontal-center-absolute rotator btn" id="" data-toggle="" role="tab" aria-controls="local_upload" style="top:-40px; width:28px; height:28px; border-radius:28px; color:white; padding:0px; background:rgba(0,0,0,.35);">
			<i class="fa fa-rotate-right horizontal-vertical-center-absolute" style="/*padding: 0px 10px; position:relative;*/"></i>
		</a>
</script>

<script id="calendar_template_template" type="text/x-handlebars-template">
	<style>
		.calendar-body {
			width:100%; 
			height:100%; 
			/*padding: 0.125em;*/
			padding: 0.125em 0.25em; 

			display:flex; 
			flex-direction:column;

			/*font-size: 18px;*/
			/*font-size: 0.5vw;*/
			/*font-size: {{font_size_vw this.el 3}}vw;*/
		}

		.calendar-body .calendar-header {
			color:#555;

			direction:rtl; 
			display:flex;

			font-size: 1em;
			line-height: 1em;
			/*padding: 0.25em;*/
			/*padding: 0.375em;*/
			padding: 0.5em;
		}
		.calendar-body .calendar-header > div {
			white-space: nowrap;
		}

		.calendar-body .calendar-days-header {
			
			display:flex; 
			direction:rtl;

			font-size: 0.7em;
			line-height: 1em;
		}
		.calendar-body .calendar-days-header .calendar-day {
			color:#666;	

			flex:1; 
			text-align:center;

			font-weight:bold;

			padding: 0.375em 0;
		}
		.calendar-body .calendar-days-header .calendar-day:not(:last-child) {
			border-left-color: #b8b8b8;
			border-left-width: 1px;
			border-left-style: solid;
		}

		.calendar-body .calendar-month {
			/* background:grey; */
			flex:1; 
			display:flex; 
			flex-direction:column;

			font-size:1em;
			line-height:1em;
		}
		.calendar-body .calendar-month .calendar-week-row {
			direction:rtl;
			flex:1; 
			display:flex;
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container {
			color:#666;

			flex:1; 
			height:100%; 
			position:relative;

			border-top-color: #b8b8b8;
			border-top-width: 1px; 
			border-top-style: solid; 
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container:not(:last-child) {
			border-left-color: #b8b8b8;
			border-left-width: 1px;
			border-left-style: solid;
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container .calendar-day {
			width:100%;
			height:100%;
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container .calendar-day .gregorian-day {
			font-size:0.525em;
			line-height:1em;

			font-weight:bold;
			position:absolute;
		
			left: 0.35em;
			bottom: 0.125em;
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container .calendar-day .hebrew-day {
			font-size:0.45em;
			line-height:1em;

			position:absolute;
		
			right: 0.5em;
			bottom: 0.125em;
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container .calendar-day .holiday-day {
			font-size:0.375em;
			line-height:1em;

			position:absolute;
		
			right: 0.5em;
			top: 0.5em;

			direction:rtl;
			text-align:right;
		}

		.calendar-body .calendar-month .calendar-week-row .calendar-day-container:not(.active) .calendar-day .gregorian-day {
			opacity: 0.3;
		}
		.calendar-body .calendar-month .calendar-week-row .calendar-day-container:not(.active) .calendar-day .hebrew-day {
			opacity: 0.3;
		}

	</style>

	<div class="el-container-parent {{@root.el.self_container_class}} {{locked_unless_template}}" style="left:{{pos_left @root}}%; top:{{pos_top @root}}%; width:{{pos_width @root}}%; height:{{pos_height @root}}%; {{z-index-for-class @root.el}}" data-id="{{@root.uuid}}" data-angle="{{@root.attrs.rotate.rad}}">

		<div class="content-container-root" style="background:white; {{z-index @root.el}}; {{gradients_str @root.attrs.gradients}} {{opacity_str @root.attrs.opacity}}">
			<div class="calendar-body" style=" font-size:{{font_size_vw this.el 3.5}}vw; ">
				
				<!--
					<div class="calendar-header" style=""> 
						<div style="direction:rtl; text-align:right;"> חודש עברי </div>
						<div style="flex:1; direction:ltr; t ext-align:left;"> August 2021 אוגוסט </div>
					</div>
					
					<div class="calendar-days-header" style="">
						<div class="calendar-day" style="">
							ראשון
						</div>
						<div class="calendar-day" style="">
							שני
						</div>
						<div class="calendar-day" style="">
							שלישי
						</div>
						<div class="calendar-day" style="">
							רביעי
						</div>
						<div class="calendar-day" style="">
							חמישי
						</div>
						<div class="calendar-day" style="">
							שישי
						</div>
						<div class="calendar-day" style="">
							שבת
						</div>
					</div>
					
					<div class="calendar-month" style="">
						<%-(1..5).each do %>
							<div class="calendar-week-row" style="">
								<%-(1..7).each do %>
									<div class="calendar-day-container" style="">
										<div class="calendar-day horizontal-vertical-center-absolute">
											<div class="gregorian-day">
												1
											</div>
											<div class="hebrew-day">
												כ"ט
											</div>
										</div>		
									</div>
								<%end%>
							</div>
						<%end%>
					</div>
				-->


			</div>			
		</div>

		<div class="controllers-container-root" style="z-index:9999;">
			<div class="controllers-container" style="z-index:9999; {{rotate_str @root.attrs.rotate}};">
		
				<div class="resize-top    resize-left"></div>
				<div class="resize-top    resize-right"></div>
				<div class="resize-bottom resize-right"></div>
				<div class="resize-bottom resize-left"></div>

				<div class="resize-top"></div>
				<div class="resize-right"></div>
				<div class="resize-bottom"></div>
				<div class="resize-left"></div>
			</div>
		</div>		

	</div>
</script>

<script id="image_template" type="text/x-handlebars-template">
	{{#if this.el.use_cropped}}
		<div class="el-container-parent contain {{@root.el.self_container_class}} {{locked_if_locked @root.el}}" style="left:{{pos_left @root}}%; top:{{pos_top @root}}%; width:{{pos_width @root}}%; height:{{pos_height @root}}%; {{z-index-for-class @root.el}};" data-id="{{@root.uuid}}" data-angle="{{@root.attrs.rotate.rad}}">
	{{else}}
		<div class="el-container-parent {{@root.el.self_container_class}} {{locked_if_locked @root.el}}" style="left:{{pos_left @root}}%; top:{{pos_top @root}}%; width:{{pos_width @root}}%; height:{{pos_height @root}}%; {{z-index-for-class @root.el}}" data-id="{{@root.uuid}}" data-angle="{{@root.attrs.rotate.rad}}">
	{{/if}}
		
		<div class="content-container-root" style="{{z-index @root.el}}; {{gradients_str @root.attrs.gradients}} {{opacity_str @root.attrs.opacity}}">

			<!-- <span class="oi oi-warning res-indicator hidden" style="position:absolute; left:7px; top:7px; color:red; z-index:5;"></span> -->
			<span class="oi oi-warning res-indicator hidden" style="" data-txt="{{ translate 'low_res_wrn' }}"></span>
		

			{{!-- this is display:none if no mask --}}
			<div class="border-container {{mask_class_str @root.attrs.mask}}" style="{{border_radius_str this.el attrs.border false}}; {{border_color_str this.el attrs.border}}; {{rotate_str @root.attrs.rotate}}; position:absolute;left:0px;right:0px;top:0px;bottom:0px;">
			</div>
			

			{{#if_has_mask @root.el}}
				{{!-- NO MASK => only margin to simulate border --}}
				<div class="content-container {{mask_class_str @root.attrs.mask}}" style="{{rotate_str @root.attrs.rotate}}; {{border_margin_str this.el attrs.border}};">
			{{else}}
				{{!-- NO MASK => setting border --}}
				<div class="content-container {{mask_class_str @root.attrs.mask}}" style="{{rotate_str @root.attrs.rotate}}; {{border_radius_str this.el attrs.border false}}; {{new_border_str this.el attrs.border}}; overflow:hidden;">
			{{/if_has_mask}}			

			
				<div class="dropzone cropped-container image-container {{instagram_filter_class_str @root.attrs.instagram_filter}}" style="{{filter_str this.el}}; left:0;top:0;width:100%;height:100%; ">	

					{{!-- Unless => this image is not needed once creating template pages --}}
					{{#insert_img_required this}}
						{{#if this.el.use_cropped}}
							{{#if attrs.cropped.id}}
								<img crossorigin="anonymous" src="{{cropped_url attrs.cropped.id}}" style="position:absolute; left:0; top:0; width:100%; height:100%;"/>
							{{/if}}
						{{else}}
							{{img_if_exist this }}
						{{/if}}
					{{/insert_img_required}}

					<div class="container-overlay" style="">
						<%= image_tag("spinner.gif", :class => "spinner horizontal-vertical-center-absolute", :style => "") %>
					</div>
				
				</div>

				
				{{#insert_img_required this}}
					<!-- <div class="over-container" style="{{border_radius_str this.el attrs.border false}};"></div> -->
					<div class="over-container" style=""></div>
				{{else}}					
					<!-- <div class="over-container" style="{{border_radius_str this.el attrs.border false}}; background-color:rgba(173,173,173,.6);"></div> -->
					<div class="over-container" style="background-color:rgba(173,173,173,.6);"></div>
				{{/insert_img_required}}
				

				{{!--
				{{#insert_img_required this}}
					{{#if_has_mask @root.el}}
						<div class="over-container" style=""></div>
					{{else}}				
						
						<div class="over-container" style="{{border_radius_str this.el attrs.border}};"></div>
						
						
					{{/if_has_mask}}	
				{{else}}
					<div class="over-container" style="{{border_radius_str this.el attrs.border}}; background-color:rgba(173,173,173,.6);"></div>
				{{/insert_img_required}}
				 --}}

			</div>

		</div>


		<div class="controllers-container-root" style="z-index:9999;">
			<div class="controllers-container" style="z-index:9999; {{rotate_str @root.attrs.rotate}};">

				{{#unless this.el.background}}
				
				<div class="resize-top    resize-left"></div>
				<div class="resize-top    resize-right"></div>
				<div class="resize-bottom resize-right"></div>
				<div class="resize-bottom resize-left"></div>

				<div class="resize-top"></div>
				<div class="resize-right"></div>
				<div class="resize-bottom"></div>
				<div class="resize-left"></div>

				{{/unless}}


				{{> rotator_template}}

				{{#unless @root.el.shape}}
				<%#= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>
				<div class="inner_mover" style="">
					<%= image_tag("inner_move_arrows_32_32.png", :draggable => false, :class => "horizontal-vertical-center-absolute", :style => "") %>
				</div>
				{{/unless}}

			</div>
		</div>	

	</div>	
</script>

<script id="before_border_change_image_template" type="text/x-handlebars-template">
	{{#if this.el.use_cropped}}
		<div class="el-container-parent contain {{@root.el.self_container_class}}" style="left:{{@root.attrs.position.left}}%; top:{{@root.attrs.position.top}}%; width:{{@root.attrs.size.width}}%; height:{{@root.attrs.size.height}}%; {{z-index-for-class @root.el}};" data-id="{{@root.uuid}}" data-angle="{{@root.attrs.rotate.rad}}">
	{{else}}
		<div class="el-container-parent {{@root.el.self_container_class}}" style="left:{{@root.attrs.position.left}}%; top:{{@root.attrs.position.top}}%; width:{{@root.attrs.size.width}}%; height:{{@root.attrs.size.height}}%; {{z-index-for-class @root.el}}" data-id="{{@root.uuid}}" data-angle="{{@root.attrs.rotate.rad}}">
	{{/if}}
		
		<div class="content-container-root" style="{{z-index @root.el}}">

			<span class="oi oi-warning res-indicator hidden" style="position:absolute; left:7px; top:7px; color:red; z-index:5;"></span>
			
			<div class="content-container {{mask_class_str @root.attrs.mask}}" style="{{rotate_str @root.attrs.rotate}};">
			
				<div class="dropzone cropped-container image-container {{instagram_filter_class_str @root.attrs.instagram_filter}}" style="left:0; top:0; width:100%; height:100%; {{border_radius_str this.el attrs.border}};">	

					{{#if this.el.use_cropped}}
						<img src="{{cropped_url attrs.cropped.id}}" style="{{border_radius_str this.el attrs.border}}; position:absolute; left:0; top:0; width:100%; height:100%; {{gradients_str @root.attrs.gradients}}"/>
					{{else}}
					{{img_if_exist this }}
					{{/if}}

					<div class="container-overlay" style="">
						<%= image_tag("spinner.gif", :class => "spinner horizontal-vertical-center-absolute", :style => "") %>
					</div>
				
				</div>

				{{#unless this.el.page_template_images}}
					<div class="over-container" style="{{border_str this.el attrs.border}}; {{border_radius_str this.el attrs.border}};"></div>
				{{else}}
					<div class="over-container" style="background-color:rgba(173,173,173,.6); {{border_str this.el attrs.border}}; {{border_radius_str this.el attrs.border}};"></div>
				{{/unless}}

			</div>

		</div>


		{{#unless this.el.background}}

		<div class="controllers-container-root" style="z-index:9999;">
			<div class="controllers-container" style="z-index:9999; {{rotate_str @root.attrs.rotate}};">

				{{!--
				<div class="zoom-slider" style="/*display:none;*/ /*z-index:1;*/">	
					<input type="range" min="0" max="100" step="1" value="0" data-rangeslider data-orientation="vertical" style="/*display:none;*/ visibility:hidden;">
				</div>
				--}}
				

				<div class="resize-top    resize-left"></div>
				<div class="resize-top    resize-right"></div>
				<div class="resize-bottom resize-right"></div>
				<div class="resize-bottom resize-left"></div>

				<div class="resize-top"></div>
				<div class="resize-right"></div>
				<div class="resize-bottom"></div>
				<div class="resize-left"></div>

				{{> rotator_template}}

				<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>

			</div>
		</div>	

		{{/unless}}

	</div>	
</script>

<script id="content_template" type="text/x-handlebars-template">

	<div class="el-container-parent {{@root.el.self_container_class}}" style="left:{{@root.attrs.position.left}}%; top:{{@root.attrs.position.top}}%; width:{{@root.attrs.size.width}}%; height:{{@root.attrs.size.height}}%; {{z-index-for-class @root.el}}" data-id="{{@root.uuid}}">
	
		<div class="content-container-root" style="{{z-index @root.el}}">

			<div class="content-container content-container-owner-content-container {{mask_class_str @root.attrs.mask}}" style="{{rotate_str @root.attrs.rotate}};">
			
				{{#each components}}
					{{#ifCond @root.uuid '!=' @key}}
						{{#ifCond @root.uuid '==' ../this.container}}
							{{album_element_create @key ../this @root.el.parent_obj.name @root.el.editor @root.el.attrs.use_cropped @root.el.attrs.page_template_images @root.el.ready_cb null true}}
						{{/ifCond}}
					{{/ifCond}}	
				{{/each}}

				<div class="over-container" style="{{border_str this.el attrs.border}}; {{border_radius_str this.el attrs.border}};">
				</div>
		
			</div>

		</div>

		<div class="controllers-container-root" style="z-index:9999;">
			<div class="controllers-container" style="z-index:9999; {{rotate_str @root.attrs.rotate}};">

				<div class="resize-top    resize-left"></div>
				<div class="resize-top    resize-right"></div>
				<div class="resize-bottom resize-right"></div>
				<div class="resize-bottom resize-left"></div>

				<div class="resize-top"></div>
				<div class="resize-right"></div>
				<div class="resize-bottom"></div>
				<div class="resize-left"></div>

				{{> rotator_template}}

				<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>

			</div>
		</div>	

	</div>	
</script>

<script id="sticker_template" type="text/x-handlebars-template">
	{{#isSvgSticker el}}
		<div class="el-container-parent sticker-container svg {{locked_if_locked @root.el}}" style="left:{{../attrs.position.left}}%; top:{{../attrs.position.top}}%; width:{{../attrs.size.width}}%; height:{{../attrs.size.height}}%; {{z-index-for-class @root.el}};" data-id="{{../uuid}}" data-angle="{{@root.attrs.rotate.rad}}">
	{{else}}
		<div class="el-container-parent sticker-container png {{locked_if_locked @root.el}}" style="left:{{../attrs.position.left}}%; top:{{../attrs.position.top}}%; width:{{../attrs.size.width}}%; height:{{../attrs.size.height}}%; {{z-index-for-class @root.el}};" data-id="{{../uuid}}" data-angle="{{@root.attrs.rotate.rad}}">
	{{/isSvgSticker}}

		<div class="content-container-root" style="{{z-index @root.el}}; {{opacity_str @root.attrs.opacity}}">

			<div class="content-container" style="{{rotate_str @root.attrs.rotate}};">
				<img draggable="false" class="sticker" crossorigin="anonymous" src="{{asset_url el}}" style="width:100%; height:auto; position:absolute; left:0; top:0;"/>
			</div>

		</div>

		<div class="controllers-container-root" style="z-index:9999;">
			<div class="controllers-container" style="{{rotate_str @root.attrs.rotate}};">
				<div class="resize resize-top    resize-left"></div>
				<div class="resize resize-top    resize-right"></div>
				<div class="resize resize-bottom resize-right"></div>
				<div class="resize resize-bottom resize-left"></div>

				{{> rotator_template}}

				<%#= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>
			</div>
		</div>

	</div>	
</script>

<script id="text_template" type="text/x-handlebars-template">
	{{#is_text_template_needed this}}
		<div class="el-container-parent text-container" style="left:{{attrs.position.left}}%; top:{{attrs.position.top}}%; min-width:50px; width:{{attrs.size.width}}%; height:auto !important; padding:0px 0px; margin:0px; line-height:0;" data-id="{{uuid}}" data-angle="{{@root.attrs.rotate.rad}}">	
			
			<div 	class="content-container-root"
						style="{{z-index @root.el}}; {{opacity_str @root.attrs.opacity}}; height:auto; position: relative; /*overflow: hidden;*/">
				
				{{!--
				<div class="border-container {{mask_class_str @root.attrs.mask}}" style="{{border_radius_str this.el attrs.border}}; {{border_color_str this.el attrs.border}}; {{rotate_str @root.attrs.rotate}}; position:absolute;left:0px;right:0px;top:0px;bottom:0px;">
				</div>
				--}}

				{{!--
				<div class="content-container" style="{{border_margin_str this.el attrs.border}}; {{rotate_str @root.attrs.rotate}}; position:relative; height:auto;">
				--}}
				<div class="content-container" style="{{rotate_str @root.attrs.rotate}}; position:relative; height:auto; {{border_radius_str this.el attrs.border false}}; {{new_border_str this.el attrs.border}}; overflow:hidden;">

					{{!-- rows="1" => Otherwise the minimum size is 2 => which leads to wrong textarea size in editor textarea --}}
					{{!-- THIS WAS THE ORIGINAL ISSUE WITH INVISIBLE TEXT OVERFLOW
					<textarea readonly name="orig" rows="1" style="white-space:pre; overflow:hidden; padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; {{textarea_css this.el this.attrs.data}}" placeholder="{{ translate 'js.text_editor.empty_text' }}">{{simple_text this.attrs.data.text false }}</textarea> 
					--}}
					{{!-- 
					<textarea readonly name="orig" rows="1" style="white-space:break-spaces; overflow:hidden; padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; {{textarea_css this.el this.attrs.data}}" placeholder="{{ translate 'js.text_editor.empty_text' }}">{{simple_text this.attrs.data.text false }}</textarea> 
					--}}
					<textarea readonly name="orig" rows="1" style="white-space:pre-wrap; overflow:hidden; padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; {{textarea_css this.el this.attrs.data}}" placeholder="{{ translate 'js.text_editor.empty_text' }}">{{simple_text this.attrs.data.text false }}</textarea> 



				</div>

				<div class="over-container" style="{{border_radius_str this.el attrs.border}};"></div>
			</div>

			<div class="controllers-container-root" style="z-index:9999;">
				<div class="controllers-container" style="{{rotate_str @root.attrs.rotate}};">

					<%#= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>

					<div class="resize-left"></div>
					<div class="resize-right"></div>

					{{> rotator_template}}
				
				</div>
			</div>

		</div>
	{{/is_text_template_needed}}	
</script>

<script id="XXX_image_template" type="text/x-handlebars-template">
	{{#if this.el.use_cropped}}
		<div class="el-container-parent contain {{@root.el.self_container_class}}" style="left:{{@root.attrs.position.left}}%; top:{{@root.attrs.position.top}}%; width:{{@root.attrs.size.width}}%; height:{{@root.attrs.size.height}}%; {{rotate_str @root.attrs.rotate}} /*{{z-index this.el}}*/" data-id="{{@root.uuid}}">
	{{else}}
		<div class="el-container-parent {{@root.el.self_container_class}}" style="left:{{@root.attrs.position.left}}%; top:{{@root.attrs.position.top}}%; width:{{@root.attrs.size.width}}%; height:{{@root.attrs.size.height}}%; {{rotate_str @root.attrs.rotate}} /*{{z-index this.el}}*/" data-id="{{@root.uuid}}">
	{{/if}}
		
		<span class="oi oi-warning res-indicator hidden" style="position:absolute; left:7px; top:7px; color:red; z-index:5;"></span>

		{{#if this.el.background}}
			<div class="content-container {{mask_class_str @root.attrs.mask}}" style="z-index:0;/*{{gradients_str @root.attrs.gradients}}*/">
		{{else}}		
			<div class="content-container {{mask_class_str @root.attrs.mask}}" style="{{z-index @root.el}} /*{{gradients_str @root.attrs.gradients}}*/">
		{{/if}}

			<div class="dropzone cropped-container image-container" style="left:0; top:0; width:100%; height:100%; /*{{border_str this.el attrs.border}}*/ {{border_radius_str this.el attrs.border}};">	

				{{#if this.el.use_cropped}}
					<img src="{{cropped_url attrs.cropped.id}}" style="{{border_radius_str this.el attrs.border}}; position:absolute; left:0; top:0; width:100%; /*height:100%;*/height:auto; max-height:100%; {{gradients_str @root.attrs.gradients}}"/>
				{{else}}
				{{img_if_exist this }}
				{{/if}}

				<div class="container-overlay" style="/*{{border_str this.el attrs.border}}*/">
					<%= image_tag("spinner.gif", :class => "spinner horizontal-vertical-center-absolute", :style => "") %>
				</div>
			
			</div>

			<div class="over-container" style="{{border_str this.el attrs.border}}; {{border_radius_str this.el attrs.border}};"> </div>

		</div>


		{{#unless this.el.background}}

		<div class="controllers-container">

			<div class="zoom-slider" style="/*display:none;*/ /*z-index:1;*/">	
				<input type="range" min="0" max="100" step="1" value="0" data-rangeslider data-orientation="vertical" style="/*display:none;*/ visibility:hidden;">
			</div>

			<div class="resize-top    resize-left"></div>
			<div class="resize-top    resize-right"></div>
			<div class="resize-bottom resize-right"></div>
			<div class="resize-bottom resize-left"></div>

			<div class="resize-top"></div>
			<div class="resize-right"></div>
			<div class="resize-bottom"></div>
			<div class="resize-left"></div>

			{{> rotator_template}}

			<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>

		</div>

		{{/unless}}

	</div>	
</script>

<script id="image_template_crop" type="text/x-handlebars-template">
	<div class="el-container-parent image-container" style="left:{{attrs.position.left}}%; top:{{attrs.position.top}}%; width:{{attrs.size.width}}%; height:{{attrs.size.height}}%; {{rotate_str attrs.rotate}}" data-id="{{uuid}}">
		{{#unless this.el.page_template_images}}
			{{#if this.el.use_cropped}}
				<img src="{{cropped_url attrs.cropped.id}}" style="position:absolute; left:0; top:0; width:100%; /*height:100%;*/height:auto;"/>
			{{else}}
				{{img_if_exist this }}
			{{/if}}
		{{/unless}}	

		{{#if this.el.page_template_images}}
			<div class="container-overlay" style="{{border_str this.el attrs.border}} background-color:#adadad;"></div>
		{{else}}
			<div class="container-overlay" style="{{border_str this.el attrs.border}}"></div>
		{{/if}}
			
	</div>	
</script>

<script id="background_template" type="text/x-handlebars-template">
	<div class="el-container-parent background-container" style="left:0%; top:0%; width:100%; height:100%; z-index:-3;" data-id="{{uuid}}">
		
		<span class="oi oi-warning res-indicator hidden" style="position:absolute; left:7px; top:7px; color:red; z-index:5;" data-txt="{{ translate 'low_res_wrn' }}></span>

		<div class="dropzone cropped-container image-container" style="left:0; top:0; width:100%; height:100%;">	

			{{#if this.el.use_cropped}}
				<img src="{{cropped_url attrs.cropped.id}}" style="position:absolute; left:0; top:0; width:100%; height:100%;"/>
			{{else}}
			{{img_if_exist this }}
			{{/if}}

			<div class="container-overlay" style="{{border_str this.el attrs.border}}">
				<%= image_tag("spinner.gif", :class => "spinner horizontal-vertical-center-absolute", :style => "") %>
			</div>
			
		</div>

		<div class="zoom-slider" style="display:none; z-index:1;">	
			<input type="range" min="0" max="100" step="1" value="0" data-rangeslider data-orientation="vertical" style="display:none;">
		</div>

	</div>	
</script>

<script id="background_template_crop" type="text/x-handlebars-template">
	<div class="el-container-parent background-container" style="left:0%; top:0%; width:100%; height:100%; z-index:-3;" data-id="{{uuid}}">
		
		{{#unless this.el.page_template_images}}
			{{#if this.el.use_cropped}}
				<img src="{{cropped_url attrs.cropped.id}}" style="position:absolute; left:0; top:0; width:100%; /*height:100%;*/height:auto;"/>
			{{else}}
				{{img_if_exist this }}
			{{/if}}
		{{/unless}}	

		{{#if this.el.page_template_images}}
			<div class="container-overlay" style="{{border_str this.el attrs.border}} background-color:#adadad;"></div>
		{{else}}
			<div class="container-overlay" style="{{border_str this.el attrs.border}}"></div>
		{{/if}}

	</div>	
</script>

<script id="sticker_template_xxx" type="text/x-handlebars-template">
	<div class="el-container-parent sticker-container" style="left:{{attrs.position.left}}%; top:{{attrs.position.top}}%; width:{{attrs.size.width}}%; height:{{attrs.size.height}}%; {{rotate_str attrs.rotate}}; {{z-index this.el}};" data-id="{{uuid}}">
		
		<span class="oi oi-warning res-indicator hidden" style="position:absolute; left:7px; top:7px; color:red; z-index:5;"></span>

		<img draggable="false" class="sticker" src="{{asset_url el}}" style="width:100%; height:auto; position:absolute; left:0; top:0;"/>

		<div class="resize-left"></div>
		<div class="resize-right"></div>

		{{> rotator_template}}

		<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>

		<%= image_tag("spinner.gif", :class => "spinner horizontal-vertical-center-absolute", :style => "height:50px; position:absolute; display:none;") %>
	</div>	
</script>

<script id="XXX_sticker_template" type="text/x-handlebars-template">
	{{#isSvgSticker el}}
		<div class="el-container-parent sticker-container svg" style="left:{{../attrs.position.left}}%; top:{{../attrs.position.top}}%; width:{{../attrs.size.width}}%; height:{{../attrs.size.height}}%; {{rotate_str ../attrs.rotate}}; /*{{z-index ../this.el}};*/" data-id="{{../uuid}}">
	{{else}}
		<div class="el-container-parent sticker-container png" style="left:{{../attrs.position.left}}%; top:{{../attrs.position.top}}%; width:{{../attrs.size.width}}%; height:{{../attrs.size.height}}%; {{rotate_str ../attrs.rotate}}; /*{{z-index ../this.el}};*/" data-id="{{../uuid}}">
	{{/isSvgSticker}}

		<div class="content-container" style="{{z-index this.el}};">
			<img draggable="false" class="sticker" src="{{asset_url el}}" style="width:100%; height:auto; position:absolute; left:0; top:0;"/>
		</div>

		<div class="controllers-container">
			<div class="resize resize-top    resize-left"></div>
			<div class="resize resize-top    resize-right"></div>
			<div class="resize resize-bottom resize-right"></div>
			<div class="resize resize-bottom resize-left"></div>

			{{> rotator_template}}

			<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "") %>
		</div>

	</div>	
</script>



<script id="OLD_text_template_XXX" type="text/x-handlebars-template">
<!-- 	<div class="el-container-parent text-container" style="left:{{attrs.position.left}}%; top:{{attrs.position.top}}%; /*min-width:100px;*/ min-width:50px; width:{{attrs.size.width}}%; {{rotate_str attrs.rotate}} height:auto !important; /*padding:10px 0px;*/ padding:0px 0px; margin:0px; /*line-height:0;*/ z-index:1; {{textarea_css this.el this.attrs.data}}" data-id="{{uuid}}">	 -->

<!-- {{simple_text attrs.data.text true }} -->

<div class="horizontal-center-absolute" style="position:absolute; top:0px; 	{{textarea_css this.el this.attrs.data}} ">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:138px; {{textarea_css this.el this.attrs.data}} ">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:276px; {{textarea_css this.el this.attrs.data}} ">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:414px; {{textarea_css this.el this.attrs.data}} ">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:552px; {{textarea_css this.el this.attrs.data}} ">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:690px;/*top:790px;*/ {{textarea_css this.el this.attrs.data}} ">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:828px;  {{textarea_css this.el this.attrs.data}}">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:960px;  {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}">adi baron adi baron</div>
<!--<div class="horizontal-center-absolute" style="position:absolute; top:828px;  {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:966px;  {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}"><p>adi baron adi baron</p></div> -->

<!-- <div class="horizontal-center-absolute" style="width:1200px; height:20%; padding:0px 20px; background-color:yellow; position:absolute; top:0%;{{textarea_css this.el this.attrs.data}}"><p style="padding:0; margin:0;">adi baron</p></div>

<div class="horizontal-center-absolute" style="width:960px; height:20%; padding:0; background-color:green; position:absolute; top:40%; {{textarea_css this.el this.attrs.data}}"><p style="position:absolute; padding:0; margin:0;">adi baron</p></div> -->

<!-- <div class="" style="position:absolute; width:1200px; height:20%; padding:0px 20px; background-color:yellow; position:absolute; top:0%;{{textarea_css this.el this.attrs.data}}">adi baron</div> -->

<span class="" style="position:absolute; width:960px; padding:0; background-color:green; position:absolute; top:620px; font-size:75pt; /* {{textarea_css this.el this.attrs.data}} */">adi baron</span>
<!-- <figure class="" style="position:absolute; width:960px; padding:0; background-color:yellow; position:absolute; left: 20px; top:630px; font-size:75pt; /* {{textarea_css this.el this.attrs.data}} */">adi baron</figure> -->
<textarea class="" style="position:absolute; width:960px; padding:0; background-color:yellow; position:absolute; left: 20px; top:630px; font-size:75pt; /* {{textarea_css this.el this.attrs.data}} */">adi baron</textarea>

<!-- <div class="horizontal-center-absolute" style="position:absolute; top:1380px; {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:1518px; {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:1656px; {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}">adi baron adi baron</div>
<div class="horizontal-center-absolute" style="position:absolute; top:1794px; {{textarea_css this.el this.attrs.data}} {{rotate_str attrs.rotate}}">adi baron adi baron</div> -->

		<!-- 
		<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "width:40px; height:auto; position:absolute; /*bottom:-35px !important;*/ /*background-color:rgba(255,255,255,.7)*/ /*background-color:rgba(255,193,7,.61)*/background-color:rgba(0,0,0,.3); top:3px; right:3px; z-index:1;") %>
 -->

<!-- 
		{{#if el.editor}}
			<textarea style="padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; line-height:1.5em; height: 1.5em; {{textarea_css this.el this.attrs.data}}" placeholder="Click For Text - WRN not respomsive" readonly>{{simple_text attrs.data.text false }}</textarea>
		{{else}}
		<textarea style="position:absolute; padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; line-height:1.5em; height: 1.5em; {{textarea_css this.el this.attrs.data}}" placeholder="Click For Text - WRN not respomsive" readonly>{{simple_text attrs.data.text false }}</textarea>
		 -->
		<!-- <div style="/*position:absolute; left:0px; top:0px; width:100%;*/ padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; line-height:1.5em; /*height: 1.5em;*/ {{textarea_css this.el this.attrs.data}}"> -->
		<!-- {{simple_text attrs.data.text true}} -->
		<!-- <div>Adi Baron Adi Baron</div><div>Adi Baron</div><div>Adi Baron Adi Baron</div><div>Adi Baron</div><div>Adi Baron Adi Baron</div><div>Adi Baron Adi Baron Adi Baron</div><div>Adi Baron</div><div>Adi Baron</div> -->
		<!-- <textarea style="position:absolute; padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; line-height:1.5em; height: 1.5em; {{textarea_css this.el this.attrs.data}}" placeholder="Click For Text - WRN not respomsive" readonly>{{simple_text attrs.data.text false }}</textarea> -->
		<!-- </div> -->
		{{/if}}

<!-- 
		<div class="resize-left"></div>
		<div class="resize-right"></div>

		<a class="horizontal-center-absolute rotator btn" id="" data-toggle="" role="tab" aria-controls="local_upload" style="position:absolute; top:-35px; color:blue; padding:0px;">
			<i class="fa fa-rotate-right" style="padding: 0px 10px; position:relative;"></i>
		</a>		 -->

	<!-- </div> -->
</script>

<script id="XXX_text_template" type="text/x-handlebars-template">
	<div class="el-container-parent text-container" style="left:{{attrs.position.left}}%; top:{{attrs.position.top}}%; /*min-width:100px;*/ min-width:50px; width:{{attrs.size.width}}%; {{rotate_str attrs.rotate}} height:auto !important; /*padding:10px 0px;*/ padding:0px 0px; margin:0px; line-height:0; {{z-index this.el}};" data-id="{{uuid}}">	
		
		<%= image_tag("click_to_move_new_new_white.png", :class => "mover", :style => "width:40px; height:auto; position:absolute; /*bottom:-35px !important;*/ /*background-color:rgba(255,255,255,.7)*/ /*background-color:rgba(255,193,7,.61)*/background-color:rgba(0,0,0,.3); top:3px; right:3px; z-index:1;") %>

		<!-- <textarea name="orig" style="padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; line-height:1.5em; height: 1.5em; {{textarea_css this.el this.attrs.data}}" placeholder="Click For Text - WRN not respomsive" readonly>{{simple_text attrs.data.text false}}</textarea> -->

		<textarea name="orig" style="padding:0px; margin:0px; outline:0px !important; -webkit-appearance:none; {{textarea_css this.el this.attrs.data}}" placeholder="{{ translate 'js.text_editor.empty_text' }}">{{simple_text this.attrs.data.text false }}</textarea>

		<div class="resize-left"></div>
		<div class="resize-right"></div>

		{{> rotator_template}}

	</div>
</script>


<script id="text_editor_template" type="text/x-handlebars-template">

	<form id="text-editor-form" data-id="{{uuid}}" style="background-color:rgba(230,230,230,1);">

		<nav class="navbar navbar-expand" style="background-color:rgba(230,230,230,1);">

			<ul class="navbar-nav /*mx-auto*/ /*mr-auto*/">

				<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 5px; padding-top:6px;">
					<span class="oi oi-bold"></span>
					{{#ifCond attrs.data.bold '==' true}}
						<input type="checkbox" checked name="bold" autocomplete="off" style="display:none;">
					{{else}}
						<input type="checkbox" name="bold" autocomplete="off" style="display:none;">
					{{/ifCond}}	
				</label>
				
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:5px; margin-right:5px;">

					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-align-left"></span>
						<input type="radio" name="align" value="left" id="left" autocomplete="off"
							{{#ifCond attrs.data.align '==' 'left'}}
								checked
							{{/ifCond}}	
						>
					</label>
					
					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border-top: 1px solid rgba(23, 162, 184, .65); border-bottom: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-align-center"></span>
						<input type="radio" name="align" value="center" id="center" autocomplete="off"
							{{#ifCond attrs.data.align '==' 'center'}}
								checked
							{{/ifCond}}	
						>
					</label>

					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-align-right"></span>
						<input type="radio" name="align" value="right" id="right" autocomplete="off"
							{{#ifCond attrs.data.align '==' 'right'}}
								checked
							{{/ifCond}}	
						>
					</label>				

				</div>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:5px; margin-right:5px;">

					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-arrow-thick-left"></span>
						<input type="radio" name="dir" value="rtl" id="left" autocomplete="off"
							{{#ifCond attrs.data.dir '==' 'rtl'}}
								checked
							{{/ifCond}}	
						>
					</label>
					
					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); border-left:none; margin:auto 0px; padding-top:6px;">
						<span class="oi oi-arrow-thick-right"></span>
						<input type="radio" name="dir" value="ltr" id="right" autocomplete="off"
							{{#ifCond attrs.data.dir '==' 'ltr'}}
								checked
							{{/ifCond}}	
						>
					</label>				

				</div>				

				{{font-classes-style this}}

				<select class="font-family" name="font" style="height:34px; border: 1px solid rgba(23, 162, 184, .65); margin-left:5px; margin-right:5px;" value="{{attrs.data.font}}">
	    		
	    		{{textarea_font_list this}}
	    		
	  		</select>

	  		<label class="nav-link btn btn-sm" style="width:auto; height:34px; border: 0px solid rgba(23, 162, 184, .65); margin:auto 5px; padding-top:6px;">
					<input type="color" name="color" value="{{attrs.data.color}}">
				</label>

  			<div class="btn-group" style="margin-left:5px; margin-right:5px;">
	        <input type="input" name="size" value="{{attrs.data.size}}" style="display:none;">
	        <div class="btn btn-sm text-smaller" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); 
	        margin:auto 0px; padding-top:6px;">-</div>
	        <label class="nav-link btn btn-sm" style="width:auto; height:34px; border-top: 1px solid rgba(23, 162, 184, .65); border-bottom: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding:2px 6px; line-height:15px;">
	        	<p style="margin:0px">{{ translate 'js.text_editor.text_size' }}</p>
	        	<p style="margin:0px"><span class="font-size-in-pt">{{font-size-pt this}}</span>pt</p>
	        </label>
					<div class="btn btn-sm text-bigger" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">+</div>
      	</div>

  			<div class="btn-group" style="margin-left:5px; margin-right:5px;">
	        <input type="input" name="line_height" value="{{attrs.data.line_height}}" style="display:none;">
	        <div class="btn btn-sm line-smaller" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); 
	        margin:auto 0px; padding-top:6px;">-</div>
	        <label class="nav-link btn btn-sm" style="width:auto; height:34px; border-top: 1px solid rgba(23, 162, 184, .65); border-bottom: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
	        	{{ translate 'js.text_editor.line_height' }}
	        </label>
					<div class="btn btn-sm line-bigger" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">+</div>
      	</div>

			</ul>

		</nav>

{{textarea_from_textel this}}

		<div class="container-fluid" style="margin-bottom:10px;">
			<div class="row">
				<div class="col-6 col-md-4">
					<button type="submit" class="btn btn-lg" style="width:100%;">עדכן</a>
				</div>
			</div>
		</div>

	</form>

</script>



<script id="XXX_text_editor_template" type="text/x-handlebars-template">

	<form id="text-editor-form" data-id="{{uuid}}" style="background-color:rgba(230,230,230,1);">

		<nav class="navbar navbar-expand" style="background-color:rgba(230,230,230,1);">

			<ul class="navbar-nav /*mx-auto*/ /*mr-auto*/">

				<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 5px; padding-top:6px;">
					<span class="oi oi-bold"></span>
					{{#ifCond attrs.data.bold '==' true}}
						<input type="checkbox" checked name="bold" autocomplete="off" style="display:none;">
					{{else}}
						<input type="checkbox" name="bold" autocomplete="off" style="display:none;">
					{{/ifCond}}	
				</label>
				
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:5px; margin-right:5px;">

					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-align-left"></span>
						<input type="radio" name="align" value="left" id="left" autocomplete="off"
							{{#ifCond attrs.data.align '==' 'left'}}
								checked
							{{/ifCond}}	
						>
					</label>
					
					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border-top: 1px solid rgba(23, 162, 184, .65); border-bottom: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-align-center"></span>
						<input type="radio" name="align" value="center" id="center" autocomplete="off"
							{{#ifCond attrs.data.align '==' 'center'}}
								checked
							{{/ifCond}}	
						>
					</label>

					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-align-right"></span>
						<input type="radio" name="align" value="right" id="right" autocomplete="off"
							{{#ifCond attrs.data.align '==' 'right'}}
								checked
							{{/ifCond}}	
						>
					</label>				

				</div>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:5px; margin-right:5px;">

					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
						<span class="oi oi-arrow-thick-left"></span>
						<input type="radio" name="dir" value="rtl" id="left" autocomplete="off"
							{{#ifCond attrs.data.dir '==' 'rtl'}}
								checked
							{{/ifCond}}	
						>
					</label>
					
					<label class="nav-link btn btn-sm" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); border-left:none; margin:auto 0px; padding-top:6px;">
						<span class="oi oi-arrow-thick-right"></span>
						<input type="radio" name="dir" value="ltr" id="right" autocomplete="off"
							{{#ifCond attrs.data.dir '==' 'ltr'}}
								checked
							{{/ifCond}}	
						>
					</label>				

				</div>				

				<select class="font-family" name="font" style="height:34px; border: 1px solid rgba(23, 162, 184, .65); margin-left:5px; margin-right:5px;" value="{{attrs.data.font}}">
	    		
	    		<option style="font-family:Archivo Narrow;" {{selected_if_selected "Archivo Narrow" attrs.data.font }} value="Archivo Narrow">עברית</option>
    			
    			<option style="font-family:Heebo;" {{selected_if_selected "Heebo" attrs.data.font }} value="Heebo">עברית</option>
    			
    			<option style="font-family:Amatic SC;" {{selected_if_selected "Amatic SC" attrs.data.font }} value="Amatic SC">עברית</option>  
    			
    			<option style="font-family:Varela Round;" {{selected_if_selected "Varela Round" attrs.data.font }} value="Varela Round">עברית</option>
	    
	    		<option {{selected_if_selected "Rubik" attrs.data.font }} value="Rubik">Rubik (HEB)</option>
	    		
	    		<option {{selected_if_selected "Frank Ruhl Libre" attrs.data.font }} value="Frank Ruhl Libre">Frank Ruhl Libre (HEB)</option>
	    		
	    		<option {{selected_if_selected "M PLUS 1p" attrs.data.font }} value="M PLUS 1p">M PLUS 1p (HEB)</option>
	    		
	    		<option {{selected_if_selected "M PLUS Rounded 1c" attrs.data.font }} value="M PLUS Rounded 1c">M PLUS Rounded 1c (HEB)</option>
	    		
	    		<option {{selected_if_selected "Arimo" attrs.data.font }} value="Arimo">Arimo (HEB)</option>
	    		
	    		<option {{selected_if_selected "Alef" attrs.data.font }} value="Alef">Alef (HEB)</option>
	    		
	    		<option {{selected_if_selected "Bellefair" attrs.data.font }} value="Bellefair">Bellefair (HEB)</option>
	    		
	    		<option {{selected_if_selected "David Libre" attrs.data.font }} value="David Libre">David Libre (HEB)</option>
	    		
	    		<option {{selected_if_selected "Miriam Libre" attrs.data.font }} value="Miriam Libre">Miriam Libre (HEB)</option>
	    		
	    		<option {{selected_if_selected "Assistant" attrs.data.font }} value="Assistant">Assistant (HEB)</option>
	    		
	    		<option {{selected_if_selected "Tinos" attrs.data.font }} value="Tinos">Tinos (HEB)</option>

	    		<option {{selected_if_selected "Open Sans Hebrew" attrs.data.font }} value="Open Sans Hebrew">Open Sans Hebrew</option>
	    		
	    		<option {{selected_if_selected "Open Sans Hebrew Condensed" attrs.data.font }} value="Open Sans Hebrew Condensed">Open Sans Hebrew Condensed</option>
	    		
	    		<option {{selected_if_selected "Noto Sans Hebrew" attrs.data.font }} value="Noto Sans Hebrew">Noto Sans Hebrew</option>


	    		{{!--Wedding--}}
	    		<option {{selected_if_selected "Berkshire Swash" attrs.data.font }} value="Berkshire Swash">Berkshire Swash</option>
	    		{{!-- Does not exist
	    		<option {{selected_if_selected "ITC Berkeley Old Style" attrs.data.font }} value="ITC Berkeley Old Style">ITC Berkeley Old Style</option>
	    		--}}
	    		<option {{selected_if_selected "EB Garamond" attrs.data.font }} value="EB Garamond">EB Garamond</option>
	    		<option {{selected_if_selected "Roboto" attrs.data.font }} value="Roboto">Roboto</option>

					{{!--Baby--}}
					<option {{selected_if_selected "Gochi Hand" attrs.data.font }} value="Gochi Hand">Gochi Hand</option>
					<option {{selected_if_selected "Bangers" attrs.data.font }} value="Bangers">Bangers</option>
	    		<option {{selected_if_selected "Montserrat Alternates" attrs.data.font }} value="Montserrat Alternates">Montserrat Alternates</option>
	    		
	    		{{!--Wedding--}}
	    		<option {{selected_if_selected "Cookie" attrs.data.font }} value="Cookie">Cookie</option>
	    		<option {{selected_if_selected "Playfair Display" attrs.data.font }} value="Playfair Display">Playfair Display</option>
	    		<option {{selected_if_selected "Playfair Display SC" attrs.data.font }} value="Playfair Display SC">Playfair Display SC</option>

	    		<option {{selected_if_selected "Indie Flower" attrs.data.font }} value="Indie Flower">Indie Flower</option>
	    		

	    		



	  		</select>

	  		<label class="nav-link btn btn-sm" style="width:auto; height:34px; border: 0px solid rgba(23, 162, 184, .65); margin:auto 5px; padding-top:6px;">
					<input type="color" name="color" value="{{attrs.data.color}}">
				</label>

  			<div class="btn-group" style="margin-left:5px; margin-right:5px;">
	        <input type="input" name="size" value="{{attrs.data.size}}" style="display:none;">
	        <div class="btn btn-sm text-smaller" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); 
	        margin:auto 0px; padding-top:6px;">-</div>
	        <label class="nav-link btn btn-sm" style="width:auto; height:34px; border-top: 1px solid rgba(23, 162, 184, .65); border-bottom: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
	        	Size
	        </label>
					<div class="btn btn-sm text-bigger" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">+</div>
      	</div>

  			<div class="btn-group" style="margin-left:5px; margin-right:5px;">
	        <input type="input" name="line_height" value="{{attrs.data.line_height}}" style="display:none;">
	        <div class="btn btn-sm line-smaller" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); 
	        margin:auto 0px; padding-top:6px;">-</div>
	        <label class="nav-link btn btn-sm" style="width:auto; height:34px; border-top: 1px solid rgba(23, 162, 184, .65); border-bottom: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">
	        	Line Height
	        </label>
					<div class="btn btn-sm line-bigger" style="width:34px; height:34px; border: 1px solid rgba(23, 162, 184, .65); margin:auto 0px; padding-top:6px;">+</div>
      	</div>

			</ul>

		</nav>

{{textarea_from_textel this}}

		<div class="container-fluid" style="margin-bottom:10px;">
			<div class="row">
				<div class="col-6 col-md-4">
					<button type="submit" class="btn btn-lg" style="width:100%;">עדכן</a>
				</div>
			</div>
		</div>

	</form>

</script>

<script id="textarea_partial" type="text/x-handlebars-template">
<textarea name="text" rows="5" style="white-space:pre; width:100%; border:none; padding:10px 20px; margin:0px; outline:0px !important; -webkit-appearance:none; line-height:100%; background-color:transparent; rgba(230,230,230,1);{{textarea_css this.el this.data.attrs.data}}" placeholder="{{ translate 'js.text_editor.empty_text' }}">{{simple_text this.data.attrs.data.text false }}</textarea>
</script>


<script id="images_template" type="text/x-handlebars-template">
	{{#if upload_btn}}
	<div class="add-images-btn">
		<div class="add-images-btn-text" style="cursor: pointer;">
			<span style="text-align:center;" class="oi oi-image"></span>
			<br>
			<span style="font-size:18px">
				<%=t('btns.uploader.add-photos').titleize%>
			</span>
		</div>
		<span class="images-show-properties oi oi-cog"></span>
	</div>
	{{/if}}

	<div id="{{id}}" class="swiper-container" style="">
		{{#ifCond double "!=" true }}
			{{> images_template_inner_regular ../data}}
		{{else}}
			{{> images_template_inner_double ../data}}
		{{/ifCond}}
  	<div class="swiper-scrollbar"></div>
  </div>	
</script>

<script id="images_template_inner_regular" type="text/x-handlebars-template">
	<div class="swiper-wrapper">
	{{#each this}}
  	{{> swiper_slide this}}
	{{/each}}
	</div>
</script>

<script id="images_template_inner_double" type="text/x-handlebars-template">
	<div class="swiper-wrapper">
	{{#each this}}
  	{{> swiper_slide_double this}}
	{{/each}}
	</div>
</script>

<script id="XXX_swiper_slide" type="text/x-handlebars-template">
	<div class="swiper-slide" style="">
		<img class="drop-image" data-id="{{id}}" data-uuid="{{uuid}}" src="{{small}}" style="height:100%; width:auto; z-index:1003;"/>
	</div>
</script>
<script id="XXX_swiper_slide" type="text/x-handlebars-template">
	{{#ifCond height ">" width }}
		<div class="swiper-slide {{ifCond_val_or_empty ../ready_for_editing_class "||" ../this.big "ready"}} {{img_used_class ../this}}" style="height:110px; width:{{image_width ../this 110}}px;" data-popover-name="{{../name}}" data-popover-img="{{../medium}}" data-popover-style="height:360px;">	
	{{else}}
		<div class="swiper-slide {{ifCond_val_or_empty ../ready_for_editing_class "||" ../this.big "ready"}} {{img_used_class ../this}}" style="height:110px; width:{{image_width ../this 110}}px;" data-popover-name="{{../name}}" data-popover-img="{{../medium}}" data-popover-style="height:260px;">
	{{/ifCond}}
			<div class="swiper-img-container" style="height:100%;">
				<img crossorigin="anonymous" src="{{small}}" class="drop-image" data-id="{{id}}" data-uuid="{{uuid}}" style="height:100%; width:auto; z-index:1003;"/>
				{{> swiper_slide_btns this}}
			</div>
		
		</div>
</script>
<script id="swiper_slide" type="text/x-handlebars-template">
	{{#ifCond height ">" width }}
		<div class="swiper-slide {{ifCond_val_or_empty ../ready_for_editing_class "||" ../this.big "ready"}} {{img_used_class ../this}}" style="" data-popover-name="{{../name}}" data-popover-img="{{../medium}}" data-popover-style="height:360px;">	
	{{else}}
		<div class="swiper-slide {{ifCond_val_or_empty ../ready_for_editing_class "||" ../this.big "ready"}} {{img_used_class ../this}}" style="" data-popover-name="{{../name}}" data-popover-img="{{../medium}}" data-popover-style="height:260px;">
	{{/ifCond}}
			<div class="swiper-img-container" style="height:100%;">
				<img crossorigin="anonymous" src="{{small}}" loading="lazy" class="drop-image" data-id="{{id}}" data-uuid="{{uuid}}" style="height:110px; width:{{swiper_slide_image_width 110 this}}; z-index:1009;" draggable="false"/>
				{{> swiper_slide_btns this}}
			</div>
		
		</div>
</script>

<script id="swiper_slide_double" type="text/x-handlebars-template">
	{{#ifCond height ">" width }}
		<div class="swiper-slide {{img_used_class ../this}}" style="position:relative; text-align:center;" data-popover-img="{{../medium}}" data-popover-style="height:340px;">
			<div class="swiper-img-container" style="height:100%;">
				<img crossorigin="anonymous" src="{{../small}}" class="drop-image" data-id="{{../id}}" data-uuid="{{../uuid}}" style="height:100%; width:auto; z-index:1009;"/>
				{{> swiper_slide_btns ../this}}
			</div>
	{{/ifCond}}
		
	{{#ifCond height "<=" width }}
		<div class="swiper-slide {{img_used_class ../this}}" style="position:relative;" data-popover-img="{{../medium}}" data-popover-style="height:240px;">			
	
			<div class="swiper-img-container vertical-center-absolute" style="display:inline-block; width:100%;">
				<img crossorigin="anonymous" src="{{../small}}" class="drop-image" data-id="{{../id}}" data-uuid="{{../uuid}}" style="width:100%; height:auto; z-index:1003;"/>
				{{> swiper_slide_btns ../this}}
			</div>
	{{/ifCond}}	

		</div>
</script>

<script id="swiper_slide_btns" type="text/x-handlebars-template">
	<div class="img-btn img-delete" title="Delete photo"></div>
	<div class="img-btn img-used" data-used-count-txt="{{img_used_counter this}}"></div>
</script>

<script id="images_galleries_menu_template" type="text/x-handlebars-template">
	<style>
		.with-external-resources ul {
			list-style-type:none; 
			line-height:40px; 
			padding:0px;

			width: 100%;
			margin: auto;
			overflow-x: scroll;
			white-space: nowrap;
		}
		.with-external-resources ul li {
			display:inline-block; 
			/*float:left;*/
			margin-right:15px;

			white-space: nowrap;
		}

		.with-external-resources ul li.seperator {
			margin-right:35px;
			color:#222;
			font-size:14px;
		}

		.with-external-resources ul li a {
			color:#777;
			font-size:16px;
			text-decoration: none;
		}

		.with-external-resources ul li a:hover {
			color:#111;
		}

		.with-external-resources ul li a.active {
			color:#222;
			padding-bottom: 5px;
			border-bottom: 2px solid #111;
		}

	</style>

	<ul>
		<li style="margin-left:125px;">
			<a class="active" href="">
				<span class="oi oi-monitor"></span>
				<span>Upload photos</span>
			</a>
		</li>

		<li class="seperator">|</li>

		{{#each this.products}}
			<li>
				<a class="external-images-btn" href="">{{this.product.name}}</a>
			</li>
		{{/each}}

		<li class="seperator">|</li>

		{{#each this.galleries}}
			<li>
				<a class="external-images-btn" href="">{{this.gallery.name}}</a>
			</li>
		{{/each}}

	<ul>
</script>

<script id="swiper_form" type="text/x-handlebars-template">
	<form id="swiper-form" class="language-dir language-txt-align">
  	
  	{{!--
  	<div class="form-group">
			<div class="form-check">
			  {{#ifCond double "!=" true}}
			  	<input class="form-check-input" type="radio" name="double" id="double_false" value="false" checked>
			  {{else}}
			  	<input class="form-check-input" type="radio" name="double" id="double_false" value="false" checked>
			  {{/ifCond}}
			  <label class="form-check-label" for="double_false">
			    Regular
			  </label>
			</div>
			
			<div class="form-check">
			  {{#ifCond double "==" true}}
			  	<input class="form-check-input" type="radio" name="double" id="double_true" value="true" checked>
			  {{else}}
			  	<input class="form-check-input" type="radio" name="double" id="double_true" value="true">
			  {{/ifCond}}
			  <label class="form-check-label" for="double_true">
			    Double
			  </label>
			</div>
  	</div>
  	--}}

  	<div class="form-group" style="margin-top:25px;">
			<div class="form-check" style="padding:0px;">
			  {{#ifCond sort_by "==" "date"}}
			  	<input class="form-check-input" type="radio" name="sort_by" id="sort_by_date" value="date" checked>
			  {{else}}
			  	<input class="form-check-input" type="radio" name="sort_by" id="sort_by_date" value="date" checked>
			  {{/ifCond}}
			  <label class="form-check-label" for="sort_by_date" style="padding:0px 20px;">
			    {{ translate 'btns.uploader.swiper.sort_by_date' }}
			  </label>
			</div>
			
			<div class="form-check" style="padding:0px;">
			  {{#ifCond sort_by "==" "name"}}
			  	<input class="form-check-input" type="radio" name="sort_by" id="sort_by_name" value="name" checked>
			  {{else}}
			  	<input class="form-check-input" type="radio" name="sort_by" id="sort_by_name" value="name">
			  {{/ifCond}}
			  <label class="form-check-label" for="sort_by_name" style="padding:0px 20px;">
			    {{ translate 'btns.uploader.swiper.sort_by_name' }}
			  </label>
			</div>
  	</div>
  	
  	<div class="form-group" style="margin-top:25px;">
  		<div class="form-check" style="padding:0px;">
			  {{#ifCond hide_used "==" true}}
			  	<input class="form-check-input" type="checkbox" name="hide_used" id="hide_used" checked>
			  {{else}}
			  	<input class="form-check-input" type="checkbox" name="hide_used" id="hide_used">
			  {{/ifCond}}
			  <label class="form-check-label" for="hide_used" style="padding:0px 20px;">
			    {{ translate 'btns.uploader.swiper.hide_used_photos' }}
			  </label>
			</div>
  	</div>

  	<div class="form-group">
  		<button type="submit" class="btn" style="-webkit-appearance: none; margin-top:15px; background:#ffd200; color:#333; border-radius:2px; width:100%;">
  			{{ translate 'update' }} 
  		</button>
  	</div>

  </form>
</script>

<script id="backgrounds_template" type="text/x-handlebars-template">

	<div class="container-fluid" style="padding:0px; margin-top:5px; text-align:center;">
		
		<form class="background-color" style="text-align:center; padding-top:10px;">
  		
  		<div class="controller horizontal form-group  language-txt-align language-dir" style="margin-top:20px;">
  			<label>
  				<%=t("btns.el-btns.opacity").titleize%>
  			</label>
  			<div class="zoom-slider slider-container">
  				<input name="opacity" type="range" min="0" max="100" step="1" value="0" data-rangeslider>
  			</div>
  		</div>  		
  		
  		<div class="controller horizontal form-group language-txt-align language-dir" style="margin-top:20px;">
  			<label>
  				<%=t("btns.backgrounds-template.background-color").titleize%>
  			</label>
  			<div class="container-action">
  				<!-- <input name="opacity" type="range" min="0" max="100" step="1" value="0" data-rangeslider> -->
  				<input type="color" name="color">
  			</div>
  		</div>  		


		</form>

		<a href="#" class="edit-background-image language-txt-align language-dir" style="color:inherit; margin:20px 5px 0px 5px; display:block;">
			<%=t("btns.backgrounds-template.edit-background").titleize%>
			<span class="oi oi-pencil" style="margin:5px; top:2px;"></span>
		</a>

		<a href="#" class="remove-background-image language-txt-align language-dir" style="color:inherit; margin:20px 5px 0px 5px; display:block;">
			<%=t("btns.backgrounds-template.remove-background").titleize%>
			<span class="oi oi-trash" style="margin:5px; top:2px;"></span>
		</a>

		<p class="language-txt-align language-dir color-red-secondary" style="font-weight:bold; margin: 30px 5px 0px 5px;"><%=t("btns.backgrounds-template.select-background-source").titleize%></p>
		<ul class="nav nav-tabs nav-justified" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link" href="#picture_background" role="tab" data-toggle="tab" style="font-size:0.9em; padding:8px 4px;">
		    	<%=t("btns.backgrounds-template.background-from-photo_html")%>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" href="#ready_background" role="tab" data-toggle="tab" style="font-size:0.9em; padding:8px 4px;">
		    	<%=t("btns.backgrounds-template.ready-background")%>
		    </a>
		  </li>		  
		</ul>
	
		<div class="tab-content">
	  	
	  	<div role="tabpanel" class="tab-pane" id="picture_background" style="margin-top:10px;">
	  		
	  			<a class="btn btn-default picture-background-selector" style="display:block; margin:5px; background-color:#ffd200;">
	  				<%=t("btns.backgrounds-template.select-photo-as-background")%>
	  				<span class="oi oi-image" style="margin:5px; top:2px;"></span>
	  			</a>
	  		
	  	</div>

	  	<div role="tabpanel" class="tab-pane active" id="ready_background" style="margin-top:10px;">

				<div class="container-fluid backgrounds-container" style="padding:0;">
					{{> stickers_backgrounds_assets_template this}}
					
					{{#unless all}}
					<div class="row" style="margin:15px 0 15px 0;">
						<a class="btn btn-light more-backgrounds" style="width:100%;" href="">{{ translate 'js.assets.load_more' }}</a>
					</div>
					{{/unless}}
				</div>

	  	</div>

	  </div>

	</div>

</script>

<script id="stickers_template" type="text/x-handlebars-template">
	<div class="container-fluid stickers-container" style="padding:0px;">
		{{> stickers_backgrounds_assets_template this }}
		
		{{#unless all}}
		<div class="row" style="margin:15px 0 15px 0;">
			<a class="btn btn-light more-stickers" style="width:100%;" href="">{{ translate 'js.assets.load_more' }}</a>
		</div>
		{{/unless}}
	</div>
</script>

<script id="stickers_backgrounds_assets_template" type="text/x-handlebars-template">
<div id="accordion">

	<style>
		a:not([href]).btn.add {
			color:#666;
		}
		a:not([href]).btn.add:hover {
			color:#000;
		}
	</style>


{{#each this.data}}
	<div class="card" style="border:0px; background:transparent;">
    <div class="card-header language-txt-align" style="border:0px; background:transparent;">
      <a class="card-link" data-toggle="collapse" href="#{{normalize_id @key false}}" style="">
        {{@key}}
      </a>
    </div>
    
    <div id="{{normalize_id @key true}}" class="collapse {{ifCond_val_or_empty @key "==" @root.active "show"}}" data-parent="#accordion">
      <div class="card-body">
				
      	{{#ifCond @key "downcase_identical" @root.uploader_name}}
      		<div class="row" style="margin:0 0 15px 0;">	
						<div class="col-12" style="padding:0px 0px; text-align:center;">

							{{#ifCond @root.backgrounds "==" true }}						
								<a data-href='{{assets_upload_url "backgrounds"}}' class="btn btn-default upload-btn upload-btn-assets" style="width:100%; padding:8px 0px; margin-top:0px;">
									<input class="assets-file-input" type="file" multiple accept="image/jpeg, image/jpg" style=""/>
									<span>{{@key}}</span>
								</a>
							{{/ifCond}}	
							
							{{#ifCond @root.stickers "==" true }}							
								<a data-href='{{assets_upload_url "stickers"}}' class="btn btn-default upload-btn upload-btn-assets" style="width:100%; padding:8px 0px; margin-top:0px;">
									<input class="assets-file-input" type="file" multiple accept="image/png" style=""/>
									<span>{{@key}}</span>
								</a>
							{{/ifCond}}	

						</div>
					</div>	
      	{{/ifCond}}

      	{{#ifCond @key "downcase_identical" @root.uploader_name}}
      		<div class="assets-images assets-images-uploader" style="width:100%;"> 
						{{#ifCond @root.backgrounds "==" true }}
							{{> stickers_backgrounds_images_template data=../this backgrounds=true uploaded=true }}
						{{/ifCond}}
						{{#ifCond @root.stickers "==" true }}
							{{> stickers_backgrounds_images_template data=../this stickers=true uploaded=true }}
						{{/ifCond}}
      		</div>	
      	{{else}}
      		<div class="assets-images" style="width:100%;"> 
      			{{#ifCond @root.backgrounds "==" true }}
							{{> stickers_backgrounds_images_template data=../this backgrounds=true uploaded=false }}
						{{/ifCond}}
						{{#ifCond @root.stickers "==" true }}
							{{> stickers_backgrounds_images_template data=../this stickers=true uploaded=false }}
						{{/ifCond}}
      		</div>
      	{{/ifCond}}	
      	{{!--
      	<div class="assets-images {{ifCond_val_or_empty @key "downcase_identical" @root.uploader_name "assets-images-uploader"}}" style="width:100%;"> 
					{{#ifCond @root.backgrounds "==" true }}
						{{> stickers_backgrounds_images_template data=../this backgrounds=true uploaded=true }}
					{{/ifCond}}
					{{#ifCond @root.stickers "==" true }}
						{{> stickers_backgrounds_images_template data=../this stickers=true uploaded=true }}
					{{/ifCond}}							
				</div>	
				--}}
      </div>
    </div>
  </div>
{{/each}}

</div>
</script>

<script id="stickers_backgrounds_images_template" type="text/x-handlebars-template">
{{#each data}}
	<div class="row asset-img-row" style="margin:0 0 15px 0;" data-id="{{this.id}}">	
		<div class="col-12" style="padding:0px 0px; text-align:center;">
			<!-- <img style="width:auto; max-width:100%; max-height:140px; " src="{{asset_url_from_json this "small"}}"/> -->
			<!-- We load assets as background images while browser load the background image from server only once the background container is visible => better performance and less network usage -->
			<div class="asset-background-img-container" style='padding-top:{{ asset_img_container_height this}}%; background-image: url("{{asset_url_from_json this "small"}}");' data-id="{{this.id}}">
			</div>
			<div style="position:absolute; width:100%; left:0px; bottom:0px; height:20px; background-color:rgba(255,255,255,.85);">
				<a class="btn add horizontal-vertical-center-absolute" style="" data-id="{{this.id}}" data-width="{{this.width}}" data-height="{{this.height}}" data-url="{{asset_url_from_json this "big"}}">
					<span class="" style="text-transform: capitalize;">
						{{#ifCond ../backgrounds "==" true }}
							{{ translate 'btns.controllers-menu.set-background' }}
						{{/ifCond}}
						{{#ifCond ../stickers "==" true }}
							{{ translate 'btns.controllers-menu.add-sticker' }}
						{{/ifCond}}
					</span>	
				</a>
			</div>
			{{#if ../uploaded}}
				<div class="img-btn img-delete"></div>
			{{/if}}
		</div>
	</div>
{{/each}}
</script>


<script id="background_picture_template" type="text/x-handlebars-template">

	<div class="container-fluid" style="margin-bottom:20px; min-width:60vw">
		<div class="row" style="max-height:70vh; overflow:auto; overflow-x:hidden;">
			<div class="col-12" style="">
				
				{{#each medias}}
        	<div class="image-upload image-to-background /*language-float*/" data-id="{{id}}" data-uuid="{{uuid}}" data-width="{{width}}" data-height="{{height}}" data-url="{{big}}"  style="float:left;">
          	
        		<div class="img-container" data-origtime="{{original_time}}" data-size="{{origSize}}" data-name="{{name}}">
        			{{#ifCond height ">" width }}
        				<img src="{{../small}}" class="" style="" />      
        			{{/ifCond}}
    					{{#ifCond height "<=" width }}
    						<img src="{{../small}}" class="" style="width:100%; height:auto; position:absolute; left:0px; top:0px; bottom:0px; margin:auto;" />      
    					{{/ifCond}}
        		</div>

          </div>
      	{{/each}}

			</div>

		</div>

		<div class="row" style="max-heigh:10vh; padding-top:10px;">
			<div class="col-12" style="height:10%; text-align:center;">
				<a class="btn btn-default set-image-to-background" data-dismiss="modal" aria-label="Close" style="font-size:1.2em; padding:12px 32px; background-color:#ffd200;">
					<%=t("btns.backgrounds-template.select-photo-as-background")%>
				</a>
			</div>
		</div>	

	</div>

</script>

<script id="XXX_uploader_template" type="text/x-handlebars-template">
	<div id="uploaders" class="container-fluid" style="height:100%; display:flex; flex-direction:column; margin-bottom:10px;">
		
		<div class="row" style="margin:0 0 25px 0;">
			<div class="col">
				<ul class="nav" id="myTab" role="tablist" style="padding:0px;"> 
				  <li class="nav-item" style="margin:5px 10px;">
  					<a class="nav-link active btn btn-block btn-social btn-local" id="local-upload-tab" data-toggle="tab" href="#local_upload" role="tab" aria-controls="local_upload" aria-selected="true" style="border-radius:0px; padding:15px; line-height:55px; height:50px; padding:0px 20px;">
  						<i class='oi oi-monitor' style="padding:0px 0px 0px 0px; position:relative;"></i>
  						<span style="font-size:1.2em;">
  							<%=t('btns.uploader.upload-from-device').titleize%>
  						</span>
  					</a>
				  </li>
				  <li class="disabled nav-item" style="margin:5px 10px;">
  					<a class="disabled nav-link btn btn-block btn-social btn-facebook" id="facebook_upload-tab" data-toggle="tab" href="#facebook_upload" role="tab" aria-controls="facebook_upload" aria-selected="true" style="border-radius:0px; padding:15px; line-height:55px; height:50px; padding:0px 20px;">
  						<i class='fa fa-facebook' style="padding: 0px 10px; position:relative;"></i>
  						<span style="font-size:1.2em;">
  							<%=t('btns.uploader.facebook').titleize%>
  						</span>
  					</a>
				  </li>
				  <li class="nav-item" style="margin:5px 10px;">
						<a class="nav-link btn btn-block btn-social btn-google" id="google-drive-upload-tab" data-toggle="tab" href="#google_drive_upload" role="tab" aria-controls="google_drive_upload" aria-selected="true" style="border-radius:0px; padding:15px; line-height:55px; height:50px; padding:0px 20px;">
  						<i class='fa fa-google' style="padding: 0px 10px; position:relative;"></i>
  						<span style="font-size:1.2em;">
  							<%=t('btns.uploader.google').titleize%>
  						</span>
  					</a>
				  </li>
				  <!--
				  <li class="nav-item" style="margin:5px 10px;">
						<a class="nav-link btn btn-block btn-social btn-instagram" id="instagram-upload-tab" data-toggle="tab" href="#instagram_upload" role="tab" aria-controls="instagram_upload" aria-selected="true" style="border-radius:0px; padding:15px; line-height:55px; height:50px; padding:0px 20px;">
  						<i class='fa fa-instagram' style="padding: 0px 10px; position:relative;"></i>
  						<span style="font-size:1.2em;">
  							<%=t('btns.uploader.instagram').titleize%>
  						</span>
  					</a>
				  </li>	
				  -->	
				  <li class="nav-item" style="margin:5px 10px;">
						<a class="nav-link btn btn-block btn-social btn-dropbox" id="dropbox-upload-tab" data-toggle="tab" href="#dropbox_upload" role="tab" aria-controls="dropbox_upload" aria-selected="true" style="border-radius:0px; padding:15px; line-height:55px; height:50px; padding:0px 20px;">
  						<i class='fa fa-dropbox' style="padding: 0px 10px; position:relative;"></i>
  						<span style="font-size:1.2em;">
  							<%=t('btns.uploader.dropbox').titleize%>
  						</span>
  					</a>
				  </li>
				</ul>
			</div>
		</div>

		<div class="row" style="flex:1; min-height:1px; height:100%;">
			
			<div class="col-sm-6 col-4" style="height:100%;">
				<div class="uploader-source" style="height:100%; /*min-height:300px; max-height:300px;*/ overflow:auto; overflow-y:hidden; background:rgba(246,246,246,1); height:100%; border-radius:7px;">
					<div class="tab-content" id="myTabContent">
	  			
	  				<div class="tab-pane fade show active" id="local_upload" role="tabpanel" aria-labelledby="local_upload-tab">
	  					
	  					<div class="input-group horizontal-vertical-center-absolute" style="padding:0px 30px;">
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile04" multiple accept="image/jpeg, image/jpg">
							    <label class="custom-file-label" for="inputGroupFile04">
							    	<%=t('btns.uploader.select-files').titleize%>
							    </label>
							  </div>
							</div>

	  				</div>
	  			
	  				<div class="tab-pane fade" id="facebook_upload" role="tabpanel" aria-labelledby="facebook_upload-tab">
	  					facebook_upload
	  				</div>
	  			
	  				<div class="tab-pane fade" id="google_drive_upload" role="tabpanel" aria-labelledby="google_drive_upload-tab">
	  					google_drive_upload
	  				</div>

	  				<div class="tab-pane fade" id="instagram_upload" role="tabpanel" aria-labelledby="instagram_upload-tab">
	  					instagram_upload
	  				</div>

	  				<div class="tab-pane fade" id="dropbox_upload" role="tabpanel" aria-labelledby="dropbox_upload-tab">
	  					dropbox_upload
	  				</div>  				
					
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-8" style="height:100%;">
				<div class="uploader-images" style="height:100%; /*min-height:300px; max-height:300px;*/ overflow:auto; overflow-x:hidden; background:rgba(246,246,246,1); border-radius:7px;">

				</div>
			</div>

		</div>

		<div class="row" style="height:50px;">
			<div class="col language-txt-align-reversed">
				<button type="button" class="btn btn-social active" data-dismiss="modal" aria-label="Close" style="padding:6px 12px; background: none; margin-top:4px; font-size:1.2em; font-weight:bold;">
					<%=t("continue")%>
				</button>
			</div>
		</div>
	</div>
</script>

<script id="yes_no_template" type="text/x-handlebars-template">
	<div class="modal-header-data">{{ translate 'js.yes_no.are_you_sure' }}</div>

	<div class="container-fluid" style="margin-bottom:30px; width:30em; max-width:95vw">
		{{ translate this.translations.html_translation_scope null this.translations_attributes}}
	</div>

	<div class="container-fluid" style="margin-bottom:5px;">
    <div class="btn-group align-middle" role="group" style="height:100%;">
           
      <a href="#" class="no-action btn btn-secondary" style="padding:7px 50px; border-radius:3px;">
        {{ translate 'no' }}
      </a>
      <a href="#" class="yes-action btn btn-secondary" style="padding:7px 50px; margin:0px 20px; border-radius:3px;">
        {{ translate 'yes' }}
      </a>

    </div>
	</div>	
</script>

<script id="template-settings" type="text/x-handlebars-template">
	<div class="modal-header-data">{{ translate 'js.template_settings.header' }}</div>

	<div class="container-fluid" style="margin-bottom:30px; width:30em; max-width:95vw">
		<form class="template-settings-form" style="width:100%;">
			
				
			<div class="form-row" style="margin-bottom:40px;">
				<div class="col">
      		<div class="zoom-slider form-group" style="margin:0px; text-align:center; direction:ltr;">
      			<label class="language-dir" style="margin-bottom:12px;">{{ translate 'js.template_settings.margin' }}</label>
      			<input name="margin" type="range" min="0" max="32" step="2" value="{{this.margin}}" data-rangeslider>
      		</div>
				</div>
			</div>	

			<hr/>
			
			<h5 style="text-align:center; margin-top:40px;">הגדרות מסגרת לטמפלטים</h5>

      <div class="form-row" style="margin-top:20px; margin-bottom:20px;">
  			<div class="col">
      		<div class="zoom-slider form-group" style="margin:0px; text-align:center; direction:ltr;">
      			<label style="margin-bottom:12px;">Width</label>
      			<input name="border_width" type="range" min="0" max="10" step="0.1" value="{{this.border_width}}" data-rangeslider>
      		</div>
      	</div>
      </div>

      <div class="form-row" style="margin-bottom:20px;">
      	<div class="col">
      		<div class="zoom-slider form-group" style="margin:0px; text-align:center; direction:ltr;">
      			<label style="margin-bottom:12px;">Radius</label>
      			<input name="border_radius" type="range" min="0" max="30" step="0.3" value="{{this.border_radius}}" data-rangeslider>
      		</div>
      	</div>
      </div>

      <div class="form-row">
				<div class="col" style="text-align:center;">
					<label style="margin-bottom:10px; display:block;">Color</label>
  				<input type="color" name="border_color" value="{{this.border_color}}">
  			</div>
  		</div>	

		</form>
	</div>

</script>	

<script id="alert_modal_template" type="text/x-handlebars-template">
	<div class="container-fluid" style="margin-bottom:30px; margin-top:30px; width:30em; max-width:95vw">
		{{ translate this.translations.html_translation_scope null this.translations_attributes}}
	</div>

	<div class="container-fluid" style="margin-bottom:5px;">
    <div class="btn-group align-middle" role="group" style="height:100%;">
           
      <a href="#" class="no-action btn btn-secondary" style="padding:7px 50px; border-radius:3px;">
        {{ translate 'close' }}
      </a>
    </div>
	</div>	
</script>	



<script id="instagram_filters_template" type="text/x-handlebars-template">
	<div class="container-fluid">
		<div class="row">
		{{#each filters}}
			<div class="col-6" style="height:0px; padding-top:50%; position:relative;">
				
				{{#ifCond @root.width ">" @root.height}}
				<div class="horizontal-vertical-center-absolute instagram-filter-container {{../this}}" style="position:absolute; width:95%;" data-instagram-filter="{{@key}}">
					<img src="{{@root.src}}" style="width:100%; height:auto;"/>	
				{{else}}
				<div class="horizontal-vertical-center-absolute {{../this}}" style="position:absolute; height:95%; width:auto;" data-instagram-filter="{{@key}}" >
					<img src="{{@root.src}}" style="height:100%; width:auto;"/>	
				{{/ifCond}}
					
				</div>	
				
			</div>
		{{/each}}
		</div>
	</div>
</script>

<script id="context_menu_template" type="text/x-handlebars-template">
	<div class="dropdown-menu dropdown-menu-sm" id="context-menu" style="z-index:1003; border:1px solid rgba(0,0,0,.1) ; font-size:14px;">
    <a class="dropdown-item context-copy-el" href="#" style="padding: 0.15rem 0.5rem;">{{ translate 'js.context_menu.copy' }}</a>
    <a class="dropdown-item context-paste-el" href="#" style="padding: 0.15rem 0.5rem;">{{ translate 'js.context_menu.paste' }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item context-as-background-el" href="#" style="padding: 0.15rem 0.5rem;">{{ translate 'js.context_menu.to_background' }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item context-delete-el" href="#" style="padding: 0.15rem 0.5rem;">{{ translate 'js.context_menu.delete_element' }}</a>
	</div>
</script>
