
<script id="mobile-header" type="text/x-handlebars-template">
<div class="main-container-header-inner" style="flex:1; display:flex; position:absolute; z-index:1; background:white; left:15px; right:15px; top:0; bottom:0; align-items:center;">
	<div class="" style="height:100%; flex:1;">
		{{#if left_icon}}
			<div class="header-left-btns {{left_class}}" style="height:100%; display:flex; align-items:center;">
				{{{left_icon}}}
			</div>
		{{/if}}	
	</div>
	

	<div class="uploader-animation" style="height:100%; margin-left: 15px;">
		<div class="uploader-animation-icon" style="">
			<!-- &#8593; -->
			<!-- &#10595; -->
			&#8613;
		</div>
	</div>

	{{#if title}}
		<div class="language-dir" style="display:flex; align-items:center; text-align:center; white-space:nowrap;">
			<span class="" style=" flex:1; text-align:center; white-space:nowrap; font-size:1.25em; line-height:1.25em; /*vertical-align:middle;*/ padding:0 0.25em;">
				{{title}}
			</span>
			{{#if info}}
				<i class="mobile-info-page fal fa-info-circle" style="font-size:1.25em; line-height:1.25em; /*vertical-align:middle;*/"></i>
			{{/if}}	
		</div>
	{{/if}}

	{{#if right_icon}}
		<div style=" flex:1; height:54px; line-height:54px; text-align:right; direction:rtl;">
			{{#if right_icon}}
				<div class="header-right-btns {{right_class}}" style="">
					{{{right_icon}}}
					{{#if @root.right_txt}}
						<br>
						<span>{{@root.right_txt}}</span>
					{{/if}}
				</div>
			{{/if}}	
		</div>	
	{{/if}}

	{{#if right_icons}}
		<div style="flex:3; text-align:right; direction:rtl; height:54px; line-height:54px; white-space: nowrap;">
		{{#each right_icons}}
			<div class="header-right-btns {{lookup @root.right_classes @index}}" style="">
				{{{lookup @root.right_icons @index}}}
				<br>
				<span style="max-width:60px; white-space:normal; line-height:0.85; paddin-top:5px;">{{lookup @root.right_txts @index}}</span>
			</div>
		{{/each}}
		</div>
	{{else}}
		{{#if right_icon}}

		{{else}}
			<!-- empty => just for centering the title -->
			<div style="flex:1; height:54px; line-height:54px; text-align:right; direction:rtl;"></div>
		{{/if}}
	{{/if}}
</div>
</script>

<script id="mobile-footer" type="text/x-handlebars-template">
	{{#if left_icon}}
		{{#if @root.center_icon}}
		<div class="" style="flex:1; height:100%; min-width:100px; position:relative;">
		{{else}}
		<div class="" style="height:100%; min-width:100px; position:relative;">
		{{/if}}
			<div class="{{left_class}}" style="">
				{{{left_icon}}}
			</div>
		</div>
	{{/if}}

	{{#if left_icons}}
		{{#if @root.center_icon}}
			<div class="" style="flex:1; height:100%; min-width:100px; position:relative;">
		{{else}}
			<div class="" style="height:100%; min-width:100px; position:relative;">
		{{/if}}
			{{#each left_icons}}
				<div class="{{lookup @root.left_classes @index}}" style="">
					{{{this}}}
				</div>
			{{/each}}
			</div>
	{{/if}}	

	{{#if title}}
		<div style="flex:1; text-align:center;">
			<span class="" style="text-align:center">
				{{title}}
			</span>
		</div>
	{{/if}}

	{{#if title_btn}}
		<div class="language-dir" style="flex:1; height:100%;">
			<div class="" style="text-align:center; position:relative; height:100%;">
				<a href="#" class="{{title_btn_class}}">{{title_btn}}</a>
			</div>
		</div>
	{{/if}}

	{{#if center_icon}}
		<div class="centered_btn_container" style="flex:1; height:100%; min-width:100px; position:relative;">
			<span class="for_border" style="float:left;"> | </span>
			<div class="{{center_class}}" style="">
				{{{center_icon}}}
			</div>
			<span class="for_border" style="float:right;"> | </span>
		</div>
	{{/if}}

	{{#if right_icon}}
		{{#if @root.center_icon}}
		<div class="" style="flex:1; height:100%; min-width:100px; position:relative;">
		{{else}}
		<div class="" style="height:100%; min-width:100px; position:relative;">
		{{/if}}
			<div class="{{right_class}}" style="">
				{{{right_icon}}}
			</div>
		</div>
	{{/if}}

	{{#if right_icons}}
		{{#if @root.center_icon}}
			<div class="" style="flex:1; height:100%; min-width:100px; position:relative;">
		{{else}}
			<div class="" style="height:100%; min-width:100px; position:relative;">
		{{/if}}
			{{#each right_icons}}
				<div class="{{lookup @root.right_classes @index}}" style="">
					{{{this}}}
				</div>
			{{/each}}
			</div>
	{{/if}}

</script>


<script id="mobile-images-page-header" type="text/x-handlebars-template">
	<!--
	<div class="" style="display:flex; height:44px; margin:10px;">
		
		<div style="flex:1; text-align:center;"">
			<img class="" style="max-height:100%;" src="/mobile/add_image_120x120.png"/>
		</div>

		<div style="flex:1; text-align:center; height:100%;">
			<div style="height:100%; display:inline-block; position:relative;">
				<img class="" style="max-height:100%;" src="/mobile/add_image_120x120.png"/>
				<input class="mobile-file-input" type="file" multiple="" accept="image/jpeg, image/jpg"
				 	style="position: absolute; display: inline-block; left: -20%; top: -20%; width: 140%; height: 0px; padding: 140% 0 0 0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;">
			</div>
		</div>

	</div> 
	-->
</script>

<script id="mobile-images-add-images-btn" type="text/x-handlebars-template">
	<div>
		<%-if has_social_imports%>
		<div class="images-import-images-btn">
			<i class="fal fa-cloud-download-alt fa-2x"></i>
			<br>
			<span style="text-trans">
				<%=raw I18n.t("mobile.images.import_from_social")%>
			</span>
		</div>
		<%end%>

		<div class="images-add-images-btn" style="position:relative;">
			<i class="fal fa-mobile-alt fa-2x"></i>
			<br>
			<span style="text-trans">
				<%=raw I18n.t("mobile.images.upload_from_device")%>
			</span>

			<%-if (browser.platform.ios?)%>
				<!-- ios devices - do not support the 'image/jpeg' formula -->
				<input 	class="mobile-file-input" type="file" accept="image/*"
					 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
					 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;" multiple="">
			<%else%>
				<!-- fit to none ios devices -->
				<input class="mobile-file-input" type="file" accept="image/jpeg, image/jpg"
						 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
						 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;" multiple="">
			<%end%>

			<!-- ios devices - do not support the 'image/jpeg' formula 
			<input 	class="mobile-file-input" type="file" multiple="" accept="image/*"
					 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
					 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;">
			-->
			
			<!-- can fit to none ios devices
			<input 	class="mobile-file-input" type="file" multiple="" accept="image/jpeg, image/jpg"
					 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
					 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;">
			-->					 			

			<!--
			<input 	class="mobile-file-input" type="file" multiple="" accept=".heic, .jpg"
					 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
					 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;">
			-->

      <!--
			<input 	class="mobile-file-input" type="file" multiple=""
					 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
					 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;">
      -->

		</div>	

		<div class="images-friends-images-btn">
			<i class="fal fa-user-friends fa-2x"></i>
			<br>
			<span style="text-trans">
				<%=raw I18n.t("mobile.images.invite_friends")%>
			</span>
		</div>
	</div>

	<div class="hidden language-dir">
		<a href="#" class="delete-images-btn">
			<i class="fad fa-trash"></i>
			&nbsp;
			<span style="text-transform:capitalize;">
				<%=raw I18n.t("mobile.images.delete_selected")%>
			</span>
		</a>
	</div>
</script>

<script id="mobile-images-uploader-selector" type="text/x-handlebars-template">
	<div class="images-container-upload-selector horizontal-vertical-center-absolute" style="display:flex; min-height:1px; flex-direction:column; ">

		<a class="upload-from-btn phone-btn " style="position:relative;">
			<i class="fal fa-mobile-alt"></i>
			<span>From Device</span>
			<i class="fal fa-upload"></i>

			<input 	class="mobile-file-input" type="file" multiple="" accept="image/jpeg, image/jpg"
				 			style="position: absolute; display: inline-block; left: 0%; top: 0%; width: 100%; /*height: 0px; padding: 100% 0 0 0;*/
				 			height:100%; padding:0; overflow: hidden; box-sizing: border-box; opacity: 0; z-index: 2;">			
		</a>

		<a class="upload-from-btn friends-btn ">
			<i class="fal fa-user-friends"></i>
			<span>Invite Friends</span>
		</a>

		<a class="upload-from-btn google-photos-btn ">
			<i class=""></i>
			<span>Google Photos</span>
			<i class="fal fa-upload"></i>
		</a>

		<a class="upload-from-btn google-drive-btn ">
			<i class=""></i>
			<span>Google Drive</span>
			<i class="fal fa-upload"></i>
		</a>		

		<a class="upload-from-btn facebook-btn ">
			<i class="fab fa-facebook"></i>
			<span>Facebook</span>
			<i class="fal fa-upload"></i>
		</a>

		<a class="upload-from-btn dropbox-btn ">
			<i class="fab fa-dropbox"></i>
			<span>Dropbox</span>
			<i class="fal fa-upload"></i>
		</a>		

		<a class="upload-from-btn instagram-btn ">
			<i class="fab fa-instagram-square"></i>
			<span>Instagram</span>
			<i class="fal fa-upload"></i>
		</a>

	</div>
</script>

<script id="mobile-images-page" type="text/x-handlebars-template">
	{{#if this.is_external_images}}
		<div class="images-container-page images-container-page-external" style="display:flex; min-height:1px; height:100%; flex-direction:column;">
	{{else}}
		<div class="images-container-page external-images" style="display:flex; min-height:1px; height:100%; flex-direction:column;">
	{{/if}}

		{{#if this.is_external_images}}
		{{else}}
			<div class="images-top-buttons-container" style="">
			</div>		
		{{/if}}

		{{#if this.is_external_images}}
			{{> mobile_images_external}}
		{{else}}
			{{> mobile_images}}
		{{/if}}

	</div>

</script>

<script id="mobile_images_external" type="text/x-handlebars-template">

	<div class="images-container-page-inner language-text-align language-dir" style="flex:1; height:100%; display:flex; flex-direction:column;">

		<div class="images-container-page-controllers" style="display:flex; padding:1em;">

		   <div class="select language-dir language-txt-align" style="width: 120px; /*margin: 0px 0.5em 1em;*/ margin: 0px 0em 1em; border-bottom: 1px solid lightgray;">
				<select class="select-text" required style="cursor:pointer;">
					{{external_images_galleries_options @root.default_gallery}}
				</select>
			</div>

			<div class="external-selection-counter" style="flex:1; display:flex; align-items:center; justify-content:center; text-align: center; margin-bottom:1em;">
			</div>

			<div class="" style="width: 120px; /*margin: 0px 0.5em 1em;*/ margin: 0px 0em 1em; display:flex; align-items:center; justify-content:left; ">
				<a class="images-container-page-controllers_select_all" style="color:inherit; cursor:pointer;">
					<i class="fal fa-check-double"></i>
					select all
				</a>
			</div>

		</div>

	</div>		
</script>

<script id="mobile_images" type="text/x-handlebars-template">
	<div class="images-container" data-attr-gallery="{{this.gallery_name}}" style="direction:ltr; /*flex:0 0 auto;*/ flex:1; min-height:1px; padding:0px 0px 10px 0px; overflow-x:hidden; overflow:scroll; -webkit-overflow-scrolling: touch; font-size:0;">

		{{#each images}}
			{{> mobile_image data=this lazy=true is_external=@root.is_external}}
		{{/each}}
			
	</div>
</script>

<script id="mobile_images_panel" type="text/x-handlebars-template">
	<div class="panel-inner" style="">
		
		<div class="mobile-add-images-btn-container drop_area" style="">
			<div class="mobile-add-images-btn horizontal-vertical-center-absolute square" style="">
				<div style="">
				</div>
			</div>
		</div>

		<div style="direction:ltr; text-align:left; flex:1; overflow-x: scroll;overflow-y: hidden;white-space: nowrap;font-size: 0px;flex-wrap: nowrap;touch-action: pan-x;">
			<div class="images-container inobounce-allow-horizontal-fix" style="flex:1;">

				{{#each images}}
					{{> mobile_image_panel_image this}}
				{{/each}}
					
			</div>
		</div>
	
	</div>		
</script>


<script id="mobile_templates_panel" type="text/x-handlebars-template">
	<div class="images-container panel-inner inobounce-allow-horizontal-fix" style="">
		{{#each data}}
			{{#each this}}
				{{> mobile_templates_panel_image this}}
			{{/each}}
		{{/each}}
</script>

<script id="mobile_backgrounds_panel" type="text/x-handlebars-template">
	<div class="images-container panel-inner inobounce-allow-horizontal-fix" style="">
		{{#each colors}}
			<div class="images-container-el background" style="position:relative; background:white; height:100%; min-width:70px;" data-color="{{this}}">
				<div class="square horizontal-vertical-center-absolute" style="width:50px; border-radius:50px; border:1px solid grey; overflow:hidden;">
					<div style="background-color:{{this}};">

					</div>
				</div>
			</div>
		{{/each}}
	</div>
</script>


<script id="mobile_templates_panel_image" type="text/x-handlebars-template">
	<div class="images-container-el sheet-template template" style="height:100%;" data-id="{{this.id}}" data-uuid="{{this.uuid}}">
			<img style="" src="{{this.exported_template_media.small}}" draggable="false"/>
	</div>
</script>

<script id="mobile_image" type="text/x-handlebars-template">
	<div class="images-container-el" style="" data-id="{{this.data.id}}" data-uuid="{{this.data.uuid}}">
		<div 	class="images-container-el-holder" 
					
					{{#ifCond this.lazy "!=" true }}
						style='background-image:url("{{../data.small}}");'
					{{else}}
						style=''
					{{/ifCond}}
					
					data-is-lazy="{{ifCond_val_or_empty this.lazy '==' true 'true' }}"

					{{#ifCond this.lazy "==" true }}
						data-background-image="{{../data.small}}"	
					{{else}}
					{{/ifCond}}
		>
			
			{{#unless this.is_external}}
				<div class="delete-image-btn">
				</div>
			{{/unless}}

			{{#if this.is_external}}
				{{#is_album_with_cover}}
					<div class="set-cover-image-btn">
					</div>
				{{/is_album_with_cover}}
			{{/if}}
			
			<div class="img-used">
			</div>
		</div>
	</div>
</script>

<script id="mobile_image_panel_image" type="text/x-handlebars-template">
	<div class="images-container-el image" style="height:100%;" data-id="{{this.id}}" data-uuid="{{this.uuid}}">
		<img loading="lazy" style="" src="{{this.small}}" draggable="false"/>
		<div class="img-used">
		</div>
	</div>
</script>

<script id="mobile-images-import" type="text/x-handlebars-template">
	<div class="importing-spinner-container" style="text-align:center;">
		<div class="spinner-loading">Loading...</div>
		
		{{{ translate 'mobile.modal_notes.import_progress_html' null this }}}

		<!--
		<span>מיבא התמונות לאלבום</span><br>
		<span>כבר מסיימים</span><br><br>
		<span>נותרו</span>&nbsp;<span class="import-image-count">{{count}}</span>&nbsp;<span>תמונות</span>
		-->
	</div>
</script>

<script id="mobile-waiting-for-design" type="text/x-handlebars-template">
	<div class="wait-for-desing-spinner-container" style="text-align:center;">
		<div class="spinner-loading">Loading...</div>
		
		{{{ translate 'mobile.modal_notes.waiting_for_design_html' }}}
		<br>
		<br>

		<!--
		<span>הספר שלך כמעט מוכן</span><br>
		<span>אנחנו מתרגשים</span>
		-->
		<span class="design-progress"></span>
	</div>
</script>

<script id="mobile-waiting-spinner" type="text/x-handlebars-template">
	<div class="wait-for-desing-spinner-container horizontal-vertical-center-absolute" style="text-align:center;">
		<div class="spinner-loading">Loading...</div>
	</div>
</script>

<script>
   function event_prevent_and_false(e) {
      console.warn("prevent submit");
      e.preventDefault();
      return false;
   }
</script>

<script id="mobile-image-edit" type="text/x-handlebars-template">
	<div class="mobile-image-editor" data-page-id="{{page_container.id}}" data-el-id="{{el.uuid}}">
		<div class="mobile-image-cropper">

<!-- 
			<div class="mobile-image-cropper-container-holder horizontal-vertical-center-absolute" style="{{mobile_image_cropper_container_size this.el}}">
 -->	
			<div class="mobile-image-cropper-container-holder horizontal-vertical-center-absolute" style="">

				<div class="mobile-image-cropper-container" style="position:absolute; width:100%; height:100%; left:0; top:0; overflow:hidden;">
					<img src="{{mobile_image_cropper_img_src el}}" crossorigin="anonymous" style="display: block; max-width:100%; width:100%; visibility:hidden;">

					<!--
					<div class="mover horizontal-vertical-center-absolute" style="width:50px; height:50px; background:black">

					</div>
					-->
					<div class="inner_mover horizontal-vertical-center-absolute" style="pointer-events: none; cursor: -webkit-grab; cursor: grab; width:44px; height:44px; background:rgba(255,255,255,.35);">
						<%#= image_tag("print_shared/inner_move_arrows_32_32.png", :draggable => false, :class => "horizontal-vertical-center-absolute", :style => "") %>
						<i class="fal fa-arrows horizontal-vertical-center-absolute" style="font-size:36px;"></i>
					</div>



				</div>	

			</div>

		</div>
		
		<div class="mobile-image-text-editor" style="">
			<p class="language-dir" style="text-transform: uppercase;">
				{{ translate "mobile.image_edit.add_text" }}
			</p>
			<form action="#" onsubmit="return event_prevent_and_false(event)">
				<input class="language-txt-align language-dir" type="text" id="image-text" name="image-text" style="width:100%; max-width:320px; border:1px solid #777; border-radius:3px;">
			</form>
		</div>

		<div class="mobile-image-apply-container">
			<a href="#" class="mobile-image-apply-button primary-button">
				{{ translate "mobile.image_edit.save_changes" }}
			</a>
		</div>
	</div>
</script>

<script id="mobile-text-edit-not-supported" type="text/x-handlebars-template">
	<div class="mobile-text-editor" data-page-id="{{page_container.id}}" data-el-id="{{el.uuid}}">
		<div class="horizontal-vertical-center-absolute" style="width:100%; text-align:center;">
			Support is Comming Soon
		</div>
	</div>
</script>

<script>
	function text_edit_click_event(event) {
		// debugger;
	}
</script>

<script id="mobile-text-edit-position" type="text/x-handlebars-template">
	<!-- direction -->
	<div style="flex:2; display:flex; height:2.5em; border-right: 1px solid lightgrey;">
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn {{ifCond_val_or_empty attrs.data.dir '==' 'ltr' 'active'}}" data-css-key="direction" data-css-value="ltr">
			<i class="fal fa-paragraph-rtl fa-flip-horizontal"></i>
		</div>
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn {{ifCond_val_or_empty attrs.data.dir '==' 'rtl' 'active'}}" data-css-key="direction" data-css-value="rtl">
			<i class="fal fa-paragraph-rtl"></i>
		</div>
	</div>
	<!-- text align -->
	<div style="flex:3; display:flex; height:2.5em; border-right: 1px solid lightgrey;">
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn {{ifCond_val_or_empty attrs.data.align '==' 'left' 'active'}}" data-css-key="text-align" data-css-value="left">
			<i class="fal fa-align-left" style=""></i>
		</div>
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn  {{ifCond_val_or_empty attrs.data.align '==' 'center' 'active'}}" data-css-key="text-align" data-css-value="center">
			<i class="fal fa-align-center"></i>
		</div>
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn  {{ifCond_val_or_empty attrs.data.align '==' 'right' 'active'}}" data-css-key="text-align" data-css-value="right">
			<i class="fal fa-align-right"></i>
		</div>
	</div>
	<!-- vertical align -->
	<div style="flex:3; display:flex; height:2.5em;">
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn {{ifCond_val_or_empty attrs.data.vertical-align '==' 'top' 'active'}}" data-css-key="vertical-align" data-css-value="top">
			<i class="fal fa-horizontal-rule" style="position:relative; top:-0.3em;"></i>
		</div>
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn {{ifCond_val_or_empty attrs.data.vertical-align '==' 'middle' 'active'}}" data-css-key="vertical-align" data-css-value="middle">
			<i class="fal fa-horizontal-rule" style=""></i>
		</div>
		<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn text-edit-position-btn {{ifCond_val_or_empty attrs.data.vertical-align '==' 'bottom' 'active'}}" data-css-key="vertical-align" data-css-value="bottom">
			<i class="fal fa-horizontal-rule" style="position:relative; top:0.3em;"></i>
		</div>						
	</div>
</script>

<script id="mobile-text-edit-color" type="text/x-handlebars-color">	
	<div class="mobile-text-edit-colors-container inobounce-allow-horizontal-fix" style="">
		{{#each this.colors}}
			{{#mobile_rgb_hex_is_equal @root.el.attrs.data.color this }}
				<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn rounded active" style="background:{{this}};"></div>
			{{else}}
				<div class="mobile-text-editor-top-controllers-sub-controllers-element-btn rounded" style="background:{{this}};"></div>
			{{/mobile_rgb_hex_is_equal}}

		{{/each}}
	</div>
</script>

<script id="mobile-text-edit-size" type="text/x-handlebars-color">
	<div class="mobile-text-edit-size-container" style="">
		<input type="range" min="0.5" max="12" value="{{this.attrs.data.size}}" step="0.1" class="slider">
	</div>
</script>

<script id="mobile-text-edit-font-old" type="text/x-handlebars-color">
	<div class="mobile-text-edit-font-container" style="">
		{{font-classes-style this}}

		<ul>
			{{mobile_text_font_list this}}
		</ul>
	</div>
</script>
<script id="mobile-text-edit-font" type="text/x-handlebars-color">

	<ul class="mobile-text-edit-font-container inobounce-allow-horizontal-fix">
		{{mobile_text_font_list this}}
	</ul>

	{{font-classes-style this}}

</script>

<script id="mobile-text-edit" type="text/x-handlebars-template">
	<div class="mobile-text-editor" data-page-id="{{page_container.id}}" data-el-id="{{el.uuid}}">
		
		<div class="mobile-text-editor-top-controllers" style="">
			
			<div class="mobile-text-editor-top-controllers-main-btn" style="" data-sub-menu-class="mobile-text-editor-top-controllers-sub-controllers-font">
				<i class="fal fa-font"></i>
			</div>
			<div class="mobile-text-editor-top-controllers-main-btn" style="" data-sub-menu-class="mobile-text-editor-top-controllers-sub-controllers-size">
				<i class="fal fa-text-size"></i>
			</div>
			<div class="mobile-text-editor-top-controllers-main-btn" style="" data-sub-menu-class="mobile-text-editor-top-controllers-sub-controllers-color">
				<i class="fad fa-palette"></i>
			</div>
			<div class="mobile-text-editor-top-controllers-main-btn" style="" data-sub-menu-class="mobile-text-editor-top-controllers-sub-controllers-position">
				<i class="fal fa-align-center"></i>
			</div>
		</div>

		<div class="mobile-text-editor-top-controllers-sub-controllers" style="display:none;">
			
			<div class="mobile-text-editor-top-controllers-sub-controllers-element mobile-text-editor-top-controllers-sub-controllers-position" style="">
				{{do_partial "mobile-text-edit-position" this.el}}
			</div>

			<div class="mobile-text-editor-top-controllers-sub-controllers-element mobile-text-editor-top-controllers-sub-controllers-color" style="/* overflow-y: hidden; overflow-x: scroll;*/ /*overflow:scroll; touch-action: pan-x; -webkit-overflow-scrolling: touch;*/">
				{{do_partial "mobile-text-edit-color" this}}
			</div>
			
			<div class="mobile-text-editor-top-controllers-sub-controllers-element mobile-text-editor-top-controllers-sub-controllers-size" style="">
				{{do_partial "mobile-text-edit-size" el}}
			</div>

			<div class="mobile-text-editor-top-controllers-sub-controllers-element mobile-text-editor-top-controllers-sub-controllers-font" style="">
				{{do_partial "mobile-text-edit-font" el}}
			</div>

		</div>

		<div class="mobile-text-editor-type-area" style="flex:1; position:relative; margin: 0 0.5em;">
			<div class="mobile-text-editor-type-area-input-container horizontal-vertical-center-absolute" style="display:block; overflow:hidden; outline:1px solid #999; outline-offset:-1px;">
			<!-- <div class="mobile-text-editor-type-area-input-container horizontal-vertical-center-absolute" style="display:table; overflow:hidden; outline:1px solid #999; outline-offset:-1px;">	 -->
				<p class="mobile-text-editor-type-area-input" contenteditable="true" style="display:inline-block; width:100%; margin:0px; padding:0px; outline:none; -webkit-user-select:text; user-select:text; -webkit-line-break:normal; line-break:normal" onKeyDown="text_edit_click_event(event);/* return false;*/">
					{{{this.text}}}
				</p>
				<!-- <p class="mobile-text-editor-type-area-input" contenteditable="true" style="display:table-cell; width:100%; margin:0px; padding:0px; outline:none; -webkit-user-select:text; user-select:text; -webkit-line-break:normal; line-break:normal" onKeyDown="text_edit_click_event(event);/* return false;*/">
					{{{this.text}}}
				</p> -->
				<!-- <textarea placeholder="Type Your Text" style="width:100%; height:100%; border:1px solid black; -webkit-user-select:text; user-select:text; text-align:center;"></textarea> -->
			</div>

			<div class="mobile-text-editor-type-area-error" style="display:none; position:absolute; z-index:1; top:10px; right:10px; background:white; padding:15px; text-align:center; color:var(--error-color);">
				<i class="fad fa-exclamation-triangle" style="font-size:1.5em;"></i>
				<br>
				<span>Text oversized<span>
			</div>
		</div>

		<div class="mobile-text-editor-bottom-controllers">
			<a href="#" class="mobile-text-editor-submit client_button_ok">
				save changes
			</a>
		<div>
	
	</div>
</script>

<script id="mobile-cover-page" type="text/x-handlebars-template">
	<div class="mobile-cover-editor">
		<div class="mobile-cover-selector">
			<a href="#" class="select-image-btn horizontal-vertical-center-absolute" style="text-align:center; color:inherit;">
				<i class="fal fa-plus fa-5x"></i>
				<br>
				<span>בחר תמונה לכריכה</span>
			</a>
		</div>

		<div class="mobile-cover-text-editor" style="line-height:2.0rem; font-size:1.2rem; color: #777;">
			<p style="text-transform: uppercase; margin:0.25em;">Text on cover</p>
			<form action="#">
				<input type="text" id="image-text" name="image-text" style="width:100%; max-width:320px; border:1px solid #777; border-radius:3px;">
			</form>
		</div>

		<div class="mobile-cover-apply-container">
			<a href="#" class="mobile-cover-apply-button">המשך</a>
		</div>		
	</div>
</script>

<script id="mobile-images-selector" type="text/x-handlebars-template">

</script>

<script id="mobile-root-cards" type="text/x-handlebars-template">
	<div class="tabs-container">
		
		<div class="tabs">
			{{#each this.data}}
				<a href='#' class="btn-tab-link" onclick="demo_show_tab(event, '{{this.id}}')" >{{this.name}}</a>
			{{/each}}	
		</div>

		{{#each this.data}}
			<!-- <div id="{{this.id}}" class="tab-content" style='background:url("/mobile/demo/demo_product_{{{this.name}}}.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; '> -->
			
			<div id="{{this.id}}" class="tab-content" style='background-image:url("{{this.image}}")'> 	
				
				<div class="btn product-create-btn">
					<!-- בחר והתחל -->
					<%=I18n.t('mobile.root.select_and_start')%>
				</div>

			</div>
		{{/each}}

	</div>
</script>

<script id="mobile-root-blocks" type="text/x-handlebars-template">
	<div class="blocks-container">
		<div class="blocks-container-inner row">
			{{#each this.data}}
				{{#each this.shop_sub_categories}}
					{{#if this.related_product}}
						<div class="block-container col-12 col-lg-6 /*col-xl-4*/">
							<div class="block produc-block-create" data-product-id='{{this.related_product}}'>
								<div class="block-img" style="background-image:url('{{this.mobile_media.download}}')">
								</div>
								<div class="block-txt language-dir">
									{{!--<span>{{this.name}}</span>--}}
									<span>{{{ translation_or_value this "name" }}}</span>
									<br>
									{{!--<span>החל מ - {{this.minimum_price}}</span>--}}
									<span>{{{ translate 'mobile.root.price_starting_from' }}} - {{this.minimum_price}}</span>
								</div>	

								{{#ifCond this.data.is_recommended "==" true }}
									<div class="recommended" data-text='{{{ translate "shop_sub_catergory.recommended_txt"}}}'>
									</div>
								{{/ifCond}}
						
							</div>	
						</div>
					{{/if}}
				{{/each}}
			{{/each}}
		</div>
	</div>
</script>

<script id="mobile-product-create" type="text/x-handlebars-template">
	<div class="mobile-product-create">
		
		<form action="#">

			<div class="product-name-container">
	
				<p class="bigger color-secondary language-dir" style="margin-top:0px;">
					<%=I18n.t('mobile.new_product.step')%> 1
				</p>

				<div class="product-name">
					<p style="text-transform: uppercase; margin-bottom:0.25em;">
						<%=I18n.t('mobile.new_product.project_name')%>
					</p>
					<input type="text" placeholder="{{product_default_name this}}" class="language-txt-align language-dir" name="product-name" style="margin-bottom:0.5em; width:100%; max-width:320px; border:1px solid #777; border-radius:3px;" data-default-name="{{product_default_name this}}">					
				</div>

				<div class="product-create-btn-container">
					<div class="btn product-create-continue-btn">
						<%=I18n.t("mobile.new_product.continue")%>
					</div>
				</div>

			</div>

			
			<div class="product-selector-container hidden">
				
				<p class="bigger color-secondary" style="margin-top:0px;">
					<%=I18n.t('mobile.new_product.step')%> 2
				</p>

				<div class="product-selector">
					<p style="text-transform: uppercase; margin-bottom:0.25em;">
						<%=I18n.t('mobile.new_product.product_select')%>
					</p>
					<div class="product-selector-product">
						{{#each data.customer_products}}
							<label>
								<input type="radio" name="product-id" value="{{id}}" data-data="{{product_data}}">
								<!-- <img src="/mobile/demo/{{{name}}}_album.png" /> -->
								<img src="{{{image}}}"/>
								<p>{{name}}</p>
							</label>
							<br>
						{{/each}}
					</div>
				</div>

				<div class="product-create-btn-container">
					<div class="btn product-create-create-btn">
						<%=I18n.t("mobile.new_product.select_and_continue")%>
					</div>
				</div>	

			</div>
		
		</form>

	</div>
</script>

<script id="mobile-products" type="text/x-handlebars-template">
	<div style="display:flex; flex-direction:column; position:absolute; width:100%; height:100%; left:0; top:0;">

		<div class="" style="flex:1; margin:15px; text-align:center;">

		</div>

		<div class="" style="margin:30px; text-align:center;">
			<div class="new-album-btn bigger">
				<i class="fal fa-plus-circle big"></i>
				<br>
				<span>אלבום חדש</span>
			</div>
		</div>

	</div>
</script>

<script id="mobile-editor-info" type="text/x-handlebars-template">
	<div class="info-container language-txt-align language-dir">

		<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
			<i class="fal fa-times"></i>
		</a>

		<style>
			.add-image-to-page-btn-info {
				i {
					background: image-url("add_image.svg");
			    background-repeat: no-repeat;
			    background-size: cover; /* stretch the background to cover the whole element */
			    display: inline-block;
			    height: 20px;
			    width: 20px;										
				}
			}
		</style>

		<div class="info-container-inner">
			<h4 style="text-align:center; margin-bottom:40px;">
				שינוי העיצוב - סרטון YouTube/Vimeo קצר או הסברי אייקונים
			</h4>
			<ul style="list-style:none; font-size:1.25rem;">
				<li>
					<i class="fal fa-arrows-alt-v"></i>
					<span>גרור הדף לשינוי סדר הדפים באלבום</span>
				</li>
				<li>
					<i class="fal fa-random"></i>
					<span>שנה תבנית הדף</span>
				</li>
				<li class="add-image-to-page-btn-info">
					<i><i>
				</li>
				<li>...</li>
				<li>...</li>
				<li>...</li>
				<li>...</li>
			</ul>
		</div>			

	</div>
</script>


<script id="configuration-page" type="text/x-handlebars-template">
	<div class="social-container">
		
		{{#if modal}}
		<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
			<i class="fal fa-times"></i>
		</a>
		{{/if}}

		{{#if disabled}}
		<div class="horizontal-vertical-center-absolute" style="width:100%; text-align:center;">
			Calendar configuration page Support is Comming Soon with Private Dates & other configurations
		</div>
		{{else}}
			<div class="social-container-inner" style="overflow:scroll; -webkit-overflow-scrolling:touch;">
				
				{{#if show_month_selector}}
				<div class="calenar-month-container" style="padding-top:30px; min-height:100px; /* border-bottom:1px solid black;*/">
					{{mobile_calendar_month_selector @root.data}}
				</div>
				{{/if}}

				{{#if show_dates}}
				<div class="container">
					<div class="row" style="direction:ltr;">
						<div class="calenar-add-date-container language-dir col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4" style="padding-top:50px;">
							<h3>{{{ translate 'mobile.calendar.private_event_heading' }}}</h3>
							<form id="calendar-new-event-form" class="">
								<div class="form-group md-form">
									<input name="date" class="form-control" type="date" value="{{date_picker_date_string_today}}">
									<label class="absolute-align language-dir language-txt-align active">{{{ translate 'mobile.calendar.private_event_date' }}}</label>
								</div>
								<div class="form-group md-form">
									<input name="txt" class="form-control" type="text" maxlength="20" placeholder="{{{ translate 'mobile.calendar.private_event_text' }}}">
									<label class="absolute-align language-dir language-txt-align active">{{{ translate 'mobile.calendar.private_event_text' }}}</label>
								</div>
								<div class="form-group md-form">
									<input name="photo" class="form-control" type="file" placeholder="{{{ translate 'mobile.calendar.private_event_add_image' }}}">
									<input name="upload" type="hidden">
									<label class="absolute-align language-dir language-txt-align active">{{{ translate 'mobile.calendar.private_event_add_image' }}}</label>
								</div>
								<div class="form-group">
									<input class="btn form-control btn-none-with-border rounded" type="submit" value="{{{ translate 'add' }}}">
								</div>
							</form>
						</div>
					</div>
					<div class="row" style="direction:ltr;">
						<div class="calenar-private-dates-container language-dir col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4" style="padding-top:50px;">
							{{#each @root.private_dates}}
								{{do_partial "calendar_date" key=@key value=this}}
							{{/each}}
						</div>
					</div>
				</div>	
				{{/if}}

			</div>
		{{/if}}

	</div>
</script>

<script id="calendar_date" type="text/x-handlebars-template">
	<div class="calendar_date" style="display:block; display:flex; border-bottom:1px solid #d8d8d8; padding:0.5em 0.5em;" data-uuid="{{this.key}}">
		<div style="flex:2;">
			<img src="{{this.value.media_url}}" style="width:100%; height:auto;"/>
		</div>	
		<div class="language-dir language-txt-align" style="flex:6; display:flex;">
			<span style="align-self:flex-end; padding-left:0.5em; padding-right:0.5em;">
				{{this.value.date}}
			</span>
		</div>
		<div class="language-dir language-txt-align" style="flex:6; display:flex;">
			<span style="align-self:flex-end;">
				{{this.value.txt}}
			</span>
		</div>
		<div class="language-dir-reversed language-txt-align-reversed" style="flex:1; display:flex;">
			<span style="align-self:flex-end;">
				<i class="fal fa-trash-alt calendar_delete_date"></i>
			</span>
		</div>
	</div>	
</script>

<script id="cover-selector" type="text/x-handlebars-template">
	<div class="mobile-covers-selector" data-page-id="{{page_id}}" data-left-or-right="{{left_or_right}}">
		
		<div class="mobile-covers-selector-top-area container">
			<div class="row">
			{{#each templates}}

				<span class="language-dir">{{{ translate 'mobile.template_selector.templates_with_x_images' null num=@key }}}</span>
				
				{{#each this}}
					<div class="cover-selector col-12" data-template-id="{{this.id}}">
						<img src="{{this.exported_template_media.small}}"/>
					</div>
				{{/each}}
			{{/each}}
			</div>
		</div>

		<div class="mobile-covers-selector-bottom-area">
			<a href="#" class="mobile-cover-selector-submit">
				select
			</a>
		</div>

	</div>
</script>

<script id="mobile-preview-page" type="text/x-handlebars-template">
	<div class="social-container">
		
		<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
			<i class="fal fa-times"></i>
		</a>

		<div class="horizontal-vertical-center-absolute" style="width:100%; text-align:center;">
			<img src="<%=image_url("print_shared/rotate_phone.png");%>" style="width:40%; display:block; margin:auto;"/>
			<%=I18n.t("mobile.preview.note")%>
		</div>

	</div>
</script>

<script id="mobile-preview-page_viewer_old" type="text/x-handlebars-template">
	{{#if page_editor}}
		<div class="preview-container page-editor" style="width:100%; height:100%;">
	{{else}}
		<div class="preview-container" style="width:100%; height:100%;">
	{{/if}}
		
		{{#if close_btn}}
			<a class="close" onclick="(function() { 
				$('.mobile-edior .main-container').css( { 'display':'flex', } );
				$('.mobile-edior .main-viewer').css( { 'display':'none', } );
				return false;
				})();return false;"
			>
				<i class="fal fa-times"></i>
			</a>
		{{/if}}

		<iframe id="picndo_print_iframe" name='picndo_print_iframe' src="{{url}}" style="position:absolute; width:100%; height:100%;" frameborder='0'>
		</iframe>"

	</div>
</script>

<script id="mobile-preview-page_viewer" type="text/x-handlebars-template">
	{{#if page_editor}}
		<div class="preview-container page-editor" data-page-id="{{page_id}}" style="width:100%; height:100%;">
	{{else}}
		<div class="preview-container" style="width:100%; height:100%;">
	{{/if}}
		
		{{#if close_btn}}
			<a class="close">
				<i class="fal fa-times"></i>
			</a>
		{{/if}}

		<iframe id="picndo_print_iframe" name='picndo_print_iframe' src="{{url}}" style="position:absolute; width:100%; height:100%;" frameborder='0'>
		</iframe>"

	</div>
</script>

<script id="mobile-info-page" type="text/x-handlebars-template">
	<div class="social-container ">
		
		<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
			<i class="fal fa-times"></i>
		</a>

		<div class="container" style="">
			<div class="row" style="padding-top:3rem;">
				<div class="how-to-container col-12" data-img-src="https://stagingprint.ams3.digitaloceanspaces.com/mobile-how-to-gifs/rolliz/how_to_1.jpg" data-gif-src="https://stagingprint.ams3.digitaloceanspaces.com/mobile-how-to-gifs/rolliz/how_to_1.gif" style="position:relative;">
					<img src="https://stagingprint.ams3.digitaloceanspaces.com/mobile-how-to-gifs/rolliz/how_to_1.jpg" style="display:block; margin:auto;"/>
					<div class="how-to-gif-trigger horizontal-vertical-center-absolute" style="font-size:3rem;">
						<i class="fad fa-play-circle"></i>
					</div>
				</div>
				<div class="col-12" style="text-align:center;">
					כיצד להחליף בין תמונות
				</div>	
			</div>
		</div>


		{{!--
		<div class="horizontal-vertical-center-absolute" style="width:100%; text-align:center;">
			Info page Support is Comming Soon With How To Video / Icons
		</div>
		--}}

		<div class="container">
			<div class="row" style="padding-top:3rem;">
				<div class="how-to-container col-12" style="text-align:center;">
					More how to movies would be uploaded soon
				</div>
			</div>
		</div>	

	</div>
</script>

<script id="mobile-social-import-root" type="text/x-handlebars-template">
	<div class="social-container">
		
		<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
			<i class="fal fa-times"></i>
		</a>

		<div class="social-container-inner">

			<div class="social-container-inner-selector">			

				<%-@current_social_disabled = (has_google_photos_import ? "" : "disabled")%>
				<button class="btn social-btn google-photos-btn <%=@current_social_disabled%>" data-class-name="SocialGooglePhotos">
					<img class="social-logo" src='<%=asset_url("print_shared/google_photos_64x64.png")%>'>
					<div>Import from Google Photos</div>
				</button>

				<%-@current_social_disabled = "disabled"%>
				<button class="btn social-btn google-drive-btn <%=@current_social_disabled%>" data-class-name="SocialGoogleDrive">
					<img class="social-logo" src='<%=asset_url("print_shared/google_drive_64x64.png")%>'>
					<div>Import from Google Drive</div>
				</button>

				<%-@current_social_disabled = "disabled"%>
				<button class="btn social-btn facebook-btn <%=@current_social_disabled%>" data-class-name="SocialFaceBook">
					<img class="social-logo" src='<%=asset_url("print_shared/facebook_logo_130x130.png")%>'>
					<div>Contine with Facebook</div>
				</button>

				<%-@current_social_disabled = "disabled"%>
				<button class="btn social-btn instagram-btn <%=@current_social_disabled%>" data-class-name="SocialInstagram">
					<img class="social-logo" src='<%=asset_url("print_shared/instagram_logo_64x64.png")%>'>
					<div>Import from Instagram</div>
				</button>

			</div>
		
		</div>

	</div>
</script>

<script id="mobile-social-google-photos" type="text/x-handlebars-template">
	<p class="language-dir" style="text-align:center; margin:0; padding:5px;">add from google photos</p>
	<div class="social-import-container" data-class-name="SocialGooglePhotos">
		<div class="images-container" data-album-id="{{album_id}}" data-next-page-token="{{nextPageToken}}" style="/*flex:0 0 auto;*/ flex:1; min-height:1px; padding:0px 0px 10px 0px; overflow-x:hidden; overflow:scroll; -webkit-overflow-scrolling: touch; font-size:0;">

			{{> social_images mediaItems}}			
		
		</div>
	</div>

	<div class="horizontal-vertical-center-bottom-aligned-absolute-plus-55" style="">
		<a href="#" class="social-images-import-btn client_button_ok action-btn regular-plus">import images</a>
	</div>

</script>

<script id="mobile-social-google-albums" type="text/x-handlebars-template">
	<p class="language-dir" style="text-align:center; margin:0; padding:5px;">add from google photos</p>
	<div class="social-import-container" data-class-name="SocialGooglePhotos">
		<div class="images-container" style="/*flex:0 0 auto;*/ flex:1; min-height:1px; padding:0px 0px 10px 0px; overflow-x:hidden; overflow:scroll; -webkit-overflow-scrolling: touch; font-size:0;">

			{{#each this.albums}}
				<div class="images-container-el album-container" data-id="{{this.id}}">
					<div class="images-container-el-holder" style='background-image:url("{{this.coverPhotoBaseUrl}}");' data-album-title="{{this.title}}">

					</div>
				</div>
			{{/each}}	
		
		</div>
	</div>
</script>

<script id="social_images" type="text/x-handlebars-template">
	{{#each this}}
		{{> social_image this}}
	{{/each}}	
</script>

<script id="social_image" type="text/x-handlebars-template">
	<div class="images-container-el {{ifContainAnyValOrOther this.mimeType 'jpg,jpeg,png,heic,heif' '' 'can-not-import'}}" style="" data-id="{{this.id}}" data-uuid="{{this.uuid}}" data-url="{{this.baseUrl}}" data-name="{{this.filename}}" data-created="{{this.mediaMetadata.creationTime}}" data-width="{{this.mediaMetadata.width}}" data-height="{{this.mediaMetadata.height}}">
		<div class="images-container-el-holder" style='background-image:url("{{this.baseUrl}}");'>

		</div>
	</div>
</script>

<script>
	var g_spiral_image_url = "<%=image_url('print_shared/calendar_dark_spiral.png')%>"
</script>

<script id="mobile-templates" type="text/x-handlebars-template">
	<div class="container template_select_container">
		<div class="row justify-content-center align-items-center">

			{{#each this}}
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 template_container template_vertical">
					<div class="template" data-product-id="{{this.id}}">
						
						{{mobile_img_template_by_type this}}

						<div class="title" style="height:30px;">
							<!-- {{this.template_group.name}} -->
							{{this.name}}
						</div>
					</div> <!--template-->
				</div> <!--template_container-->
			{{/each}}	

		</div>
	</div>
</script>

<script id="mobile-cart-and-projects-product-image" type="text/x-handlebars-template">
<div class="product-link-image" style="">
	<div class="product-link-image-container-image" style="visibility:hidden;">
		<img src=""/>
		<div class="product-link-image-container-image-mask Album">
			<%#= image_tag "global_book_mask_rtl.png", :style => "" %>
			<%= image_tag "book-mask-ltr.png", :style => "" %>
		</div>
		<div class="product-link-image-container-image-mask Calendar">
			<%= image_tag "print_shared/calendar_dark_spiral.png", :style => "" %>
		</div>
	</div>
</div>
</script>

<script id="mobile-alert-popup" type="text/x-handlebars-template">
	<div class="social-container">

		{{#if modal}}
			<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
				<i class="fal fa-times"></i>
			</a>
		{{/if}}

		<div class="yes-no-popup horizontal-vertical-center-absolute" style="width:auto; border:none;">
			
			{{#if sign}}
				<i class="fad fa-exclamation-circle horizontal-vertical-center-top-absolute" style="font-size: 3rem; background:orange; color:white; border-radius:10rem;"></i>
			{{/if}}			

			{{#if title}}
				<h2 class="regular-plus" style="text-align:center; white-space:nowrap;">{{title}}</h2>
			{{/if}}

			{{#if txt}}
				<p style="font-weight:lighter; text-align:center;">{{{txt}}}</p>
			{{/if}}

			<div style="text-align:center; white-space:nowrap; margin-top:1.5em;">
				<a class="client_button_ok rounded modal-close-btn" style="margin:1em 0.5em; display:block">
					{{{ translate 'close' }}}
				</a>
			</div>	

		</div>

	</div>

</script>

<script id="mobile-yes-no-popup" type="text/x-handlebars-template">
	<div class="social-container">

		{{#if modal}}
			<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
				<i class="fal fa-times"></i>
			</a>
		{{/if}}
		
		<div class="yes-no-popup horizontal-vertical-center-absolute" style="width:auto; border:none;">

			{{#if sign}}
				<i class="fad fa-exclamation-circle horizontal-vertical-center-top-absolute" style="font-size: 3rem; background:orange; color:white; border-radius:10rem;"></i>
			{{/if}}

			{{#if title}}
				<h2 class="regular-plus" style="text-align:center; white-space:nowrap;">{{title}}</h2>
			{{/if}}

			{{#if txt}}
				<p style="font-weight:lighter; text-align:center;">{{{txt}}}</p>
			{{/if}}

			<div style="text-align:center; white-space:nowrap; margin-top:1.5em;">
				
				{{#if yes_txt}}
					<a class="client_button_ok rounded modal-yes-btn" style="margin:1em 0.5em; {{ifCond_val_or_empty btn_style '==' 'block' ' display:block'}} ">{{yes_txt}}</a>
				{{else}}
					<a class="client_button_ok rounded modal-yes-btn" style="margin:1em 0.5em; {{ifCond_val_or_empty btn_style '==' 'block' ' display:block'}} ">yes</a>
				{{/if}}

				{{#if no_txt}}
					<a class="btn-none rounded modal-no-btn" style="margin:0.5em;" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">{{no_txt}}</a>
				{{else}}	
					<a class="btn-none-with-border rounded modal-no-btn" style="margin:0.5em;" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">no</a>
				{{/if}}			

			</div>

		</div>			

	</div>

</script>

<script id="mobile-density-page-design" type="text/x-handlebars-template">
	<div class="social-container">
		{{#if modal}}
			<a class="close" onclick="(function(){ $('.mobile-modal').addClass('hidden'); return false; })();return false;">
				<i class="fal fa-times"></i>
			</a>
		{{/if}}

		<div class="yes-no-popup horizontal-vertical-center-absolute" style="width:auto; border:none;">
			<form id="mobile-density-page-design-form">
				<div class="form-group">

					<div>
						<label class="form-check-label spree-radio-label">
							<!-- <input type="radio" value="894" checked="checked" name="cart[bill_address_id]" id="cart_bill_address_id_894"> -->
							<input type="radio" name="density" value="spacious" >
							<span class="spree-radio-label-custom-input"></span>
							<span style="display:block;">
								<%=raw I18n.t("mobile.design.density_light_design")%>
							</span>
							<img style="width:100%; margin-top:5px" src='<%=asset_url("print_shared/few_photos_in_page.png")%>'/>
						</label>
					</div>

					<div style="margin-top:25px;">
						<label class="form-check-label spree-radio-label">
							<input type="radio" name="density" value="dense" >
							<span class="spree-radio-label-custom-input"></span>
							<span style="display:block;">
								<%=raw I18n.t("mobile.design.density_dense_design")%>
							</span>
							<img style="width:100%; margin-top:5px" src='<%=asset_url("print_shared/many_photos_in_page.png")%>'/>
						</label>
					</div>

					<button type="submit" class="client_button_ok rounded" style="width:100%; margin:25px 0 0; display: block;">
                  <%=raw I18n.t("continue")%>
              </button>					

					<!-- {{#if true}}
						<img style="width:100%;" src='<%=asset_url("print_shared/few_photos_in_page.png")%>'/>
					{{/if}}

					{{#if true}}
						<img style="width:100%;" src='<%=asset_url("print_shared/many_photos_in_page.png")%>'/>
					{{/if}} -->

				</divt>
			</form>

		</div>

	</div>
</script>









