<%-if false%>
:root {
	--error-color: #{$error-color};
	--remove-page-btn-primary-color: LightCoral;
	--add-page-btn-primary-color: #{$customer-secondary-color};
}
<%end%>

:root {

	/* general */
	--body_default_color: <%=current_shop.shop_css.color("body_default_color")%>; 
	--ok_primary_buttons_background: <%=current_shop.shop_css.color("ok_primary_buttons_background")%>; 
	--ok_primary_buttons_text: <%=current_shop.shop_css.color("ok_primary_buttons_text")%>; 

	
	/* header */
	--header_buttons_color: <%=current_shop.shop_css.color("header_buttons_color")%>; 
	--header_menu_toggler: <%=current_shop.shop_css.color("header_menu_toggler")%>; 
	
	/* root */
	--header_product_selector: <%=current_shop.shop_css.color("header_product_selector")%>; 
	--header_product_selector_active: <%=current_shop.shop_css.color("header_product_selector_active")%>; 
	--root_page_bottom_buttons: <%=current_shop.shop_css.color("root_page_bottom_buttons")%>; 
	--root_page_bottom_buttons_notes: <%=current_shop.shop_css.color("root_page_bottom_buttons_notes")%>; 


	--primary-color: <%=current_shop.shop_css.color("primary_color")%>; 
	--secondary-color: <%=current_shop.shop_css.color("secondary_color")%>; 

	--error-color: <%=current_shop.shop_css.error_color%>;
	--remove-page-btn-primary-color: LightCoral;
	--add-page-btn-primary-color: <%=current_shop.shop_css.secondary_color%>;

	/* recommended */
	--recommended_color: <%=current_shop.shop_css.color("recommended_color")%>;
	--recommended_text_color: <%=current_shop.shop_css.color("recommended_text_color")%>;

	/* other buttons */
	--cart_buttons_color:    <%=current_shop.shop_css.color("cart_buttons_color")%>; 
	--cart_buttons_text:     <%=current_shop.shop_css.color("cart_buttons_text")%>; 
	--cart_buttons_border:   <%=current_shop.shop_css.color("cart_buttons_border")%>;
	--cart_buttons_rounded:  <%=current_shop.shop_css.cart_buttons_rounded%>;

	--projects_buttons_color:    <%=current_shop.shop_css.color("projects_buttons_color")%>; 
	--projects_buttons_text:     <%=current_shop.shop_css.color("projects_buttons_text")%>; 
	--projects_buttons_border:   <%=current_shop.shop_css.color("projects_buttons_border")%>;
	--projects_buttons_rounded:  <%=current_shop.shop_css.projects_buttons_rounded%>;	 

	--editor_action_items_border:    	<%=current_shop.shop_css.color("editor_action_items_border")%>; 
	--editor_action_items_background: <%=current_shop.shop_css.color("editor_action_items_background")%>; 
	--editor_action_items_text:    		<%=current_shop.shop_css.color("editor_action_items_text")%>; 

	--filter_color: <%=current_shop.shop_css.filter_color%>; 
	
	--body_tab_panel: <%=current_shop.shop_css.color("body_tab_panel")%>;
}