<script>

	var g_mobile_products =  <%= mobile_products_array.to_json.html_safe %>;
	// blocks or cards
	var g_root_products_style = '<%=current_shop.shop_css.nil_or.mobile_shop_root_style%>';

  var g_album = {}
  // var g_album = <%=@product.to_json( :include => [ :pages, :customer_product => { :include => [:product_size, :product_group] } ] ).html_safe%>;

  <%if false%> // adi baron not running
  var g_customer_id = "<%=@customer.unique_id%>";
  var g_tokenized_user_id = "<%=@tokenized_user.nil_or.id%>";
  var g_customer_name = "<%=@customer.name%>";
  <%end%>

  <%-if ( (Rails.env.development? || Rails.env.staging?) && params[:p_id] )%>
  	var g_tokenized_user_id = "<%=UserItemEditor.find_by_editor_product_id( params[:p_id] ).user_item.user.editor_tokenized_user_id%>";
  <%end%>

  <%-if false%>
  	// g_margin_to_add_previewer = <%=(Product.basic_templates_array.include? @product.id) ? 20 : 0  %>;
  <%end%>
  
  // g_margin_to_add_previewer = 12;
  g_margin_to_add_previewer = 0;

</script>

<!-- vertical - portrait orientation -->
<div class="main-container">

	<div class="main-container-side-menu">
		<div class="menu-close-icon">
			<i class="close-menu-icon fal fa-times"></i>
		</div>
		<div class="main-container-side-menu-left-border"></div> <!--for half side border only reason -->
		<div class="main-container-side-menu-content">
			<%= render partial: "partials/mobile/mobile_side_menu"%>
		</div>
	</div>

	<div class="main-container-header" >

	</div>

	<div class="main-container-notes uploader-counter language-dir" >
		<span class="txt">uploading</span>
	</div>

	<div class="main-container-body" style="">

		<div class="main-container-body-tabs">
	
		</div>

	</div>

	<div class="main-container-footer shadowed" style="display:none;">

	</div>

	<!--
	<div class="main-container-images-container" style="">

	</div>
	-->

</div>

<!-- horizontal - landscape orientation -->
<div class="main-viewer" style="display:none;">
 
</div>

<%= render partial: "mobile/mobile_handlebars"%>
<%= render partial: "partials/mobile/mobile_host_handlebars"%>
