.mobile-covers-selector {
	@extend .mobile-image-editor;

	&-top-area{
		
		flex:1;
		overflow:scroll;

		span {
			text-align: center;
			margin: 0em auto 0.5em;
		}

		span:not(:first-child) {
			margin: 1em auto 0.5em;
		}

		.cover-selector {

			display: flex;
			direction: ltr;

			margin-top: 0.75em;

			img {
				height: 100px;
				border: 1px solid rgba(194, 194, 194, 1);
				margin:auto;

				&.selected {
					border: 3px solid var(--primary-color);;
				}
			}

			div {
				flex:1;
			}
		}

	}

	&-bottom-area {
		min-height:20px;
		background:yellow;

		.mobile-cover-selector-submit {
			@extend .btn;
			@extend .bigger;
			background-color: $customer-secondary-color;
			color: white;
			display:block;
			text-align: center;
		}
	}

}