.root {
	
	.tabs-container {
		height: 100%;
		display:flex;
		flex-direction: column;

		.tabs {
			padding:10px 5px 20px 5px;
			text-align: center;

			white-space: nowrap;
    	overflow: scroll;

			.btn-tab-link {
				text-decoration: none;
				margin: 0px 5px;
				padding: 0px 5px 3px 5px;
				text-transform: capitalize;

				color:var(--header_product_selector);
				
				// @extend .regular-plus;

				&.active {
					// color: $customer-secondary-color;
					color:var(--header_product_selector_active);
					border-bottom: 2px solid var(--header_product_selector_active);
				}
			}
		}

		.tab-content {
			flex:1;
			display:none;
			position:relative;
			margin-bottom: 20px;
			margin-left:0px;
			margin-right:0px;

			background-repeat: no-repeat;
			background-position: center center;

			// default
			background-size: cover;
			-webkit-background-size: cover; 
			-moz-background-size: cover; 
			-o-background-size: cover;

			&.active {
				display: block;
			}

			.product-create-btn {
				@extend .client_button_ok;

				// @extend .horizontal-vertical-center-bottom-aligned-absolute;
				
				@extend .horizontal-vertical-center-bottom-aligned-absolute-plus-55;
				@extend .bigger;
				
				// color: white;
				
				border-radius: 5px;
				
				// text-transform: uppercase;
				// white-space: nowrap;
			}
		}

	}

	.blocks-container {
		height: 100%;
		// overflow-y:scroll; // not needed while body-tab-panel is scrollable - better for scrollbar position

		max-width: 1140px; // as container
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-left: auto !important;
		margin-right: auto !important;

		.blocks-container-inner {

			.block-container {
				width:100%;
				padding:0 0.75em;
				margin: 0.75em 0;

				display:flex;
				flex-direction: column;

				.block {
					position:relative;

					border-radius:5px;

					background:transparent;
					
					// border:1px solid black;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					// box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2), 1px 1px 2px 0px rgba(0, 0, 0, 0.19);
					
					div.block-img {
						padding-top: 55%;
						
						// background-color: #4CAF50;

						// border-top-left-radius: 5px;
						// border-top-right-radius: 5px;

						background-repeat: no-repeat;
						background-position: center center;

						// default
						background-size: cover;
						-webkit-background-size: cover; 
						-moz-background-size: cover; 
						-o-background-size: cover;
					}
					div.block-txt {
						text-align:center;
						padding:0.5em;
						line-height:1.25em;

						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
					}

					.recommended {
						// width:10%;
						// padding-top:10%;
						width:3em;
						padding-top:3em;
						line-height:3em;
						// line-height:10%;
						
						border-radius:100%;
						// border-color:red;

						position: absolute;
						top: 0.5em;
						left: 0.5em;

						background:var(--recommended_color);

						&:after {
							@extend .horizontal-vertical-center-absolute;
							// content: "מומלץ";
							content: attr(data-text);
							font-size: 0.75em;
							// font-size: 100%;
							text-align:center;
							// height:100%;
							line-height:100%;
							// vertical-align: middle;

							text-transform: capitalize;

							color:var(--recommended_text_color);
							
						}
					}

				}

			}

		}

	}

}

@media (min-width: 768px) {
	.blocks-container {
		.blocks-container-inner {
			.block-container {
				margin: 1.25em 0em !important;
				padding:0 1.25em !important;
			}
		}
	}
}



@media (min-aspect-ratio: 3/4) { // old iphone
	.root {
		.tabs-container {
			.tab-content {
				background-size: contain !important; 
				-webkit-background-size: contain !important;  
				-moz-background-size: contain !important; 
				-o-background-size: contain !important; 
			}
		}
	}
}
@media (aspect-ratio: 3/4) { // old iphone
	.root {
		.tabs-container {
			.tab-content {
				background-size: cover !important;
				-webkit-background-size: cover !important; 
				-moz-background-size: cover !important;  
				-o-background-size: cover !important; 
			}
		}
	}
}


.mobile-product-create {
	width:100%;
	height:100%;

	text-align: center;

	form {

		width:100%;
		height:100%;
		position:relative;

		.product-name-container {
			line-height:2em;
		}

		.product-name-container, .product-selector-container {

			&.hidden {
				display:none;
			}

			width:100%;
			height:100%;
			display: flex;
    	flex-direction: column;
			// position:absolute;
			// top:0px;
			// bottom: 20px;

			.product-name, .product-selector {
				width:100%;
				// @extend .horizontal-vertical-center-absolute;
				text-align:center;

				flex: 1;
    		min-height: 1px;
    		// overflow: scroll;

				.product-selector-product {
					width:100%;
					height:100%;
					overflow: scroll;
					padding-bottom:100px;

					label {
						display:inline-block;
						margin-top:0px;
						margin-bottom: 0.75rem;

						> p {
							margin-bottom: 0.125rem;
							font-size: 1.25rem;
						}

						input {
							opacity: 0;
    					width: 0;
    					height: 0;
						}
						img {
							// max-height:100px;
							width:120px;
						}
					
						&.checked {
							@extend .color-secondary;

							img {
								@extend .filter-customer-secondary-from-black;
							}
						}
					}
				}
			}

			.product-create-btn-container {
				position:absolute;
				bottom:0px;
				width:100%;
				background-color: rgba(255,255,255,.9);
				padding: 1rem;

				.product-create-continue-btn, .product-create-create-btn {
					@extend .client_button_ok; 
					
					display:inline-block;
					
					// @extend .horizontal-vertical-center-bottom-aligned-absolute-plus-35;
					// @extend .horizontal-vertical-center-bottom-aligned-absolute-plus-50;
					
					@extend .bigger;
					
					// background-color: $customer-secondary-color;
					// color: white;
					
					border-radius: 5px;
					
					// text-transform: uppercase;
				}
			}


		}
			
	}

}
