$color-main: 										#6b2e8d; // purpole

.pages-container-sheets.photoprint {
	white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  background: white;

  min-height:100%;

  justify-content: center;
  align-items: center;

}

#pages-container-sheets {
	.photo-print-tile-container { 
		width: calc(100% / 5);
	}
}  

@media (max-width: 580px) {
	#pages-container-sheets {
		.photo-print-tile-container { 
			width: calc(100% / 1);
		}
	}
}

@media (min-width: 581px) {
	#pages-container-sheets {
		.photo-print-tile-container { 
			width: calc(100% / 2);
		}
	}
}

@media (min-width: 920px) {
	#pages-container-sheets {
		.photo-print-tile-container { 
			width: calc(100% / 3);
		}
	}
}

@media (min-width: 1400px) {
	#pages-container-sheets {
		.photo-print-tile-container { 
			width: calc(100% / 4);
		}
	}
}

// @media (min-width: 1401px) {
// 	#pages-container-sheets {
// 		.photo-print-tile-container { 
// 			width: calc(100% / 5);
// 		}
// 	}
// }


.pages-container-sheets.photoprint {

	.photo-print-tile-container {
		max-width: 400px;
		// display:inline-flex;

		padding: 2em 1.5em;;
		margin:0;


		.photo-print-content-tile {

			display:flex;			
			flex-direction:column;

			background:#f7f7f7;

			// border: 1px solid #dedede;
			border-radius: 5px;
			// background: #ffffff;

			.top-controller-buttons {
				padding: 0.5em 0.5em;
				width:100%;
				position:relative;
				line-height:0px;

				display: flex;
    		align-items: center;
    		// justify-content: center;

				button {
					border:none;
					background:none;
					font-size:1.2em;

					padding:0px;
					margin:7px;
				}

				.print-checkbox {

					float:right;
					font-size:1.2em;

					padding:0px;
					margin:7px;
				}
			}

			.controller-img {
				// display:inline-block;
				// @extend .horizontal-vertical-center-absolute;

				// margin: 0.5em 0.5em;
				margin: 0em 1em;
				// width:15em;
				// width:100%;
				width:calc(100% - 2em);
				height:15em;
				// background: #ffffff;
				
				// box-shadow: 0 3px 7px rgba(0,0,0,.3);

				position:relative;

				.img-box, .page {
					display:inline-block;
					@extend .horizontal-vertical-center-absolute;
					max-width: 100%;
					max-height: 100%;

					box-shadow: 0 3px 7px rgba(0,0,0,.3);
					clip-path: none !important;

					&.horizontal-box {
						width:100%;
					}
					&.vertical-box {
						height:100%;
					}

					.overlay {
						display:none;
						position:absolute;
						left:0;right:0;top:0;bottom:0;

						z-index:1;

						background: rgba(255,255,255,.5);

						.edit {
							position:absolute;
							left:15px;
							bottom:15px;
							
							// color: $color-secondary;
							
							color: $color-main;
							
							font-size:2em;
						}
					}
					&:hover {
						.overlay {
							display:block;
							cursor: pointer;
						}
					}

				}

				.photo-print-img {
					box-shadow: 0 3px 7px rgba(0,0,0,.3);
				}

				.horizontal-img {
					// @extend .vertical-center-absolute;
					width:100%;
					height:auto;

				}

				.vertical-img {
					// @extend .horizontal-center-absolute;
					height:100%;
					width:auto;
				}

			}

			.bottom-controller-buttons {
				// padding: 5px 5px;
				width:100%;
				display:flex;

				padding: 0.5em 0.5em;

				.select {
					height:30px;

					border: 1px solid lightgrey;
					
					flex:1;
					
					// background-color: #F2F2F2;
					
					// background-color: $darker-grey-color;
					
					// background-color: #F4F4F4;
					// background-color: #d8d8d8;
					
					// padding: 0px 15px 0px 5px;
					
					// padding: 0px 10px;
					margin: 0 0 0 10px;
					line-height: 30px;

					.select-text {
						border-bottom:none;
						padding:0 5px;
					}

					label {
						display:none;
					}

					.select-bar {
						display:none;
					}
				}

				.quantity {
					display:flex;
					
					// background-color: #F2F2F2;
					background-color: white;
					
					border: 1px solid lightgrey;

					// background-color: #F0F0F0;
					// background-color: #d8d8d8;
					// background-color: #e8e8e8;
					// background-color: #F4F4F4;
					// background-color: #dddddd;
					// background-color: #f0f0f0;

					height:30px;
					
					.plus, .minus {
						// width:20px;
						width:30px;
						position:relative;
						
						// background:red;
						&:before {
							content: "";
							display: block;
							padding-top: 100%; 	/* ratio of 1:1*/
						}
						
						.content {
							// font-size:1.75em;
							@extend .horizontal-vertical-center-absolute;
							
							// color: $color-main;
							
							// color: $color-secondary;
							
							&:hover {
								cursor: pointer;
							}
						}
					}

					.number {
						width:40px;
						padding:0 15px;
						position:relative;
						&:before {
							content: "";
							display: block;
							padding-top: 50%; 	/* ratio of 1:1*/
						}

						.content {
							font-size:1em;
							@extend .horizontal-vertical-center-absolute;

							max-width: 100%;

							input {
								max-width:100%;
								text-align:center;
								background:transparent;
								border:none;
							}

							input[type=number]::-webkit-inner-spin-button, 
							input[type=number]::-webkit-outer-spin-button { 
								-webkit-appearance: none;
							}
						}
					}

				}
			}
		}

	}
}

.photo-print-editor-win {
	// @extend #uploader_win;

	height: 100%;
  display: flex;
  flex-direction: column;	

	.photo-print-editor-header {
		// @extend .uploader-header;	
		// background-color: $light-grey-color;

		.close-photo-print-editor {
			// @extend .close-uploader
		}

		.uploader-header-nav-container {
			display:flex;
			position:relative;

			ul {
				flex:1;
				display:flex;
				align-items: center;
  			justify-content: center;
			}

			.photo_print_enhance_image_container {
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				background:white;
				display:flex;

				&_controller {
					flex:1;
					position:relative;

					input {
						@extend .horizontal-vertical-center-absolute;
						width:100%;
						max-width:80%;
						height:100%;

						&:after {
							position:absolute;
							content: attr(data-text);
							
							@extend .horizontal-center-absolute;
							bottom: 5px;
    					font-size: 0.75em;
    					width: 100%;
    					text-align: center;
						}

						&:before {
							position:absolute;
							content: attr(value);

							@extend .horizontal-center-absolute;
							top: 10px;
    					font-size: 0.85em;
    					width: 100%;
    					text-align: center;
						}
					
					}
				}
			}
		}

		ul {

			display:flex !important;

			li {
				// height:100;
				position:relative;

				flex:1;
				max-width:5em;

				padding: 2em 0;

				&:hover {
					cursor: pointer;
					
					// color: $color-secondary;
					color: $color-main;

					// background-color: $darker-grey-color;
					// background-color: grey;
				}

				i {
					@extend .horizontal-vertical-center-absolute;
					font-size:1.5em;
					// padding:1em;
					// width:100%;
					// height:100%;
					text-align: center;

					&:after {
						position:absolute;
						content: attr(data-text);
						
						@extend .horizontal-center-absolute;
						bottom: -1.5em;
  					font-size: 0.6em;
  					// width: 100%;
  					text-align: center;
  					white-space: nowrap;
					}
				}
			}

		}
	}

	.photo-print-editor-body {
		// @extend .uploader-body;

		flex:1;

		display: flex;
		flex-direction: column;

		.editor-img-container {
			flex:1;
			position:relative;

			.page {
				clip-path: none !important;

				.bleed, .page-middle, .rotator, div[class^="resize"] {
					display:none;
				}

				.controllers-container {
					border: 1px solid rgba(0,0,0,.15);
				}

			}

		}

		.editor-bottom {
			// padding: 0.25em;
			// text-align:center;
			// background-color: $light-grey-color;

			border-radius:0.25rem;
			
			// border:1px solid $customer-secondary-color;
			border:1px solid var(--editor_action_items_border);
			
			display:flex;

			// background: white;
			background: var(--editor_action_items_background);
			
			direction: ltr;

			> button {

				background: transparent;
				
				flex:1;

				font-size:1.125rem;
				// line-height:1rem;
				text-align: center;
				
				color: var(--editor_action_items_text);

				padding: 0.5em 0;
				
				&:first-child {
					// border-right: 1px solid $customer-secondary-color;
					border-right: 1px solid var(--editor_action_items_border);
				}
				&:last-child {
					// color:green;
					// border-left: 1px solid $customer-secondary-color;
					border-left: 1px solid var(--editor_action_items_border);
				}

				&.active {
					// background-color: $customer-secondary-color;
					background-color: var(--editor_action_items_text);

					// color: white;
					color: var(--editor_action_items_background);
				}
			}

			// button {
			// 	flex:1;
			// 	padding: 0.25em 2em;
			// 	// margin: 0 0.25em;
			// }
		}
	}
}
