@import "print_shared/mobile/mobile_variables";


.color-secondary {
	color: $customer-secondary-color;
}

.btn {
	text-decoration: none;
	// font-size: 1rem;
	padding: 0.5em 1.25em;
}
.regular {
	font-size:1rem;
}
.regular-plus {
	font-size:1.2rem;	
}
.bigger {
	font-size:1.5rem;	
}
.big {
	font-size:2.25rem;	
}
.bigest {
	font-size:3rem;
}

.btn-base {
	@extend .btn;
	border-width: 1px;
	border-style: solid;
}

.btn-smallest {
	padding: 0.33em;
}

.client_button_ok {
	@extend .btn-base;
	
	// background: $customer-secondary-color;
	// border-color: $customer-secondary-color;
	background: var(--ok_primary_buttons_background) !important;
	border-color: var(--ok_primary_buttons_background) !important;
	color: var(--ok_primary_buttons_text) !important;
	// color: white;
	
	text-transform: uppercase;
	white-space: nowrap;

	&.rounded {
		border-radius: var(--cart_buttons_rounded) !important;
	}
}
.btn-none {
	@extend .btn-base;
	border-color: transparent;
	text-decoration: underline;
	// text-underline-offset: 3px;
	text-underline-offset: 0.33em;
}
.btn-none-with-border {
	@extend .btn-none;
	
	// border-color:inherit;
	border-color: var(--ok_primary_buttons_background) !important;
	color: var(--ok_primary_buttons_background) !important;
	
	text-decoration: none;
	text-transform: uppercase;

	&.rounded {
		border-radius: var(--cart_buttons_rounded) !important;
	}
}

.primary-button,
.cart-ok-btn, .product-form button[type=submit], 
		.mobile-edior .user-sessions .sign-in-form .actions input[type=submit], 
		.mobile-edior .user-sessions .sign-up-form .actions input[type=submit], 
		// .mobile-edior .shopping-cart .shopping-cart-empty .btn.shopping-cart-empty-continue-link,
		body .cart-payment-confirm.cart-ok-btn, 
		body .checkout-content-save-continue-button.cart-ok-btn, 
		body .cart-checkout-btn.cart-ok-btn,
{
	@extend .btn-base;

	background-color: var(--cart_buttons_color) !important;
	color: var(--cart_buttons_text) !important;
	border-color: var(--cart_buttons_border) !important;
	border-radius: var(--cart_buttons_rounded) !important;

	text-transform: uppercase;
	white-space: nowrap;
}

.primary-button-transparent,
.mobile-edior .user-sessions.user-sessions-new .btn.sign-up-btn.mobile-link,
.mobile-edior .user-sessions.user-sessions-new .btn.log-in-btn.mobile-link,
.mobile-edior .shopping-cart .shopping-cart-empty .btn.shopping-cart-empty-continue-link,
{
	background-color: white !important;
	border: 1px solid !important;
	border-color: var(--cart_buttons_border) !important;
	color: var(--cart_buttons_border) !important;
	border-radius: var(--cart_buttons_rounded) !important;

	text-transform: uppercase;
	white-space: nowrap;
}




@import "print_shared/general/_mixins";
@import "print_shared/general";

// @import "fontawesome-free-5.13.0-web/scss/fontawesome";
// @import "fontawesome-free-5.13.0-web/scss/light";
// @import "fontawesome-free-5.13.0-web/scss/brands";

@import "fontawesome-new/scss/fontawesome";
@import "fontawesome-new/scss/light";
@import "fontawesome-new/scss/brands";
@import "fontawesome-new/scss/duotone";

// @import "cropperjs-master_new/dist/cropper";
@import "print_shared/cropperjs-1.5.1/cropper";
@import "print_shared/crop";

@import "print_shared/mobile/mobile_image-editor";
@import "print_shared/mobile/mobile_text_editor";
@import "print_shared/mobile/mobile_sortable";
@import "print_shared/mobile/mobile_images";
@import "print_shared/mobile/mobile_projects";
@import "print_shared/mobile/mobile_cover_selector";

@import "print_shared/mobile/mobile_photo_print";


@import "print_shared/mobile/mobile_demo";
@import "print_shared/mobile/mobile_templates";

// html, body {
// 	margin: -22px 0 0 0;
// 	padding: 0;
// 	height: 100%;
// 	overflow: hidden;
// }

// $white-color: #ffffff;
// $grey-color: #636363;
// $light-grey-color: #d8d8d8;
// $light-off-white-color: #f8f8f8;
// $customer-main-color: #6B2C8B;
// $customer-secondary-color: #f18e0f; // orange;
// $customer-main-color-half-transparent: rgba(107, 44, 139, 0.3);
// $black-color: #000000;
// $light-black-color: #333333;

// // $background-color:$white-color;
// $background-color:$white-color;
// $header-color:$white-color;
// $footer-color:$white-color;

$mobile-modal-z-index: 99990;
$mobile-viewer-z-index: 99991;
$mobile-alert-z-index: 99992;

.alert {
	z-index: $mobile-alert-z-index;
}


.customer-main-color {
	color: $customer-main-color;
}
.customer-secondary-color {
	color: $customer-secondary-color;
}

input, input:before, input:after {
  -webkit-user-select: initial !important;
  -khtml-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important;
} 

/************************************************
 * 						From mmenujs.com
 ************************************************/
.mm-panels {
  // @if ($mm_IE11Fallbacks) {
  //   background: $mm_backgroundColor;
  //   border-color: $mm_borderColor;
  //   color: $mm_textColor;
  // }

  position: relative;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;

  // background: var(--mm-color-background);
  // border-color: var(--mm-color-border);
  // color: var(--mm-color-text);

}
.mm-panel {    
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  
  // -webkit-transition: -webkit-transform .3s ease;
  // transition: -webkit-transform .3s ease;
  // -webkit-transition: -webkit-transform .3s ease-out;
  // transition: -webkit-transform .3s ease-out;

  // -webkit-transition: -webkit-transform 0.2s ease-out;
  // transition: transform 0.2s ease-out;
  
  // -webkit-transition: -webkit-transform 0.3s ease-out;
  // transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.0s ease-out;
  transition: transform 0.0s ease-out;  


  &.sidebar {
  	left: auto;
  	width: 320px;

  	box-shadow: -3px -50px 8px rgba(0, 0, 0, .2);

  	#product-details {
  		margin-top: 1em;
  	}
  }

}
.mm-panel_opened {
  z-index: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.mm-panel_opened-parent {
  -webkit-transform: translate3d(-30%,0,0);
  transform: translate3d(-30%,0,0);

  &.sidebar-parent {
  	-webkit-transform: translate3d(-320px,0,0);
  	transform: translate3d(-320px,0,0);

  	pointer-events: none;

  	.page_inner .el-container-parent, .page_inner * {
			pointer-events: none !important;  		
  	}
  }
}
.mm-hidden {
  display: none!important;
}
/************************************************
 * 						END - From mmenujs.com
 ************************************************/



// .filter-customer-from-black {
// 	filter: invert(22%) sepia(35%) saturate(2904%) hue-rotate(256deg) brightness(90%) contrast(96%);
// }
// .filter-customer-secondary-from-black {
// 	filter: invert(72%) sepia(28%) saturate(6644%) hue-rotate(354deg) brightness(97%) contrast(95%);
// }
.filter-customer-from-black {
	filter: invert(28%) sepia(12%) saturate(1941%) hue-rotate(180deg) brightness(96%) contrast(92%);
}
.filter-customer-secondary-from-black {
	filter: invert(42%) sepia(92%) saturate(899%) hue-rotate(137deg) brightness(97%) contrast(98%);
}




@keyframes uploader-arrow-up-animation {
  0%,
  100% {
    transform: translate(-10px, 5px);
  }

  34% {
    transform: translate(-10px, -7px);
  }
}

.uploader-animation {
	position:relative;
	width:10px;

	color: $customer-main-color;

	display:none;

	&-icon{
		@extend .horizontal-center-absolute;
		bottom: 8px; 
		// line-height: 26px; 
		// font-size: 26px;
		line-height: 1.5em; 
		font-size: 1.5em;

		animation: uploader-arrow-up-animation 1.75s ease-in-out infinite;
	}

	&:after {
		@extend .horizontal-center-absolute;
		bottom: 2px;
		font-size:0.75em;
		line-height:0.75em;
		white-space: nowrap;
		// font-weight: bold;
		
		content: "uploading 22";
	}
}


.mobile-edior, .gallery-editor { // this is the html tag
	width: 100%;
	// width: 100vw;

	height: 100%;
	// height: 100vh;

	margin:0;
	padding:0;

	overflow:hidden;
	-ms-touch-action: none;
	touch-action: none;

	// * {
	// 	-ms-touch-action: none;
	// 	touch-action: none;		
	// }

	body {
		width: 100%;
		// width: 100vw;
		height: 100%;
		// height: 100vh;

		margin:0;
		padding:0;

		color: var(--body_default_color);

		// background-color: $light-black-color;
		// background-color: $white-color;
		// background-color: transparent;
		// background: none;
		background-color: #FFFFFF;

		overflow:hidden;
		-ms-touch-action: none;
		touch-action: none;
	
		&.full_screen {
			padding-bottom:20px;
		}
	}

}

.no_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile-edior, .gallery-edior { 

	.advanced-edit-btn { // gallery-editor => do not show advanced editor
		display:none;
	}

	* {
		@extend .no_highlights;
	}

	.full {
		width:100%;
		height:100%;
		padding:0;
		margin:0;
	}

	$header-height:54px;

	.main-container {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow:hidden;

		width: 100%;
		height: 100%;

		&-header {
			min-height: $header-height;
			height: $header-height;
			line-height:$header-height;
			
			// background:lightgrey;
			// @extend .customer-main-color;

			color: var(--header_buttons_color);

			display:flex;
			padding: 0px 5px;

			// border-bottom: 1px solid #d8d8d8;

			z-index:1;

			direction: ltr;

			.store-menu {
				color: var(--header_menu_toggler);
			}

			img { 
				height: calc(#{$header-height} - 20px);
				vertical-align: middle;
				line-height: 100%;
			}

			> div {
				height:100%; flex:1;
				position:relative;

				.header-left-btns {
					direction:ltr;
					text-align:left;
					padding-left:10px;
					padding-right:10px; 

					&.mobile-back-btn {
						i {
							position:relative;

							&:after {
								// @extend .horizontal-center-absolute;
								@extend .vertical-center-absolute;
								// right:0px;
								left: 110%;

								content: attr(data-after);
								font-size:0.8rem;
							}
						}
					}
				}
				.header-right-btns {
					direction:rtl;
					// float:right;
					display:inline-block;
					vertical-align: middle;

					text-align:right;
					// padding-left:10px;
					padding-left:0px;
					padding-right:5px;

					// @extend .vertical-center-absolute;
					right:0px;
					text-align:center;
					line-height:1.125em;

					span {
						font-size:0.9rem;
						min-width: 60px;
						display:inline-block;
					}
				}
			}

			i {
				font-size:1.5em;
			}
		}

		// &-uploader, &-notes {
		&-notes {	
			// min-height: 3em;
			// height: 3em;
			// line-height:3em;
			margin-bottom:1em;
			@extend .customer-secondary-color;
			
			// outline: 1px solid $customer-secondary-color;
			// outline-offset: 1px; // remove left & right outline
			
			text-align: center;
			// font-size:0.75em;

			z-index:1;

			padding:0.5em;
			
			display:none;

			&.error, &.error-note {
				outline-color: $error-color;
				color: $error-color
			}

			// &.uploading, &.active {
			&.active {	
				display:block;
				visibility: visible !important;
			}

			.txt {
				display: inline-block;
		    font-size: 1em;
		    line-height: 1.25em;
		    vertical-align: middle;
			}

		}
		
		&-images-container {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			top: 100%;
			display:none;

			background: red;

			&.active {
				display: block;
				top: 0%;
			}
		}

		&-body {
			flex: 1;
			min-height:1px;
			background-color: $background-color;

			z-index:0;

			&-tabs {
				// width:100%;
				// height:100%;
				// position:relative;
				@extend .mm-panels;
				@extend .hidden-scrollbar;

				.body-tab-panel {
					@extend .mm-panel;
					@extend .hidden-scrollbar;
					
					background:white;
					
					&.pages {
						background-color: var(--body_tab_panel);
					}

					&.opened {
						@extend .mm-panel_opened;

						overflow-y:scroll;
						-webkit-overflow-scrolling:touch;
					}

					&.opened-parent {
						@extend .mm-panel_opened-parent;
					}

					&.hidden {
						@extend .mm-hidden;	
					}

				}
			}

			.pages-container, .page-container, .page-image-container {
				display:none;
			}
			.pages-container.visible {
				display:flex;		

				* {
					  -webkit-touch-callout: none; /* Safari Touch */
					  -webkit-user-select: none;   /* Webkit */
					  -moz-user-select: none;      /* Firefox */
					  -ms-user-select: none;       /* Edge*/
					   user-select: none;       /* Future-proof*/
				}			
			}

			$actions-panel-height: 80px;

			.pages-container {
				background: $white-color;
				display:flex;
				flex-direction:column;

				position: relative;

				&-configuration {
					position:absolute;
					right:-1px;
					top:20%;
					width:2.5em;
					height:2.5em;
					border-bottom-left-radius:5px;
					border-top-left-radius:5px;
					background: white;
					// border-color: $customer-main-color;
					border-color: lightgrey;
					border-width:1px;
					border-style:solid;

					i {
						font-size:1.67em;
						// color: $customer-secondary-color;
						color: var(--editor_action_items_text)
					}
				}

				&-actions {
					width:100%; 
					// background:red;

					margin-bottom: -$actions-panel-height;

					display:flex;
					flex-direction: column;

					box-shadow: 0px 1px 5px 0px grey;
					-webkit-box-shadow: 0px 1px 5px 0px grey;

				  //-webkit-touch-callout: none; /* Safari Touch */
				  //-webkit-user-select: none;   /* Webkit */
				  //-moz-user-select: none;      /* Firefox */
				  //-ms-user-select: none;       /* Edge*/
				  //user-select: none;       /* Future-proof*/					

				  * {
					 -webkit-touch-callout: none; /* Safari Touch */
					 -webkit-user-select: none;   /* Webkit */
					 -moz-user-select: none;      /* Firefox */
					 -ms-user-select: none;       /* Edge*/
				  	user-select: none;       /* Future-proof*/

				  	// overflow: hidden;
				  }

				  -webkit-touch-callout: none; /* Safari Touch */
				  -webkit-user-select: none;   /* Webkit */
				  -moz-user-select: none;      /* Firefox */
				  -ms-user-select: none;       /* Edge*/
			   	user-select: none;       /* Future-proof*/

					&-header {
						position:relative;
						// background: yellow;

						&-open-close-btn {
							@extend .horizontal-center-absolute;
							width:4rem;
							height:2rem;
							top:-2rem;
							border-top-left-radius: 4rem;
							border-top-right-radius: 4rem;
							// border-top: 1px solid grey;
							// border-left: 1px solid grey;
							// border-right: 1px solid grey;
							z-index:1;

							// box-shadow: 0px -3px 3px 0px grey;
							box-shadow: 0px -3px 3px 0px var(--editor_action_items_text);
							// -webkit-box-shadow: 0px -3px 3px 0px grey;
							-webkit-box-shadow: 0px -3px 3px 0px var(--editor_action_items_text);

							background:white;

							i {
								font-size: 2rem;
								color: var(--editor_action_items_text);
								
								@extend .horizontal-vertical-center-absolute;
								@extend .fal;
								@extend .fa-angle-up;
							}
						}
					}					

					&-panels-header {
						min-height:20px;
						// background: green;
						// display:flex;
						
						// padding:0.25rem;
						// padding:0.125rem;
						padding:0.0625;

						// box-shadow: 0px 1px 5px 0px grey;
						// -webkit-box-shadow: 0px 1px 5px 0px grey;
						z-index:1;

						background: #f4f4f4;

						&-inner {
							border-radius:0.25rem;
							
							// border:1px solid $customer-secondary-color;
							border:1px solid var(--editor_action_items_border);
							
							display:flex;

							// background: white;
							background: var(--editor_action_items_background);
							
							direction: ltr;
							
							> div {
								
								flex:1;

								font-size:1.125rem;
								// line-height:1rem;
								text-align: center;
								
								color: var(--editor_action_items_text);

								padding: 0.5em 0;
								
								&:first-child {
									// border-right: 1px solid $customer-secondary-color;
									border-right: 1px solid var(--editor_action_items_border);
								}
								&:last-child {
									// color:green;
									// border-left: 1px solid $customer-secondary-color;
									border-left: 1px solid var(--editor_action_items_border);
								}

								&.active {
									// background-color: $customer-secondary-color;
									background-color: var(--editor_action_items_text);

									// color: white;
									color: var(--editor_action_items_background);
								}
							}
						}
					}

					&.open {
						margin-bottom: 0px;

						.pages-container-actions-header {
							.pages-container-actions-header-open-close-btn {
								i {
									@extend .fa-angle-down;
								}
							}
						}

						.pages-container-actions-panels-header {
							&-inner {
								> div {
									padding: 0;
									font-size:1rem;
								}
							}
						}
					}					

					&-panels {
						height: $actions-panel-height;
						// zoom: 2;

						@extend .hidden-scrollbar;


						&-panel {
							@extend .hidden-scrollbar;

							div {
								@extend .hidden-scrollbar;
							}

							display:flex;
							height:100%;
							background: #f4f4f4;
							width:100%;
							// overflow-y:scroll;
							overflow-y:hidden;
							overflow-x:scroll;
							touch-action: pan-x;
							font-size:0px;

							direction: ltr;
							text-align: left;
							
							// $mobile-add-images-btn-color: $customer-secondary-color;
							// $mobile-add-images-btn-color: $grey-color;
							// $mobile-add-images-btn-color: $light-grey-color;
							$mobile-add-images-btn-color: $lighty-grey-color;

							$background-image-url: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><g transform='translate(24 0) scale(-1 1)'><g stroke-width='1.5' fill='none'><path d='M13 21H3.6a.6.6 0 0 1-.6-.6V3.6a.6.6 0 0 1 .6-.6h16.8a.6.6 0 0 1 .6.6V13' stroke='#{$mobile-add-images-btn-color}' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 16l7-3l5.5 2.5' stroke='#{$mobile-add-images-btn-color}' stroke-linecap='round' stroke-linejoin='round'/><path d='M16 10a2 2 0 1 1 0-4a2 2 0 0 1 0 4z' stroke='#{$mobile-add-images-btn-color}' stroke-linecap='round' stroke-linejoin='round'/><path d='M16 19h3m3 0h-3m0 0v-3m0 3v3' stroke='#{$mobile-add-images-btn-color}' stroke-linecap='round' stroke-linejoin='round'/></g></g></svg>";

							.mobile-add-images-btn-container {
								
								height:100%; 
								
								min-width:60px; 
								width:80px; 
								
								position:relative;
								border-right: 2px solid $mobile-add-images-btn-color;
								
								// color: $customer-secondary-color;
								color: $mobile-add-images-btn-color;
								
								.mobile-add-images-btn {
									width:100%;
									> div {
										background-image:url($background-image-url);									
										background-size:66%; 
										background-position:center; 
										background-repeat:no-repeat; 
									}
								}

								&.delete {

									&.can-drop {
										font-size: 70px;
									}

									font-size: 50px;
									border-right: 2px solid $error-color;

									.mobile-add-images-btn {
										> div {
											background:none;
											position:relative;
											&:before {
												@extend .horizontal-vertical-center-absolute;
												font-family: 'Font Awesome 5 Pro';
												font-weight: 300;
												font-style: normal;
												content: "\f2ed";

												color: $error-color;

												// font-size: 66%;
												font-size: 60%;
											}
										}
									}
								}
							}

							.panel-inner {
								
								height:100%;
								// height:100%;
								
								// background:white;

								// margin-top:2px;
								// margin-bottom:2px;

								white-space: nowrap;

								// overflow-y: hidden;
	    					// overflow-x:scroll;
	    					// overflow: hidden;

	    					// -webkit-overflow-scrolling: touch;
	    					// -webkit-overflow-scrolling: auto;

	    					// overflow:scroll;


	    			// 		::-webkit-scrollbar {
							 //    display: none;
								// }


								flex-wrap: nowrap;
								display:flex;
								direction: ltr;

								&.images-container, .images-container {

									font-size:0px;

									white-space: nowrap;

									// overflow-y: hidden;
		    					// overflow-x:scroll;
		    					// overflow:hidden;

		    					-webkit-overflow-scrolling: touch;
		    					white-space: nowrap;		
		    					flex-wrap: nowrap;
									// display:flex;
									display:inline-flex;
									height:100%;
									direction:ltr;
									text-align: left;

									.images-container-el {
										padding:0px;
										
										// margin:0px 2px;
										margin:0px 0px;
										
										display:inline;
										
										// flex: none;
										flex: 0 0 0% !important;

										border-right: 1px solid #d2d2d2;
    								border-left: 1px solid #d2d2d2;

										img {
											// height:103%;
											height:100%;
											min-width:40px;

											margin: 0 3px;
										}


										&.sheet-template {
											img {
												@extend .horizontal-vertical-center-absolute;
												position: relative !important;
												height: 70%;

												margin: 0 0px;
												padding: 0 7px;
											}
										}

									}
								}
							}
						}

						.pages-container-actions-panels-panel {
							.panel-inner::-webkit-scrollbar {
					  		display: none;
					  	}
						}
						.pages-container-actions-panels-panel {
							.images-container::-webkit-scrollbar {
					  		display: none;
					  	}
						}

					}

	

				}

				.pages-container-inner {
					flex: 1;
    			// overflow: auto;
    			overflow: scroll;
    			overflow-x: hidden;
    			
    			// direction: rtl;
    			
    			// margin: 0px 0px 7px 1px;
    			margin: 0px;

    			position:relative;

    			-webkit-overflow-scrolling: touch;

    			.pages-group {
    				margin: 0 3px;
    				// padding-bottom:150px;
    				// width:100%;

    				//.page-previewer {
    					// display:inline-block;
    					// width:100%;
    				//}

    				&.pages-container-sheets {
    					&.canvas, &.frame {
    						min-height:100%;
    						position:relative;

    						.page-previewer {
    							@extend .horizontal-vertical-center-absolute;
    							width:100%;
    						}
    					}
    				}

    				&.calendar {
    					.page-previewer {
    						// height:360px; // for calendar
    					}
    				}

    				&:not(.canvas, .frame) {
    					padding-bottom:150px;	
    				}
    				
    				@include media-breakpoint-up(md) {
    					// background:red;
    					
    					// display:flex;
    					// flex-wrap:wrap;

    					// text-align: right;
    					// direction: rtl;
    					
    					// flex-direction: row-reverse;
    					
    					width:100%;
    					// height:100%;
    					// overflow-y:scroll;

    					.page-previewer {
	    					text-align: right;
    						direction: rtl;

    						// @extend .language-float;
    						// float: right;
    						display:inline-block;
    						
    						// width:49%;
    						width:48%;
    						margin-left:1%;
    						margin-right:1%;
    					}

    					&:not(.canvas) {
    						.page-previewer {
    							margin-top:65px !important; // for all - first and not first child		
    						
    							.page-actions-container-top {
    								top:-20px;
    								height:20px
    							}

    						}
    					}

    				}

    				@include media-breakpoint-up(xxl) {
    					// background:green;

							// display:flex;
    					// flex-wrap:wrap;

    					// text-align: left;
    					
    					// text-align: right;
    					// direction: rtl;
    					
    					// flex-direction: row-reverse;
    					
    					width:100%;

    					.page-previewer {
    						text-align: right;
    						direction: rtl;

    						display:inline-block;
    						
    						// width:33%;
    						// width:31.33%;
    						width:30.83%;
    						margin-left:1.25%;
    						margin-right:1.25%;

    						margin-top:50px !important; // for all - first and not first child
    					}

    					&:not(.canvas) {
    						.page-previewer {
    							margin-top:75px !important; // for all - first and not first child		
    						
    							.page-actions-container-top {
    								top:-25px;
    								height:25px
    							}
    						}

    					}

    				}

    				.page-previewer {
    					position:relative;

    					margin-top: 0px;

    					margin-top: 45px;

    					&.cover {
    						margin-top:0px !important;
    					}

    					&:not(:first-child) {
								// margin-top: 32px;
								// margin-top: 40px;
								// margin-top: 45px;
								margin-top: 60px;
    					}

    					// &:last-of-type {
    					// 	// margin-bottom:60px;
    					// 	margin-bottom:120px;
    					// }

    					.page {
    						margin:auto;
    					}

    					// .page-drop-area-container

    					.page-actions-container-top {
    						// @extend .horizontal-center-absolute;	
    						position:absolute;
    						left: 0px;

    						// background: yellow;
    						
    						top:-10px;
    						height: 20px;
    						min-width: 40px;
    						width: 100%;
    						text-align: center;

								.btn {
									text-decoration:none; 
									border:0px; 
									box-shadow:none; 
									font-size:1em; 
									// padding: 2px 5px 2px 5px; 
									padding: 0px; 

									margin: 0px;

									// color: #c8c8c8;
									color: $customer-main-color;

									height:100%;
									line-height:1em;

									vertical-align: top;

									text-transform: none;

									i {
										padding-left: 3px;
										padding-right: 3px;
									}
								}
    					}	


    					.page-actions-container {
								font-size:1.3em; 
								visibility:hidden; 
								direction:ltr;

								@extend .horizontal-center-absolute;
								background:		white; 
								// width:				100%; 
								// left:					0; 
								// bottom: 			-20px; 
								
								// bottom: 			-20px; 
								top: 100%;
								
								// height: 			20px;
								max-height: 32px;
								height:32px;
								
								text-align:   center;
								z-index:			1;
								
								display:block;
								// display:none;
								
								// visibility: hidden;

								display:flex;

								.btn-group {
									&.page-actions {
										visibility: hidden;
										flex: 1;
										display:block;

										.btn {
											text-decoration:none; 
											border:0px; 
											box-shadow:none; 
											font-size:1em; 
											padding: 2px 5px 2px 5px; 

											// margin-top:0px; 
											margin: 0px;

											// color: #c8c8c8;
											color: $customer-main-color;

											height:100%;
											line-height:1em;

											&:first-child {
												padding: 2px 10px 2px 10px;
											}

											svg, i { 
												fill: #c8c8c8;
												line-height: 1em;
											}

											&.auto-layout-btn {
												i {
													margin-top:2px;
												}
											}
										}

										// &.page-add-remove-btns {
										&.page-actions-main-btns {
											// border:1px solid #777;
											// box-shadow: 0px 2px 3px #777;
											box-shadow: 1px 1px 2px rgba(211,211,211,0.5);
											flex:none;
											// min-width:50px;
											border-bottom-left-radius: 7px;
											border-bottom-right-radius: 7px;

											direction: ltr;

											.btn {
												// margin:3px 5px 0px 3px;
												padding: 4px 8px 2px 8px; 

												--fa-secondary-opacity:1; 
												--fa-secondary-color:#d8d8d8; 
												
												&.delete-page-btn {
													--fa-primary-color: var(--remove-page-btn-primary-color);
												}

												&.add-page-btn {
													--fa-primary-color: var(--add-page-btn-primary-color);
												}


												&:first-child {
													padding: 4px 8px 2px 10px; 
												}

												&:last-child {
													padding: 4px 10px 2px 8px; 
												}
												
											}
										}
									}
								}

								.page-counter-container {
									position:absolute;
									width:100%;
									height:100%;
									left:0;
									top:0;

									background:transparent;

									pointer-events:none;

									// color: grey;
									color: #c8c8c8;

									line-height:1.7rem;
								  // font-size:1rem;
								  font-size: 0.85rem;
								  // font-weight: lighter;
								  font-weight: normal;

									&:before {
										content: attr(data-left-counter);

    								height: 100%;
    								white-space: nowrap;
									}

									&:after {																				
										content: attr(data-right-counter);

    								height: 100%;
    								white-space: nowrap;						
									}

								}

								.page-drop-area-container {
									display:flex;
									position:absolute;
									left:0;
									top:0;
									width:100%;
									height:100%;
									background: Gainsboro;
									color: $customer-main-color;

									.left, .right {
										flex:1;
										text-align:center;
										font-size:1em;
										display:table;
										position:relative;

										&:before {
											@extend .horizontal-vertical-center-absolute;
											// content: "+ הוסף לדף";
											// content: "+ הוסף לעמוד";
											display:none;
											white-space: nowrap;
											font-size: 0.7em;;
										}

										&:after {
											@extend .horizontal-vertical-center-absolute;
											// content: "\1F5D1 \000A0 הסר תמונה מעמוד";
											display:none;
											white-space: nowrap;
											font-size: 0.7em;;											
										}

										span {
											display:table-cell;
	    								vertical-align:middle;
	    								height : 100%;

											// vertical-align: middle;
	  									// line-height: normal;
										}

										&.can-drop {
											outline: 2px solid $customer-main-color;
										}

										&.adding {
											&:before {
												display:block;
											}
										}
										&.removing { 
											&:after {
												display:block;
											}
										}
									}

									div:first-of-type {
										border-right: 1px solid $customer-main-color;
									}

								}

								&.adding {
									.page-drop-area-container {
										&:before {
											display:block;
										}
									}
								}

								&.removing {
									.page-drop-area-container {
										&:after {
											display:block;
										}
									}
								}

								&.visible {
								
									.btn-group {
										visibility: visible;
									}

									.page-drop-area-container {
										display: none;
									}
								
								}

								a {
									color: grey;
								}
							
								.add-image-to-page-btn {
									i {
										background: image-url("add_image.svg");
										// background: image-url("google_photos.svg") no-repeat;
										// background: image-url('editor.png');
								    background-repeat: no-repeat;
								    background-size: cover; /* stretch the background to cover the whole element */

								    /* 
								       still inline, but has block features
								       meaning height and width can be set
								    */
								    display: inline-block;
								    height: 20px;
								    width: 20px;										
									}
								}
							}

							// &:not(.album).single {
							&.single {
								.page-actions-container {

									direction: rtl;

									.left, .right {
										display:none;
									}

									.page-actions-main-btns	{

									}
								}
							}

							&.album {
								&.single {
									.page-drop-area-container {
										.right {
											display:none;
										}
									}
								}
							}
    				
    				}

    				.page-previewer.cover {
    					.page-counter-container {

    						

    					}
    				}

    				&.album {
  						.page-previewer {
	  						.page-counter-container {
	  							&:before {
	  								// @extend .vertical-center-horizontal-normalized-absolute;
	  								@extend .vertical-center-absolute;
	  								// left: calc(50% - 60px);
	  								left: 0px;
	  							}
	  							&:after {
	  								// @extend .vertical-center-horizontal-normalized-absolute;
	  								@extend .vertical-center-absolute;
	  								// left: calc(50% + 60px);
	  								right: 0px;
	  							}
	  						}

	  						&.single {
	  							.page-counter-container {
	  								&:before {
	  									@extend .horizontal-vertical-center-absolute;
	  								}
	  							}
	  						}

	  						&.cover {
	  							.page-counter-container {
	  								&:before {
											// @extend .vertical-center-horizontal-normalized-absolute;
											@extend .vertical-center-absolute;
											// left: 25%;
											left: 0px;
										}

										&:after {
											// @extend .vertical-center-horizontal-normalized-absolute;
											@extend .vertical-center-absolute;
											// left: 75%;
											right: 0px;
										}	
									}
	  						
									.left {
										.auto-layout-btn {
											margin-left:1.5em
										}
									}
									.right {
										.auto-layout-btn {
											margin-right:1.5em
										}
									}
	  						}

	  					}
    				}

    				&:not(.album) {
    					.page-previewer {
    						.page-counter-container {

    							font-size: 0.7rem;

    							&:before {
    								@extend .horizontal-vertical-center-absolute;
    							}
    							&:after {
    								display:none;
    							}
    						}

    						.page-actions-container {
    							.page-actions {
    								&.left {
    									text-align:left;
    									.btn {
    										padding-left:0px;
    									}
    								}
    							}
    						}
    					}
    				}

    			}

				}
			}

			.page-container {
				
			}

			.page-image-container {
				
			}

		}
		&-footer {
			min-height: 44px;
			height: 44px;
			line-height:44px;
			// background: $header-color;
			// background: $customer-main-color;

			z-index:2;

			position: relative;

			direction: ltr;

			&.shadowed-root {
				box-shadow: 0px 1px 7px 1px rgba(44, 44, 44, 0.7);
				-webkit-box-shadow: 0px 1px 7px 1px rgba(44, 44, 44, 0.7);
			}

			&.shadowed-pages {
		    box-shadow: 0px 1px 7px 0px $centered-btn-border;
		    -webkit-box-shadow: 0px 1px 7px 0px $centered-btn-border;
			}

			a {
				color: $white-color;
				text-decoration: none;
			}

			.design_book, .add-selected-images-to-page, .select-template-btn, .design_continue_to_pages {
				@extend .client_button_ok;
				@extend .horizontal-center-absolute;
				bottom: 5px;
			}

			.mobile-add-to-cart-btn, .mobile-add-images-btn, .mobile-add-sheet-btn {
				position:relative;
				text-align: center;
				// line-height: 0.55em;
				line-height: 0.60em;

				font-size:1.5em; 
				padding-left:3px; 
				padding-right:3px; 
				
				i {
					margin-top:3px;
					font-size:0.85em;
				}
				span {
					// font-size:0.55em;
					font-size:1rem;
					white-space: nowrap;
				}
			}

			.mobile-cart-btn, .mobile-projects-btn, .mobile-profile-btn {
				font-size:1.5em;
				padding:0 10px;

				color: var(--root_page_bottom_buttons);
			}
			.mobile-cart-btn, .mobile-projects-btn {
				float:left;

				i {
					position:relative;
					
					&:after {
						content: attr(data-after);
				    position: absolute;
				    width: 20px;
				    height: 20px;
				    /* padding-top: 100%; */
				    border: 1px solid var(--root_page_bottom_buttons_notes);
				    color: var(--root_page_bottom_buttons_notes);
				    font-size: 10px;
				    border-radius: 20px;
				    left: 55%;
				    top: -35%;
				    z-index: 1;
				    line-height: 18px;
				    text-align: center;
				    font-weight: bold;
				    background: rgba(255, 255, 255, 0.9);
					}

				}
			}
			.mobile-profile-btn {
				float:right;
			}

			.centered_btn_container {
				// padding-top:3px;
				// padding-bott:3px;
				// border: 1px solid $centered-btn-border;
				span.for_border {
					color: $centered-btn-border;
					font-size: 34px;
					opacity: 0.5;
				}
			}

		}

		

		&-side-menu {
			position: absolute;
			width: 260px;
			z-index:99999;
			// height:100%;
			top:0px;
			bottom: 0px;;
			right:0px;
			background:rgba(255,255,255,.9);

			// -webkit-transition: -webkit-transform 0.2s ease-out;
  	// 	transition: transform 0.2s ease-out;
			-webkit-transition: -webkit-transform 0.3s ease-out;
  		transition: transform 0.3s ease-out;  		

			-webkit-transform: translate3d(100%, 0, 0); 
    	transform: translate3d(100%, 0, 0);

  		&-content {
  			position:absolute;
  			width:100%;
  			left:0;
  			top:44px;
  			bottom:44px;
  			overflow:scroll;
  			-webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  			padding:60px 10px;

  			p {
  				color: #777;
  				text-align: center;

  				text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
  				
  				a {
  					text-decoration: none;
  					color: #777;
  				}
  			}
  		}
  		
			&.open { 
				-webkit-transform: translate3d(0%, 0, 0); 
    		transform: translate3d(0%, 0, 0);
			}

			&-left-border { // for half side border only reason
				position:absolute;
				width:100%;
				top:22px;
				bottom:22px;
				left:0px;
				pointer-events:none;
				background:transparent;

				// box-shadow: -10px 0px 10px 1px #777;
				border-left:1px solid #777;
			}

			.close-menu-icon {
				color: $customer-main-color;
				font-size:1.5em;
				position:absolute;
				line-height:44px;
				padding:0px 10px;
				left:0px;
				top:0px;
			}
		}
	
	}

	.main-viewer {

		width: 100%;
		height: 100%;
		position: absolute;
		z-index: $mobile-viewer-z-index;


		// background: yellow;
	}



	.controllers-container-root {
		display:none;
	}

}

@media screen and (orientation: portrait) {
// moved to handleOrientationChange javascript func
/*
  .mobile-edior {
	  .main-container {
	    display:flex;
	  }
	  .main-viewer {
	  	display:none;
	  }
	}
*/
}
@media screen and (orientation: landscape) {
// moved to handleOrientationChange javascript func
/*
  .mobile-edior {
	  .main-container {
	    display:none;
	  }
  	.main-viewer {
	  	display:flex;
	  }
	}
*/
}



// $background-off-white:#f6f6f6;
$background-off-white:#fafafa;
// $background-off-white-darker:#e2e2e2;

$bleed-color:rgba(66,66,66,.45);
$bleed-width:1px;
$bleed-background:rgba(240,240,240,.40);
$bleed-background-lighter:rgba(240,240,240,.25);
$bleed-zindex:99999;

// $main-yelow-color:rgba(230,196,46,1);
$main-yelow-color:rgba(245,210,56,1);

// $main-red-color:rgba(241,83,154,1);
// $main-red-color:rgba(255,107,112,1);
$main-red-color:rgba(255,50,50,1);
$shop-red-color: #ff6464;
$secondary-red-color:rgba(255,151,151,1);

.color-red-secondary {
	color: $secondary-red-color;	
}
.background-red-secondary {
	background: $secondary-red-color;	
}

.main-yellow-background-color {
	background-color: $main-yelow-color;
}

.background-off-white {
	background-color: $background-off-white;	
}
.main-background {
	background-color: white;		
}

.focused-el {
	// border:1px solid #ff9100;
	// outline:2px solid #ff9100;
	outline:2px solid $main-yelow-color;
	
	// outline-offset: -2px;
}

.focused-el-red {
	outline:3px solid $main-red-color;
}

body {
	overflow:hidden;
	position:fixed;
	left:0;
	right:0;
}

body, .page {

	&.can-drop {
		clip-path: none !important;
		-webkit-clip-path: none !important;
		z-index: 1;
		outline: 3px solid $customer-main-color;
		outline-offset: 2px;

		// border-top: 	 3px solid $customer-main-color;
		// border-bottom: 3px solid $customer-main-color;
		
		&.right, &.left {
			outline:none;

			&:after {
				@extend .vertical-center-absolute;
				content: "";

				height:100%;
				width: calc(50% + 0px);

				outline: 3px solid $customer-main-color;
				outline-offset: 2px;

				z-index: 1;
			}
		}

		&.right {
  		// border-image: linear-gradient(to left, $customer-main-color 50%, #FFF 50%) 100% 1;
  		// border-right: 3px solid $customer-main-color;
  		&:after { 
				left: calc(50% - 0px);
  		}
		}
		&.left {
			// border-image: linear-gradient(to right, $customer-main-color 50%, #FFF 50%) 100% 1;
			// border-left: 3px solid $customer-main-color;
  		&:after { 
				left: calc(0% - 0px);
  		}
		}

	}

	.page_inner {
		// adi baron
		pointer-events: none;
		
		// outline: 1px solid lightgrey;
		border-radius:3px;
		box-shadow: 0 0 3px #777;

		overflow: hidden;

		* {
			// adi baron
			pointer-events: auto;
		}

		// adi baron
		.cropper-container {
			pointer-events:none;
			touch-action:auto !important;
		}
	}

	/* this is to fix issue with ios overflow hidden does not work => show outside of inner page */
	@supports (-webkit-touch-callout: none) {
  	/* CSS specific to iOS devices */ 
  	.page_inner {
	  	overflow: scroll;
	  	-webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
	  }
	}

	&.drop-target, .drop-target {
			// border:2px solid black;
			// border:2px solid #ff9100;

			@extend .focused-el;
	}

	.page-middle {
		position:absolute;
		height: 100%;
		width: 0px;
		
		// border-right: 2px dashed rgba(232,232,232,.5);
		outline: 1px dashed rgba(232, 232, 232, 0.7);
		
		left:50%;
		//transform: translateX(-1px);
		z-index:10000;
	}

	.page-quarter-left {
		position:absolute;
		height: 100%;
		width: 0px;
		outline: 1px dashed rgba(232, 232, 232, 0.7);
		left:25%;
		z-index:10000;
		visibility:hidden;
	}
	.page-quarter-right {
		position:absolute;
		height: 100%;
		width: 0px;
		outline: 1px dashed rgba(232, 232, 232, 0.7);
		left:75%;
		z-index:10000;
		visibility:hidden;
	}

	.el-container-parent {

		position: absolute; 

		// &:hover {
		// 	@extend .focused-el;
		// }

		img {
			-webkit-user-drag: none;
			-khtml-user-drag: none;
			-moz-user-drag: none;
			-o-user-drag: none;
			user-drag: none;
		}

		&.can-drop {
			border: 1px solid $customer-main-color;

			> * {
				visibility:hidden;
			}
		}

		.content-container-root {
			pointer-events: none !important;
		}

		.controllers-container-root {
			display:none;
			pointer-events: none !important;

			.inner_move_image {
				display:none !important;
			}
		}

		&.active {
			.controllers-container-root {
				display:block;
				pointer-events: visible;

				.inner_mover {
					background: rgba(255,255,255,.3);
					i {
						@extend .horizontal-vertical-center-absolute;
						display:block !important;
						font-size:32px;
					}
				}
			}			
		}

		.content-container {
			// .container-overlay {
			// 	background-color:transparent !important;
			// }
			.crop-img {
				visibility: visible !important;
				display: block !important;
			}	
		}		

		.content-container-root, .controllers-container-root {
			position:absolute; 
			left:0px; 
			top:0px; 
			width:100%; 
			height:100%;
		}	

		.controllers-container-root {
			pointer-events: none;
		}

		&:not(.sticker-container) {
			&:not(.active) {
				.content-container {
					&:hover {
						@extend .focused-el;
					}
				}
			}

			.crop-img {
				visibility:hidden;
			}
			.cropper-modal {
				background: white;
				opacity: 1;
			}
		}

		&.sticker-container.in {
			&:not(.active) {
				.content-container {
					&:hover {
						@extend .focused-el;
					}
				}
			}
		}

		&.frame-container {
			pointer-events: none !important;
			* {
				pointer-events: none !important;
			}
		}


		.content-container, .controllers-container {
			position:absolute; 
			left:0px; 
			top:0px; 
			// width:100%; 
			// height:100%;
			right:0px;
			bottom:0px;

			.image-container {
				// new
				position:absolute;
				left:0px;
				top:0px;
				bottom:0px;
				right:0px;
				max-width:100%;
				max-height:100%;
				z-index:3;
			}

			&:not(.content-container-owner-content-container) {
				.image-container {
					width:100% !important;
					height:100% !important;
				}
			}

			.over-container {
				// adi baron
				// display:none;
				position:absolute; 
				left:0px; 
				top:0px; 
				width:100%; 
				height:100%;

				z-index:2;
				pointer-events: none;

				// background-color:rgba(212, 212, 212, 0.4);
				// background-image: image-url('drag.png'); 
				// background-size:cover;
				// background-position:center; 
				// background-repeat:no-repeat; 
			}
		}



		.controllers-container {
			// adi baron
			// display:none;
			pointer-events:none;

			> * {
				pointer-events:all;				
			}
		}

                // .mover is only used for container ... => .horizontal-vertical-center-absolute;
		.mover {
			z-index:3;
			width:50px; 
			height:auto; 
			// position:absolute;
			background-color:rgba(0,0,0,.5); 
			// top:3px; 
			// right:3px; 
			@extend .horizontal-vertical-center-absolute;
		}
		.inner_mover {
			@extend .horizontal-vertical-center-absolute;
		
			max-width:40%;
			width:44px; 
			height:44px;

			cursor: -webkit-grab; 
			cursor: grab;

		 	-webkit-touch-callout: none;
    	-webkit-user-select: none; /* Disable selection/copy in UIWebView */

    	> img {
    		width:100%;
    	}
		}

		.res-indicator {
			// @extend .horizontal-vertical-center-bottom-aligned-absolute-plus-40;
			position:absolute;
			top:10px;
			right:10px;
			// transform: translate(-50%, 0%) !important; 
  		// -webkit-transform: translate(-50%, 0%) !important;			
  		transform: translate(-100%, 0%) !important; 
  		-webkit-transform: translate(-100%, 0%) !important;

			// color:red; 
			color: #ffd43b;
			text-shadow: 0px 2px 1px rgba(0, 0, 0, .6);
			
			z-index:5;

			&:before {
				font-size:20px;
			}
			&:after {
				@extend .horizontal-center-absolute;
				
				// top: 100%;
				top: 110%;
				
				// content: "Low Resolution";
				content: attr(data-txt);
				
				// color: red;
				color: inherit;
				
				text-transform: capitalize;

				font-size:10px;
				
				font-weight:bold;
				
				white-space: nowrap;

				// text-shadow: 0px 2px 1px rgba(0, 0, 0, .7);
			}
		}

		&:not(.contain) {
			.res-indicator {
				display:none;
			}
		}

		.hidden {
			display: none;
		}

		.cropper-container {
			z-index:2;

			// new
			position:absolute;
			left:0px;
			top:0px;
			bottom:0px;
			right:0px;
			max-width:100%;
			max-height:100%;
			width:100% !important;
			height:100% !important;
		}

		.zoom-slider {
			visibility: hidden;

			position:absolute;
			left:-24px;
			bottom:0px;
			height:100%;
			width:auto;
			// display:none;
		
			.rangeslider.rangeslider--vertical {
				height: 100%;
				width: 8px;
				border-radius: 4px;
				min-height: 0px;

				.rangeslider__fill {
					background: #df2d6a;
				}

				.rangeslider__handle {
					width:20px;
					height:20px;
					left: -6px;
				}

				.rangeslider--vertical .rangeslider__handle:after {
					width:8px;
					height:8px;
				}
			}
			// .rangeslider--vertical .rangeslider__fill {
			// 	background: #df2d6a;
			// }
			// .rangeslider--vertical .rangeslider__handle {
			// 	width:20px;
			// 	height:20px;
			// 	left: -6px;
			// }
			// .rangeslider--vertical .rangeslider__handle:after {
			// 	width:8px;
			// 	height:8px;
			// }

		}			

		// .cropped-container {
		// 	z-index:1;
		// 	position:absolute;

			.container-overlay {
				// adi baron
				// display:none;
				position:absolute;
				left:0; right:0; top:0; bottom:0;
				background-color:transparent;

				z-index:3;
				pointer-events: none;

				.spinner {
					height:50px; 
					position:absolute; 
					display:none; 
					z-index:10;
				}
			}
			
			&.background-container {
				.over-container {
					background:none;
				}
			}

			&.image-container {
				
				// background-color:rgba(212, 212, 212, 0.4);
				// background-image: image-url('drag.png'); 
				// background-size:cover;
				// background-position:center; 
				// background-repeat:no-repeat; 
							

				&.contain {
					.over-container {
						background:none;
					}
				}

				&:not(.contain) {
					.inner_mover {
						display:none;
					}
				}

				.dropzone { 
					overflow: hidden; 
				}

			}

			.border-container:not(.is-masked) {
				display:none;
			}

			&.background-container, &.image-container {
				
				&.cropping.no_move {

					.content-container {
						overflow:visible !important;
					}

					.dropzone { 
						overflow: visible; 

						// .cropper-view-box {
						.cropper-wrap-box	{
							overflow: visible;
							opacity: 0.3;
						}

						.cropper-container {
							-webkit-mask-image: none !important;
							mask-image: none !important;
						}
					}					
				}

			}

			&.image-container {
				.over-container {
					// background-color:rgba(212, 212, 212, 0.4);
					// background-color:rgba(232, 232, 232, 1);
					background-color:#f2f2f2;
					// background-image: image-url('drag.png'); 
					background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><g transform='translate(24 0) scale(-1 1)'><g stroke-width='1.5' fill='none'><path d='M13 21H3.6a.6.6 0 0 1-.6-.6V3.6a.6.6 0 0 1 .6-.6h16.8a.6.6 0 0 1 .6.6V13' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 16l7-3l5.5 2.5' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/><path d='M16 10a2 2 0 1 1 0-4a2 2 0 0 1 0 4z' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/><path d='M16 19h3m3 0h-3m0 0v-3m0 3v3' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/></g></g></svg>");
					// background-size:cover;
					// background-size:auto;
					background-size:25%;
					background-position:center; 
					background-repeat:no-repeat; 
				}

				.image-inner-text-container {
					position: absolute;
    			bottom: 0px;
    			left: 0px;
			    width: 100%;
			    background: rgba(241,241,241,1);
			    z-index: 999;
			    text-align: center;
			    
			    // font-size: 10pt;
			    // font-size: 2.25vw;
			    font-weight: bold;
				}
			}
		
		// }

		&.text-container {

			// Do not overwrite by resize!!!
			height:auto !important;

			textarea {
				width:100%;
				background:transparent;
				-webkit-box-shadow:none; 
 		 		box-shadow:none; 
 		 		border-color:transparent ;
 		 		border: 0px solid transparent ;
 		 		resize: none ;
 		 	}
		}
	
		&.left-bleed {
			position:absolute;
			background:$bleed-background;
			height:100%;
			left:0%;	
			border-right:$bleed-width dashed $bleed-color;
			z-index:$bleed-zindex;
			pointer-events: none;
		}
		&.right-bleed {
			position:absolute;
			background:$bleed-background;
			height:100%;
			right:0%;	
			border-left:$bleed-width dashed $bleed-color;
			z-index:$bleed-zindex;
			pointer-events: none;
		}
		&.top-bleed {
			position:absolute;
			background:$bleed-background;
			width:100%;
			top:0%;
			border-bottom:$bleed-width dashed $bleed-color;
			z-index:$bleed-zindex;
			pointer-events: none;
		}
		&.bottom-bleed {
			position:absolute;
			background:$bleed-background;
			width:100%;
			bottom:0%;
			border-top:$bleed-width dashed $bleed-color;
			z-index:$bleed-zindex;
			pointer-events: none;
		}
		&.fold-left {
			background:$bleed-background-lighter;
			top:0%;
			height:100%;
			z-index:$bleed-zindex;
			pointer-events: none;

			visibility:hidden;
		}
		&.fold-right {
			background:$bleed-background-lighter;
			top:0%;
			height:100%;
			z-index:$bleed-zindex;
			pointer-events: none;

			visibility:hidden;
		}
		&.cover_spine {
			@extend .horizontal-center-absolute;

			background:$bleed-background;
			
			top:0%;
			height:100%;
			pointer-events: none;
			z-index:$bleed-zindex;
			
			// border-left:$bleed-width dashed $bleed-color;
			// border-right:$bleed-width dashed $bleed-color;

			// width: 3%;
		
			.cover_spine_inner_right {
				position:absolute;
				height:100%;
				top:0px;
				right:0px;

				width:1px;
				box-shadow: 3px 0px 7px #333;
			}
			.cover_spine_inner_left {
				position:absolute;
				height:100%;
				top:0px;
				left:0px;

				width:1px;
				box-shadow: -3px 0px 7px #333;
			}
		}

	}

	.mobile-modal {
		position:fixed;
		left:0;
		top:0;
		width: 100%;
		height:100%;
		
		z-index:$mobile-modal-z-index;

		// color:white;

		> div {
			@extend .horizontal-vertical-center-absolute;
			// color:white;
		}

		&.hidden {
			display:none;
		}

		&.dark {
			background: rgba(33,33,33,.97);
			
			> div { 
				> div {
					background:white;
				}
			}
		}

		&.bright {
			background: rgba(255,255,255,.97);
			// color: $customer-main-color
		}

		.info-container {
			position:absolute;
			width:100%;
			height:100%;

			.close {
				position: absolute;
				z-index:1;
				top: 7px;
				right: 7px;
				> i { 
					font-size: 1.5em;
					color: black;
				}
			}

			.info-container-inner {
				// width:100%;
				// height:100%;
				// display:flex;
				// flex-direction: column;

				// position:relative;
				width:100%;
				padding:12px;
				@extend .horizontal-vertical-center-absolute;
			
			}
		}

		.yes-no-popup {
			height: auto;
			padding: 30px 20px 40px 20px;
			width:90% !important;
			max-width:375px;
		}

	}
}

.page {
	&:not(.is_template) {
		.page_inner {
			* {
				&.locked {
					pointer-events:none;

					* {
						pointer-events:none ;
					}
				}
			}
		}
	}
}

.spinner-loading,
.spinner-loading:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.spinner-loading {
  margin: 20px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid $customer-main-color;
  border-right: 0.5em solid $customer-main-color;
  border-bottom: 0.5em solid $customer-main-color;
  border-left: 0.5em solid $customer-main-color-half-transparent;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.design-progress {
	white-space: nowrap;
	color: $customer-secondary-color;
}

.gallery-header .main-container-header-inner {
	@extend .main-container-header;
	height:auto !important;
	padding:0 !important;

	.mobile-back-btn {
		padding:0 !important;
	}
}




