.mobile-edior {

	&-pages-sortable-ghost {
		// opacity: 0.3;
		opacity: 1;
		// background-color: $customer-secondary-color;
		background-color: white;
		
		outline-width: 3px;
		outline-color: $customer-secondary-color;
		outline-style: dashed;
		// border: 3px dashed $customer-secondary-color;
		
		// border-radius: 5px;

		// margin-left: 3px;
		// margin-right: 3px;
		
		> * {
			display:none;
		}

		.page-actions-container {
			display:none !important;
		}
	
		&:after {
			@extend .horizontal-vertical-center-absolute;
			white-space: nowrap;
			content: "Drop Here";
			font-size: 2em;
			color: $customer-secondary-color;
		}
	
	}

	&-pages-sortable-chosen {
		opacity: 0.1;
	}

	&-pages-sortable-drag {
		opacity: 0.85 !important;
		// position: absolute;

		.page-actions-container {
			display:none !important;
		}

		.page_inner {

      box-shadow:
        0 1px 0.5px rgba(0, 0, 0, 0.07),
        0 2.7px 1.5px rgba(0, 0, 0, 0.1),
        0 3.5px 2.5px rgba(0, 0, 0, 0.12),
        0 4.8px 3.9px rgba(0, 0, 0, 0.15),
        0 7.8px 5.4px rgba(0, 0, 0, 0.17),
        0 15px 12px rgba(0, 0, 0, 0.24) !important;

      -webkit-box-shadow:  
        0 1px 0.5px rgba(0, 0, 0, 0.07),
        0 2.7px 1.5px rgba(0, 0, 0, 0.1),
        0 3.5px 2.5px rgba(0, 0, 0, 0.12),
        0 4.8px 3.9px rgba(0, 0, 0, 0.15),
        0 7.8px 5.4px rgba(0, 0, 0, 0.17),
        0 15px 12px rgba(0, 0, 0, 0.24) !important;

		}

	}

}