$color_1: rgba(255,255,255,1.0); // white


$white-color: #ffffff;

$grey-color: rgba(99, 99, 99, 0.99);

$lighty-grey-color: rgba(184, 184, 184, 0.99);

// $light-grey-color: #d8d8d8;
$light-grey-color: rgba(216, 216, 216, 0.99);


$light-off-white-color: #f8f8f8;

// $customer-main-color: #6B2C8B; // wow
// $customer-main-color: #364d75; // albume
$customer-main-color: rgba(54, 77, 117, 0.99); // albume

// $customer-secondary-color: #f18e0f; // orange; // wow
// $customer-secondary-color: #02b39c; // albume
$customer-secondary-color: rgba(2, 179, 156, 0.99); // albume
// $customer-secondary-color: red;

$customer-color-link: $customer-main-color;

$customer-main-color-half-transparent: rgba(107, 44, 139, 0.3);
$black-color: #000000;
$light-black-color: #333333;

// $background-color:$white-color;
$background-color:$white-color;
$header-color:$white-color;
$footer-color:$white-color;

$centered-btn-border: $customer-main-color;

$error-color: #cc3300;
$success-color: $customer-secondary-color;

/*
:root {
	--error-color: #{$error-color};
	--remove-page-btn-primary-color: LightCoral;
	--add-page-btn-primary-color: #{$customer-secondary-color};
}
*/
