$template-container-padding:	5px;
$text-template-height:				40px;

$template-container-height-square: 			290px;
$img-template-height-square:        		240px;

$template-container-height-horizontal: 	235px;
$img-template-height-horizontal:        185px;

$template-container-height-vertical: 		310px;
$img-template-height-vertical:        	260px;

.template_select_container {

	padding: 30px 10px;

	.template_container {
		// height: 	$template-container-height;
		// padding: 	$template-container-padding;
		padding: 0px;
		
		&.template_square {
			height: 	$template-container-height-square;
			.img_container, div.img_template {
				height: $img-template-height-square;
			}
		}
		&.template_horizontal {
			height: 	$template-container-height-horizontal;	
			.img_container, div.img_template {
				height: $img-template-height-horizontal;
			}
		}
		&.template_vertical {
			height: 	$template-container-height-vertical;	
			.img_container, div.img_template {
				height: $img-template-height-vertical;
			}
		}

		.template {
			width:100%;
			height:100%;
			// padding-top:20px;
			background-color: #ffffff;
			text-align:center;
			
			&.selected {
				.img_container {
					outline: 1px solid $customer-secondary-color;
					outline-offset: 20px;
				}				
			}

			div.img_template {

				width:auto;
				position:relative;

				.img_container {
					// height: $img-template-height;

					display:inline-block;
					position:relative;
					
					-webkit-box-shadow: 40px 50px 40px -57px rgba(0,0,0,0.75);
					-moz-box-shadow: 40px 50px 40px -57px rgba(0,0,0,0.75);
					box-shadow: 40px 50px 40px -57px rgba(0,0,0,0.75);

					.template-select-img {
						z-index:0; 
						height:100%; 
						width:auto; 
						position:relative; 
					}
					
				}

				&.Canvas {
					.img-template-over {
						display:none;
					}
				}

				.template-select-mask {
					z-index:1; 
					opacity:0.45; 
					width:100%; 
					height:100%; 
					position:relative;
				}

				// img {
				// 	position:absolute;
				// 	max-height:100%;
				// 	width:auto;
				// }
			
				.template_hover {
					display:none;
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					// background-color:rgba(0,0,0,.3);
					background-color:transparent;

					span {
						font-size:2em; 
						color:#ffd200;
					}
				}
			}
			div.title {
				// height: 			$text-template-height;
				// line-height:	$text-template-height;
				text-decoration: none;
				// margin-top:20px;
				margin-top:5px;
			}
		
			// &:hover {

			// 	cursor:pointer;

			// 	div.img_template {
			// 		.template_hover	{
			// 			display:block;
			// 		}

			// 		.template-select-img {
			// 			filter: brightness(0.55);
			// 		}
			// 	}
			// 	div.title {
			// 		text-decoration: underline;
			// 	}
			// }
		}
	}
}