.uploadcare--widget {
	display:none;
}

.images-top-buttons-container {
	
	margin: 0px 0px 15px 0px;
	text-align:center;

	// display:flex;

	> div {
		
		&:first-child {
			display:flex;
		}

		&:last-child {

			font-size: 1.5rem;
			line-height: 4rem;
			padding-top: 15px;

			&.hidden {
				display:none;
			}

			a.delete-images-btn {
				// color: $customer-secondary-color !important;
				color: $error-color;
			}
		}
	}


	.images-add-images-btn, .images-import-images-btn, .images-friends-images-btn {
		display:inline-block;
		@extend .btn;
		padding: 0.5em 0.125em;
		text-align: center;
		line-height: 1em;

		flex: 1;

		> i { 
			margin-bottom: 5px;
		}

		> span {
			font-size: 0.9em;
		}
	}


}

.images-container {
	@extend .hidden-scrollbar;

	display: flex;
	flex-wrap: wrap;
	align-content:flex-start;
	
	.images-container-el {
		
		display:inline-block; 
		padding:2px;
		position: relative;

		&.used {

			.img-used {
				display:block;
			}

		}

		.img-used {
			display:none;
			position: absolute;
			top: 3px;
			left: 3px;
			width: 24px;
			height: 24px;
			border-radius: 12px;
			border-color: $customer-secondary-color;
			border-width: 2px;
			border-style: solid;
			background: rgba(255,255,255,1);
			color: $customer-secondary-color;

			&:after {
				@extend .horizontal-vertical-center-absolute;
				content: attr(data-used-count);
				// content: "X";
				font-size:12px;
				line-height:12px;
				font-weight:bold;
			}
		}		


		&-holder {
			position:relative;
			width:100%; 
			padding-top:100%; 

			// background-size: cover; 
			background-size: contain; 
			background-repeat: no-repeat; 
			
			// background-position: 50% 50%;
			// background-position: 50% 0%;
			background-position: center;
			
			background-color: #f4f4f4;


			// &:before {
			.delete-image-btn {
				position: absolute;
				top: 3px;
				right: 3px;
				width: 24px;
				height: 24px;
				border-radius: 12px;
				// border-color: $customer-secondary-color;
				border-color: $error-color;
				border-width: 2px;
				border-style: solid;
				background: rgba(255,255,255,1);
				opacity: 0.5;
				
				// content: attr(data-left-counter);
				// content: "1";
				// color: grey;
				// white-space: nowrap;
				
				// color: $customer-secondary-color;
				color: $error-color;

				&:after {
					@extend .horizontal-vertical-center-absolute;
					
					// content: "X";
					
					font-family: 'Font Awesome 5 Pro';
					content: "\f2ed";
					
					font-size:12px;
					line-height:12px;
					font-weight:bold;
				}

				&.selected {
					opacity: 1;

					width: 30px;
					height: 30px;
					border-radius: 15px;

					&:after {
						font-size:16px;
						line-height:16px;
					}
				}
			}

		}

		&.album-container {
			.images-container-el-holder {

				&:after {
					position: absolute; 
					content: attr(data-album-title);
					bottom:0;
					left:0;
					width:100%;
					height:2rem;
					line-height:2rem;
					text-align:center;
					font-size:1rem;
					background:rgba(255,255,255,1);
					color: #444444;
				}				

			}

			&.selected {
				border:0px;	
			}
		}

		&.selected {
			&:not(.can-not-import) {
				border: 3px solid $customer-secondary-color;
				padding:5px;
			}
		}

		&.can-not-import {
			
			.images-container-el-holder {
				opacity: 0.2;
			}

			// &.selected {
			// 	border:none;
			// 	padding:0;
			// }
			&:after {
				@extend .horizontal-vertical-center-absolute;
				content: "Can not import";
				width: 100%;
		    height: 1.5rem;
		    line-height: 1.5rem;
		    z-index: 9999;
		    background: transparent;
		    color: #444;;
		    font-size: 1rem;
		    text-align: center;
			}
		}

	}

}

.images-container-page.images-container-page-external {

	.images-container-el {
		
		// .set-cover-image-btn {
		// 	display:none;
		// }
		.set-cover-image-btn {
			position:absolute;
			width:100%;
			height:2rem;
			font-size:1rem;
			bottom:0;
			left:0;
			background-color:inherit;
			display:flex;
			align-items: center;
			justify-content: center;
			color: #aaa;
			cursor: pointer;

			&:after {
				font-family: 'Font Awesome 5 Pro';
				content: "\f02d\00a0\00a0set for cover";
				@extend .horizontal-vertical-center-absolute;
				width:100%;
				text-align:center;
				text-transform: uppercase;

				font-size:10px;
			}    			

			&.selected {
				color: inherit;

				&:after {
					content: "\f02d\00a0\00a0is cover";
				}
			}
		}		

		&.selected {
			.images-container-el-holder {
				// &:after {
			}
		}
	}

}

@media (max-width: 768px) { // 3 elements
  .images-container {
  	.images-container-el {
  		flex: 0 0 32.73%;
			margin: 0.3%;

			&.album-container {
	  		flex: 0 0 49%;
				margin: 0.3%;				
			}
  	}
  }
}
@media (min-width:768px) and (max-width: 992px) { // 4 elements
  .images-container {
  	.images-container-el {
  		flex: 0 0 24%;
			margin: 0.5%;
  	}
  }
}
@media (min-width:992px) and (max-width:1200px) { // 5 elements
  .images-container {
  	.images-container-el {
  		flex: 0 0 18.4%;
			margin: 0.8%;
  	}
  }
}
@media (min-width:1200px) and (max-width:1600px) { // 6 elements
  .images-container {
  	.images-container-el {
  		flex: 0 0 14.66%;
			margin: 1%;
  	}
  }
}
@media (min-width:1600px) { // 7 elements
  .images-container {
  	.images-container-el {
  		flex: 0 0 12.28%;
			margin: 1%;
  	}
  }
}


.images-container-upload-selector {

	.upload-from-btn:not(:first-child) {
		margin-top: 5px;
	}

}

.upload-from-btn {
	@extend .btn;
	color: grey;
	width: 300px;
	margin: 0 auto;
	display:flex;

	i:first-of-type { 
		// padding-left:  	25px;
		// padding-right: 	25px;
		font-size: 			1.5em;
		min-width:      50px;
	}

	i:last-of-type {
		// padding-left:  	25px;
		// padding-right: 	25px;
		font-size: 			1em;
		line-height: 		1.5em;
		color:          inherit !important;
	} 

	span {
		flex:1;
		// line-height: 2.2em;
		line-height: 1.5em;
		// text-transform: capitalize;
		text-transform: uppercase;
	}

	&.phone-btn {
		i {
			color: #333;
		}
	}

	&.friends-btn {
		i {
			color: $customer-secondary-color !important;
			
			line-height: inherit;
			font-size: 1.3em;
		}
	}

	&.facebook-btn {
		i {
			color: #3F72B8;
		}
	}

	&.dropbox-btn {
		i {
			color: #2E79BE;
		}
	}

	&.instagram-btn {
		i {
			color: #8a3ab9;
		}
	}

	&.google-photos-btn {
		i:first-of-type {
			background: image-url("google_photos.svg") no-repeat;
		}
	}

	&.google-drive-btn {
		i:first-of-type {
			background: image-url("google_drive.svg") no-repeat;
			background-size: contain;
		}
	}	

}

.social-container {

	position:absolute;
	width:100%;
	height:100%;

	.social-container-inner {
		
		width:100%;
		height:100%;
		display:flex;
		flex-direction: column;

		position:relative;

		.social-container-inner-selector {

			@extend .horizontal-vertical-center-absolute;

			.social-btn {

				width:300px;
				display:flex;
				margin-top:20px;

				// font-size: 1.2rem;
				// line-height:1.2rem	;

				> div {
					// font-size: 1.2rem;
					// line-height:1.2rem;
					flex:1;
					text-transform: none;
					line-height:32px;
				}

				> img.social-logo {
					height:32px;
					width:auto;				
				}

				&.disabled {
					opacity:0.25;
				}

				&.google-photos-btn {
					background: white;
					color: #3C4043;
				}

				&.google-drive-btn {
					background: white;
					color: #3C4043;
				}

				&.facebook-btn {
					background: white;
					color: #1877F2;
				}

				&.instagram-btn {
					background: white;
					color: #3C4043;
				}
			
			}

		}

		.social-import-container {
			flex:1;
			min-height:1px;;
			width:100%;
			display:flex;
			flex-direction:column;

			.images-container {
				padding-bottom:45px;
			}
		}

		.action-btn{
			@extend .btn;
			background: $customer-secondary-color;
			color: white;
			text-transform: uppercase;
			white-space: nowrap;
		}		

	}
}

.social-container, .preview-container {
	.close {
		position: absolute;
		z-index:1;
		top: 7px;
		left: 7px;

		> i { 
			font-size: 1.5em;
			color: $error-color;
		}
	}
}