

.mobile-text-editor {
	display: flex;
	flex-direction: column;

	width:100%;height:100%;left:0;top:0;
	position: relative;

	&-top-controllers {
		display:flex; 
		position:relative; 
		font-size:1.5em; 
		padding:0.5em 0 0.5em 0; 
		z-index:1;

		&-main-btn {
			flex:1; 
			text-align:center;

			i { vertical-align: middle;}

			&.active {
				color: $customer-secondary-color; 
			}
		}
	
		&-sub-controllers {
			// position:absolute; 
			// flex:1;
			width:100%; 
			// left:0px; 
			// top:calc(100% - 1em); 
			background:white; 
			border-bottom: 1px solid grey; 
			// min-height:2.5em; 
			
			// padding:0.5em 0 0.5em 0;

			height:50px;


			&-element {
				// display:flex; 
				// height:2.5em;

				// overflow-x: scroll;
				// overflow-y: hidden;
				// overflow-y: hidden;
				// overflow-x: scroll;
				overflow:scroll;
				
				white-space: nowrap;

				// touch-action: pan-x;
				touch-action: auto;

				-webkit-overflow-scrolling: touch;
				overflow-scrolling: touch;
				
				// min-width:1px;
				// min-height:1px;
				width: 100%;
				height:100%;

				&.mobile-text-editor-top-controllers-sub-controllers-position {
					display:flex;
					direction:ltr;
				}
				&.mobile-text-editor-top-controllers-sub-controllers-color {
					display:block;
				}
				&.mobile-text-editor-top-controllers-sub-controllers-size {
					display:block;
				}
				&.mobile-text-editor-top-controllers-sub-controllers-font {
					display:block;
				}

				.mobile-text-edit-colors-container {
					// display: inline-flex;
					// display: inline-block;
					display: flex;
  				flex-wrap: nowrap;
  				overflow-x: scroll;
  				overflow-y: hidden;
					
					white-space: nowrap;

					direction: ltr;
					
					height:50px;
					

					// overflow-x: scroll;
					// overflow-y: hidden;
					// touch-action: pan-x;
					// // -webkit-overflow-scrolling: touch;
					// // overflow-scrolling: touch;
					// min-width:1px;
					// min-height:1px;
					line-height: 2.5em;
					// padding: 0.5em 0;
					padding: 2px;

					
					touch-action: pan-x;
					-webkit-overflow-scrolling: touch;
					overflow-scrolling: touch;

					.mobile-text-editor-top-controllers-sub-controllers-element-btn {
						flex: 0 0 auto;
					}
				}

				.mobile-text-edit-size-container {
					display:block;
					flex:1;
					line-height: 2.5em;
					padding: 0.5em 1em;
					text-align:center;

					direction: ltr;

					height:50px;

					.slider {
					  -webkit-appearance: none;
					  // width:250px;
					  width:100%;
					  height: 10px;
					  border-radius: 5px;
					  background: #d3d3d3;
					  outline: none;
					  opacity: 0.7;
					  -webkit-transition: .2s;
					  transition: opacity .2s;

					  position:relative;

					  vertical-align: bottom;
					  margin-bottom:10px;
					
					  &:before {
					  	position:absolute;
					  	left:0px;
					  	top:-35px;
					  	font-size:1rem;
					  	content: "small";
					  }
					  &:after {
					  	position:absolute;
					  	right:0px;
					  	top:-35px;
					  	font-size:1rem;
					  	content: "big";
					  }
					}

					.slider:hover {
					  opacity: 1;
					}

					.slider::-webkit-slider-thumb {
					  -webkit-appearance: none;
					  appearance: none;
					  width: 25px;
					  height: 25px;
					  border-radius: 50%;
					  background: #04AA6D;
					  cursor: pointer;
					}

					.slider::-moz-range-thumb {
					  width: 25px;
					  height: 25px;
					  border-radius: 50%;
					  background: #04AA6D;
					  cursor: pointer;
					}
					
				}

				ul.mobile-text-edit-font-container {
			
					list-style: none;
					
					// margin: 0;
					// padding: 0;
					margin: 3px;
					padding: 3px;

					white-space: nowrap;

					// display:inline-block;
					display: flex;
  				flex-wrap: nowrap;
  				overflow-x: scroll;
  				overflow-y: hidden;

  				direction: ltr;
					
					// height:100%;
					height:50px;

					// vertical-align:middle;

					touch-action: pan-x;
					-webkit-overflow-scrolling: touch;
					overflow-scrolling: touch;

					li {
						// display: inline;
						display: inline-block;
						flex: 0 0 auto;
						
						height: 100%;
						
						line-height:40px;

						font-size: 0.75rem;
						padding: 0 0.5rem;
						border-right: 1px solid lightgrey;

						&.active {
							font-weight: bold;
							color: $customer-secondary-color;
						}
					}
				}

				&-btn {
					flex:1; 
					text-align:center; 
					padding:0.5em 0.125em;
				
					&.active {
						color: $customer-secondary-color;
					}

					&.rounded {
						border-radius:1.5em !important;
						border:1px solid grey;
						
						// min-width:1.5em;
						// height:1.5em;
						min-width:2em;
						height:2em;
						
						margin:0 0.25em;
						display:inline-block;
						vertical-align: bottom;					
						
						&.active {
							border:5px solid $customer-secondary-color;
							min-width:2.25em;
							height:2.25em;
							margin-top: -0.25em;
						}
					}
				}
			}
		}	

	}

	&-bottom-controllers {
		min-height:20px;
		// background:yellow;

		.mobile-text-editor-submit {
			@extend .btn;
			@extend .bigger;
			// background-color: $customer-secondary-color;
			color: white;
			display:block;
			text-align: center;
		}
	}

}