.mobile-image-editor, .mobile-cover-editor {

	display: flex;
	flex-direction: column;

	width:100%;height:100%;left:0;top:0;

	.mobile-image-cropper, .mobile-cover-selector	{
		flex:1;
		position:relative;
		overflow:hidden;
	}

	.mobile-image-text-editor, .mobile-cover-text-editor {
		// background: yellow;
		// padding:20px;
		
		// padding:0.75rem;
		margin:0.75rem 0.75rem 1.5rem 0.75rem;
		
		text-align:center;

		line-height:1.5rem; 
		
		font-size:1rem; 
		
		color: #777;

		> p {
			margin:0em 0.5em 0.25em 0.5em;
		}
	}

	.mobile-image-apply-container, .mobile-cover-apply-container {
		background: white;
		margin: 0px auto 1rem auto;
		
		text-align: center;

		.mobile-image-apply-button, .mobile-cover-apply-button {
			@extend .btn;
			@extend .bigger;
			background-color: $customer-secondary-color;
			color: white;
			border-radius: 5px;
		}
	}

}



.cropper-view-box {
	outline-width:0px;
}

.cropper-crop-box {

	.cropper-dashed {
    border: 1px dashed #f2f2f2 !important;
    display: block;
    opacity: 0.85 !important;
    position: absolute;

    &.dashed-h {
    	border-left:none !important;
    	border-right:none !important;
    }
    &.dashed-v {
    	border-top:none !important;
    	border-bottom:none !important;
    }
	
	}

}