#projects-container {

	width:100%; 
	height:100%; 
	// overflow-x:hidden; 
	// overflow-y:scroll;
	overflow-y:visible;

	max-width: 800px;
	margin: auto;

	.projects-container-inner {

		.product-link {
			display:flex; 
			padding:2em 0; 
			// margin:0px 1em; 
			border-bottom: 1px solid #d4d4d4;
		
			.product-link-data {

				flex:1;
				// padding: 0px 5px;

				.product-link-data-title {
					// text-align: center;
					
					line-height: 1em;
					padding-top: 0;
					padding-bottom: 1.5rem;
				}

				.product-link-data-actions {
					// a.btn {
					a {
						// display: block;
						display:flex; 
						flex-direction:row-reverse; 

						// padding-left: 5px;
						// padding-right: 5px;
						
						// padding-top:0.6rem; 
						// padding-bottom:0.6rem;
						// padding: 0.6rem 0 0.33rem 0;

						margin: 0px 2px 12px 2px;
						
						// color: $customer-secondary-color;
						background-color: var(--projects_buttons_color) !important;
						color: var(--projects_buttons_text) !important;
						border-color: var(--projects_buttons_border) !important;
						border-radius: var(--projects_buttons_rounded) !important;						

						text-transform: capitalize; 
						// font-size:0.9rem; 

						text-decoration: none;

						max-width:200px;

						i {
							width:20px;
							// line-height:0.9rem;
							line-height:0.9rem;
						}
						span {
							flex:1; 
							line-height:1rem;
						}
					}
				}

				.product-link-data-container {
					padding-top:10px;

					.product-link-data-container-details {
						padding:0px 20px 0px 20px;
						color: $grey-color;
					}
				}

			}

		}

	}
}

.product-link-image, .shopping-cart-item-image {
	
	width: 45%;
	margin: 0px 15px;
	position: relative;
	
	&-container-image {
		// adi baron
		// position:absolute;
		position:relative;

		line-height:0;
		
		top:0px;
		left:0px;
		width:100%;
		
		// adi baron
		// padding-top:100%; 

		// background-size:contain;
		background-size: cover;
		background-repeat: no-repeat;
		// background-position:50% 50%;

		// -webkit-box-shadow: 40px 50px 40px -57px rgba(0,0,0,0.75);
		// -moz-box-shadow: 40px 50px 40px -57px rgba(0,0,0,0.75);
		// box-shadow: 40px 50px 40px -57px rgba(0,0,0,0.75);
		// -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.75);
		// -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.75);
		// box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.75);
		-webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.50);
		-moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.50);
		box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);		
		
		// adi baron
		img {
			width:100%;
			object-fit: cover;
		}

		&.Album {
			
			position: relative;
			height: 0;
			// padding-top: TODO in js

			overflow:hidden; // due to 200% width
			
			> img {
				
				position:absolute;
				top: 0;
				
				width:200%;
				max-width: none; // override cart.scss def
			}

			&.rtl {
				direction:ltr;

				> img {
					left:0;
				}
			}
			&.ltr {
				direction:rtl;	

				> img {
					right:0;	
				}				
			}
		}

		&-mask {
			position: absolute;
	    display:none;

	    left: 0px;
	    right:0px;

	    &.Album {
  	    top: 0px;
	    	bottom: 0px;
		    
		    img {
		    	opacity: 0.75;
		    	width:100%; 
		    	height:100%;
		    }
		  }
		  &.Calendar {
		  	top: 0px;
		  	transform: translateY(-70%) !important;
		  }
		}

		&.Album {
			.product-link-image-container-image-mask.Album, .shopping-cart-item-image-container-image-mask.Album {
				display:block;
			}
		}

		&.Album.rtl {
			.product-link-image-container-image-mask.Album, .shopping-cart-item-image-container-image-mask.Album {
				// transform is done while we use book-mask-ltr.png 
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}
		}

		&.Calendar {
			.product-link-image-container-image-mask.Calendar, .shopping-cart-item-image-container-image-mask.Calendar {
				display:block;
			}	
		}
	}
}

.product-link-image {
	
	padding: 0px;

	@include media-breakpoint-up(sm) {
		padding: 0 20px !important;
	}

	@include media-breakpoint-up(md) {
		padding: 0 40px !important;
	}

	@include media-breakpoint-up(lg) {
		padding: 0 60px !important;
	}

	@include media-breakpoint-up(xl) {
		// padding: 0 90px !important;
		padding: 0 60px !important;
	}

}



.shopping-cart-table {

	padding-top: 1.5em;

	.shopping-cart-item {
		margin-top: 1.25em;

		&-image {
			padding-top: 1.25em !important;
		}

		&-description {
			padding: 1.25em 1.25em 2.5em 0em !important;
		}
	}

}


