<!DOCTYPE html>
<html class="mobile-edior">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">

    <title>PicndoPrint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Meta tags for full screen mobile (apple only ???) -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <!-- <meta name="apple-mobile-web-app-title" content="Picndo Editor" /> -->
    <!-- <meta name="apple-mobile-web-app-title" content="WOW APP" /> -->
    <meta name="apple-mobile-web-app-title" content="Picndo Mobile" />

    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!-- for ios content can be - default / black / black-translucent -->
    <!-- this is as body background -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <!-- this is white -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- this is black -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->

<!--     <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo_wow_180x180.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/wow_spash_375x667.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/wow_spash_375x667.png"
    /> -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logo_albume_180x180.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/albume_spash_375x667.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/albume_spash_375x667.png"
    />    

    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script> -->
    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.css" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.js"></script> -->
    


    <!-- END - Meta tags for full screen mobile (apple only ???) -->

    <%= stylesheet_link_tag    "languages/language-#{current_direction}" %>

    <%= stylesheet_link_tag    'print_shared/mobile/mobile_editor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'print_shared/mobile/mobile_editor', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" rel="stylesheet">

    <!-- <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> -->
    <!-- <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script> -->

    <%#= render partial: "style/album_edit_translate" %>
  
    <%= javascript_tag "window._token     = '#{form_authenticity_token}';" %>
  
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= current_language %>";
    
      g_is_mobile = <%=@is_mobile%>;
    </script>
      
  </head>

  <body class='<%="font-#{I18n.locale}"%>' >
    
    <script>

      function is_fullscreen() {
        // let displayMode = 'browser';
        
        const mqStandAlone = '(display-mode: standalone)';
        
        if (navigator.standalone || window.matchMedia(mqStandAlone).matches) {
          // displayMode = 'standalone';

          return true;
        } else {
          return false;
        }

      }

      /****************************************************
           Prevent body rubberband scrolling stratching
      *****************************************************/
      // if ( !is_fullscreen() ) {  
      if (false) {
      // if (false) {  
        document.body.addEventListener('touchmove', function(event) {
          event.preventDefault();
        }, {
          passive: false,
          useCapture: false
        });

        window.onresize = function() {
          $(document.body).width(window.innerWidth).height(window.innerHeight);
        }

        $(function() {
          window.onresize();
        });
      }

      /*****************************************************
        END - Prevent body rubberband scrolling stratching
      ******************************************************/
    </script>


    <%= yield %>
    
    <!-- <div class="mobile-modal hidden"> -->
    <div class="mobile-modal bright">  
      <div style="text-align:center;">
        <div class="spinner-loading">Loading...</div>
      </div>
    </div>
  
    <%#= render partial: "pages/handlebars"%>
    <%= render partial: "mobile/mobile_handlebars"%>

  </body>
</html>
