.cropped-container {

	&.active {
		z-index: 1;
	}

	.cropper-view-box {
		outline-color: #17a2b8;
		outline: 0px solid
	}

	// overloading
	.cropper-disabled {
		
		.cropper-drag-box {
	  	cursor: pointer;
		}
	}

	.cropper-drag-box {
		background: red;
		opacity:0;
	}

	.cropper-container-disabled .cropper-container-drag-box,
  .cropper-disabled .cropper-face,
  .cropper-disabled .cropper-line,
  .cropper-disabled .cropper-point {
    cursor: pointer !important;
  }

}
