.vertical-center-absolute {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%) !important;
}

.vertical-center-horizontal-normalized-absolute {
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.horizontal-center-absolute {
	position: absolute;
  left: 50%;
  transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
}

.horizontal-vertical-center-absolute {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
}

.editor-horizontal-vertical-center-absolute {
  position: absolute !important;
  left: 50%;
  // top: calc(50% + 5px);
  top: calc(50% - 2px);
  // top: calc(50% + 0px);
  //transform: translateZ(0) translate(-50%, -50%) !important;
  //-webkit-transform: translateZ(0) translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
}

.horizontal-vertical-center-top-absolute {
  position: absolute !important;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
}

.horizontal-vertical-center-bottom-absolute {
  position: absolute !important;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 50%) !important;
  -webkit-transform: translate(-50%, 50%) !important;
}

.horizontal-vertical-center-bottom-aligned-absolute {
  position: absolute !important;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%) !important;
  -webkit-transform: translate(-50%, 0%) !important;
}

.horizontal-vertical-center-bottom-aligned-absolute-plus-40 {
  position: absolute !important;
  left: 50%;
  top:  calc(100% - 40px);
  transform: translate(-50%, 0%) !important;
  -webkit-transform: translate(-50%, 0%) !important;
}

.horizontal-vertical-center-bottom-aligned-absolute-plus-35 {
  position: absolute !important;
  left: 50%;
  top:  calc(100% - 35px);
  transform: translate(-50%, 0%) !important;
  -webkit-transform: translate(-50%, 0%) !important;
}

.horizontal-vertical-center-bottom-aligned-absolute-plus-50 {
  position: absolute !important;
  left: 50%;
  top:  calc(100% - 50px);
  transform: translate(-50%, 0%) !important;
  -webkit-transform: translate(-50%, 0%) !important;
}

.horizontal-vertical-center-bottom-aligned-absolute-plus-55 {
  @extend .horizontal-vertical-center-bottom-aligned-absolute-plus-50;
  top:  calc(100% - 55px);;
}

.picndo-popover .popover-body > div:after {
  content: attr(data-name);
  @extend .horizontal-vertical-center-bottom-aligned-absolute;
  width:100%;
  height:20px;
  line-height:20px;
  font-size:16px;
  
  // background: rgba(255,255,255,.5);
  color:#444;
  text-align:center;

  white-space: nowrap; // => do not break for long name
  overflow: hidden;    // => do not overflow for long name
}

.picndo-popover .popover-header {
  text-align: center;
}

.bootstrap-select {
  .inner.show {
    position:initial;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.md-form {
  label {
    transform: translateY(-12px) scale(1.03) !important;
    font-size:1.1rem !important;
  }
}

.product-form {
  padding-bottom: 3rem;
}


.form-check-label.spree-radio-label {
  span.spree-radio-label-custom-input + span{
    line-height:16px
  }
  input:checked + span.spree-radio-label-custom-input {
    filter: var(--filter_color);
    -webkit-filter: var(--filter_color);
  }
}
@media (min-width: 992px) {
  .form-check-label.spree-radio-label {
    span.spree-radio-label-custom-input + span{
      line-height:27px
    }
  }
}